﻿<div ng-controller="GestionarFacturaOtrosConceptosCtrl" ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Número </label>
                            <span class="form-control">{{Modelo.NumeroDocumento}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Fecha </label>
                            <input name="fecha" type="date" class="form-control" ng-model="Modelo.Fecha" ng-disabled="Deshabilitar" ng-blur="AsignarFecha(ModeloFecha)">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input type="text" class="form-control" placeholder="Seleccione un Cliente" ng-model="Modelo.Cliente" autocomplete="off"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-disabled="DeshabilitarCliente" ng-blur="AsignarCliente(Modelo.Cliente);Modelo.Cliente=VerificarAutocomplete(Modelo.Cliente);MostrarCriteriosBusqueda()">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="facturarA">Facturar A </label>
                            <input type="text" class="form-control" placeholder="Seleccione Facturar A" ng-model="Modelo.FacturarA" autocomplete="off"
                                   uib-typeahead="FacturarA as FacturarA.NombreCompleto for FacturarA in AutocompleteTercero($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-disabled="DeshabilitarFacturarA" ng-blur="Modelo.FacturarA=VerificarAutocomplete(Modelo.FacturarA);">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="formadepago">Forma de Pago </label>
                            <select name="formadepago" class="form-control" ng-disabled="Deshabilitar" ng-model="Modelo.FormaPago" ng-options="i.Nombre for i in ListadoFormaPago" ng-change="AsignarFormaPago(Modelo.FormaPago.Codigo)"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12" id="DiasPlazo">
                        <div class="form-group">
                            <label for="diasplazo">Dias Plazo</label>
                            <input class="form-control" name="diasplazo" type="text" maxlength="10" id="diasplazo" ng-disabled="Deshabilitar" placeholder="Ingrese los dias de plazo" ng-keyup="MaskNumero()" ng-model="Modelo.DiasPlazo" ng-blur="AsignarDiasPlazoPago(DiasPlazoPago)">
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" maxlength="250" name="observaciones" type="text" ng-model="Modelo.Observaciones" ng-disabled="Deshabilitar"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Seccion Otros Conceptos-->
            <div class="box box-default box-solid" ng-show="Modelo.Cliente.Codigo > 0 || (Sesion.UsuarioAutenticado.ManejoFacturarA == true && Modelo.FacturarA.Codigo > 0)">
                <div class="box-header with-border">
                    <h3 class="box-title">OTROS CONCEPTOS</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12 mb-3">
                            <button type="button" class="btn btn-primary" ng-click="InicializarVistaModalConceptoFactura()" tabindex="1" ng-disabled="Deshabilitar" title="Agregar nuevo concepto">
                                Nuevo Concepto <span class="glyphicon glyphicon-plus"></span>
                            </button>
                        </div>
                        <div class="col-sm-12" ng-show="ListadoOtrosConceptosFactura.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Concepto</th>
                                        <th>Descripción</th>
                                        <th>Valor</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoOtrosConceptosFactura | orderBy:'ConceptoVenta.Codigo'">
                                        <td>{{item.ConceptoVenta.Nombre}}</td>
                                        <td>{{item.Descripcion}}</td>
                                        <td align="right">{{MaskValoresGrid(item.ValorVenta)}}</td>
                                        <td align="right">
                                            <button class="button mini-button btn-primary" title="Editar" ng-click="EditarConcepto(item.indice)" ng-disabled="Deshabilitar">
                                                <span class="fa fa-edit"></span>
                                            </button>
                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="ConfirmacionEliminarConcepto(item.ConceptoVenta.Nombre, item.indice)" ng-disabled="Deshabilitar">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros1 > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros1 > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros1}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros1 > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                                <tfoot ng-if="totalRegistros1 == 0 && Buscando == false">
                                    <tr>
                                        <td colspan="4" style="color:red; text-align:center">
                                            <small>{{ResultadoSinRegistros}}</small>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--Seccion Otros Conceptos-->
            <!--Impuestos-->
            <div class="box box-default box-solid" ng-show="Modelo.Cliente.Codigo > 0 || (Sesion.UsuarioAutenticado.ManejoFacturarA == true && Modelo.FacturarA.Codigo > 0)">
                <div class="box-header with-border">
                    <h3 class="box-title">IMPUESTOS</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row mb-3">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-primary" ng-click="RestablecerImpuestos()" tabindex="1" ng-disabled="Deshabilitar" title="Restablecer Impuestos">
                                Restablecer Impuestos <span class="glyphicon glyphicon-refresh"></span>
                            </button>
                        </div>
                    </div>
                    <div class="row" ng-show="ListaImpuestosAgregadosConceptos.length > 0">
                        <div class="col-sm-12">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Valor Base</th>
                                        <th>Tarifa</th>
                                        <th>Valor Impuesto</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListaImpuestosAgregadosConceptos | orderBy:'Codigo'">
                                        <td>{{item.Nombre}}</td>
                                        <td align="right">{{MaskValoresGrid(item.valor_base)}}</td>
                                        <td align="right">{{MaskDecimalesGrid(item.Valor_tarifa)}}</td>
                                        <td align="right">{{MaskValoresGrid(item.Valor_impuesto)}}</td>
                                        <td align="center" width="10px">
                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="ConfirmacionEliminarImpuesto(item)" ng-disabled="Deshabilitar">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--Impuestos-->
            <!--Totales-->
            <div class="box box-default box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">TOTALES</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Valor Otros Conceptos</label>
                                <input type="text" class="form-control text-right" ng-model="Modelo.ValorOtrosConceptos" disabled>

                                <!--<span class="form-control text-right" disabled>{{Modelo.ValorOtrosConceptos | number :0}}</span>-->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Valor Impuestos</label>
                                <input type="text" class="form-control text-right" ng-model="Modelo.ValorImpuestos" disabled>

                                <!--<span class="form-control text-right" disabled>{{Modelo.ValorImpuestos | number :0}}</span>-->
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Valor Factura</label>
                                <input type="text" class="form-control text-right" ng-model="Modelo.ValorFactura" disabled>

                                <!--<span class="form-control text-right" disabled>{{Modelo.ValorFactura | number :0}}</span>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Totales-->
            <!--Oficina y Estado-->
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="nombre">Oficina</label>
                        <input class="form-control" ng-model="Modelo.Oficina.Nombre" disabled>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label for="estado">Estado</label>
                        <select name="estado" class="form-control" ng-model="Modelo.Estado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstados" ng-blur="AsignarEstado(ModalEstado)"></select>
                    </div>
                </div>
            </div>
            <!--Oficina y Estado-->
            <!--SECCIÓN BOTONES-->
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-right">
                        <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                            Cancelar
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                            Aceptar
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Otos Conceptos -->
    <div class="modal fade" id="modalConceptoFactura" tabindex="-1" role="dialog" aria-labelledby="myModalConceptoFactura" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="CerrarModalConcepto()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Concepto</strong>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorConceptos.length > 0">
                                            <ul>
                                                <li ng-repeat="error in MensajesErrorConceptos">
                                                    <span>{{error}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="concepto">Concepto</label>
                                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un Concepto" ng-model="Concepto"
                                                   uib-typeahead="Concepto as Concepto.Nombre for Concepto in AsignarListadoConcepto($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                   ng-blur="Concepto=VerificarAutocomplete(Concepto)" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <div class="input-control text full-size" data-role="input">
                                                <label for="descripcion">Descripción</label>
                                                <textarea class="form-control" maxlength="250" name="descripcion" type="text" placeholder="Ingrese una descripción" ng-model="DescripcionConcepto" ng-disabled="Deshabilitar" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label for="valor">Valor</label>
                                            <input name="valor" class="form-control text-right" type="text" id="valor" placeholder="Ingrese un valor" ng-change="MaskNumero();MaskValores()" ng-model="ValorConcepto" autocomplete="off">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="CerrarModalConcepto()">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="CargarConceptos()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Otos Conceptos -->
    <!-- Modal Confirmación Eliminar Concepto -->
    <div class="modal fade" id="modalEliminarConcepto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Eliminar Concepto</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p class="text-center">¿Esta seguro que desea eliminar el concepto : <strong>{{TmpEliminarConcepto.Concepto}}</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar Concepto" ng-click="EliminarConcepto(TmpEliminarConcepto.Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Concepto -->
    <!-- Modal Confirmación Eliminar Impuesto -->
    <div class="modal fade" id="modalEliminarImpuesto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Eliminar Impuesto</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p class="text-center">¿Esta seguro que desea eliminar el impuesto : <strong>{{TmpEliminarImpuesto.Nombre}}</strong>?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar Impuesto" ng-click="EliminarImpuesto(TmpEliminarImpuesto)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Impuesto -->
</div>
