﻿<div ng-controller="ConsultarPlanMantenimientoEspecialCtrl">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <section class="content-header">
        <h1>CONSULTAR PLANES MANTENIMIENTO</h1>
    </section>

    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">

                    <div class="col-md-6 col-sm-8 col-xs-12">
                        <div class="form-group">
                            <label for="Nombre">Nombre</label>
                            <input type="text" class="form-control" maxlength="50" ng-model="Nombre" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Nombre">Código Alterno</label>
                            <input type="text" class="form-control" maxlength="50" placeholder="Ingrese código" ng-model="CodigoAlterno" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="estado">Estado</label>
                            <select name="estado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div id="lineButtons">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nuevo">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <br />
            <hr />
            <div id="resultadoConsulta" class="table-responsive" ng-show="ListadoPlanMantenimiento.length > 0">
                <table class="table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr>
                            <!--<th>Codigo</th>-->
                            <th>Nombre</th>
                            <th>Código Alterno</th>
                            <th>Estado</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in ListadoPlanMantenimiento | orderBy:'Nombre'">

                            
                            <td><a href="#!GestionarPlanMantenimiento/{{item.Codigo}}">{{item.Nombre}}</a></td>
                            <td>{{item.CodigoAlterno}}</td>
                            <td>
                                <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">Borrador</span>
                                <span ng-if="item.Anulado == 1" class="label label-danger">Anulado</span>
                            </td>
                            <td>
                                <button class="button  primary btn-xs" title="Asociar Equipos" data-toggle="tooltip" ng-click="AbrirModalAsociacion(item)" ng-disabled="DeshabilitarImprimir" onclick="showModal('modalasociacionEquipos')">
                                    <span class="fa fa-car"></span>
                                </button>
                                <button ng-if="item.EstadoDocumento.Codigo == 8656 && item.Anulado == 0" class="button  primary btn-xs" title="Cambiar Estado" data-toggle="tooltip" ng-click="CambiarEstado(item)">
                                    <span class="glyphicon glyphicon-repeat"></span>
                                </button>
                                <button class="button mini-button primary" title="Imprimir Reporte" ng-click="DesplegarInforme(item.Codigo)" ng-disabled="DeshabilitarImprimir">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                        <tr>
                            <td colspan="4">
                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                        <span class="item">&laquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                        <span class="item">&lsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                        <span class="item">&rsaquo;</span>
                                    </button>
                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                        <span class="item">&raquo;</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                    <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                        <tr>
                            <td colspan="4" style="color:red; text-align:center">
                                <small>{{ResultadoSinRegistros}}</small>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </form>
    </section>
    <!-- Modal Confirmación Anular Tarea Mantenimiento-->
    <div class="modal fade" id="modalConfirmacionAnularTarea" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET PASAJEROS
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de anular la tarea de mantenimiento No. {{NumeroAnulacion}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="SolicitarDatosAnulacion()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!-- Modal Asignar datos anulación-->
    <div class="modal fade" id="modalDatosAnularTarea" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">

                            GESTRANS.NET PASAJEROS
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>Tarea de mantenimiento No. {{NumeroAnulacion}}</p>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label for="causaAnulacion">Causa Anulación<small class="small">*</small></label>
                                    <input class="form-control" name="causaAnulacion" type="text" ng-model="CausaAnulacion">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="fechaAnulacion">Fecha Anulación</label>
                                    <span class="form-control">{{FechaAnulacion | date: 'dd/MM/yyyy HH:MM'}}</span>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Usuario anula</label>
                                    <span class="form-control"> {{Sesion.Identificador}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Anular(CausaAnulacion)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->

    </div>
    <div class="modal fade" id="modalasociacionEquipos" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asociar Equipos</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDetalle.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorDetalle">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">

                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <h4><strong>Plan :{{ItemTemp.Nombre}}</strong> </h4>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="equipo">Equipos disponibles</label>
                                            <select id="equipo" data-live-search="true" class="form-control" data-style="btn-white" ng-model="EquipoMantenimiento" ng-options="i.NombreCompleto for i in ListadoEquipoMantenimiento"></select>
                                        </div>
                                    </div>

                                </div>
                                <br />
                                <div class="pull-right">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                            <button type="button" class="btn btn-success" title="Adicionar" ng-click="AdicionarEquipo()">
                                                Adicionar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <hr />
                                <div id="resultadoConsulta" class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Equipos Relacionados</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListaEquipos">
                                                <td>{{item.NombreCompleto}}</td>
                                                <td style="text-align:right">
                                                    <button class="button mini-button danger" title="Eliminar Tramo" ng-click="EliminarEquipo($index,item)">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Cancelar
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-click="AsociarEquipos()">
                                        Aceptar
                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal fade" id="ModalEstado" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>CambiarEstado</strong>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="">¿Desea cambiar el estado del plan de mantenimiento: {{itemEstado.Nombre}} a borrador?</label>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <div class="pull-right">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">
                                        Cancelar
                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary" ng-click="CambiarEstadoPlan()">
                                        Aceptar
                                        <span class="glyphicon glyphicon-ok-circle"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>