﻿<div ng-controller="GestionarOrdenTrabajoMantenimientoEspecialCtrl">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!---->
    <section class="content-header">
        <h1>GESTIONAR ORDENES DE TRABAJO</h1>
    </section>

    <section class="content">

        <div class="row">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="box-group" id="accordion">
                        <div class="panel box box-primary">
                            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="box-body">



                                    <form>
                                        <div id="filtrosConsulta">
                                            <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                                                <ul>
                                                    <li ng-repeat="error in MensajesError">
                                                        <span>{{error}}</span>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="row">
                                               
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="fecha">Fecha </label>
                                                        <input name="fecha" type="date" class="form-control" ng-model="Modelo.Fecha" ng-disabled="Deshabilitar" ng-blur="AsignarFecha(ModeloFecha)">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="fecha">Fecha Entrega</label>
                                                        <input name="fecha" type="date" class="form-control" ng-model="Modelo.FechaEntrega" ng-disabled="Deshabilitar" ng-blur="AsignarFecha(ModeloFecha)">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="equipo">Equipo</label>
                                                        <select id="equipo" data-live-search="true" class="form-control" data-style="btn-white" ng-model="Modelo.Equipo" ng-options="i.Nombre for i in ListadoEquipoMantenimiento"></select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="conductor">Proveedor<small class="errorField">*</small></label>
                                                        <input ng-change="MaskMayus()" maxlength="60" type="text" class="form-control" name="Proveedor" id="Proveedor" placeholder="Seleccione un proveedor" ng-model="Modelo.Proveedor" typeahead-no-results="myform.conductor.$error.required" uib-typeahead="Proveedor as Proveedor.NombreCompleto for Proveedor in AutocompleteProveedores($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" autocomplete="off">
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="conductor">Contacto Entrega</label>
                                                        <input class="form-control" ng-change="MaskMayus()" maxlength="50" ng-model="Modelo.ContactoEntrega" placeholder="Contacto Entrega">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="estado">Estado</label>
                                                        <select name="estado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados | orderBy: 'Nombre'"></select>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <div class="input-control text full-size" data-role="input">
                                                            <label for="descripcion">Observaciones</label>
                                                            <textarea ng-change="MaskMayus()" class="form-control" maxlength="100" name="Descripcion" type="text" ng-model="Modelo.Observaciones" ng-blur="AsignarObservaciones(Observaciones)" placeholder="Observaciones"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="pull-left">
                                                    <button class="btn btn-block btn-primary" ng-click="InicializarDetalle()" ng-disabled="Deshabilitar" title="Nuevo Movimiento">
                                                        Adicionar
                                                        <span class="glyphicon glyphicon-plus"></span>
                                                    </button>
                                                </div>
                                                <br />
                                                <hr />
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title"> Detalle</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div id="resultadoConsulta" class="table-responsive" ng-show="Modelo.Detalles.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-condensed">
                                        <thead>
                                            <tr>
                                                <th>Sistema</th>
                                                <th>Subsistema</th>
                                                <th>Unidad Medida Uso</th>
                                                <th>Cantidad</th>
                                                <th>Descripción</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in Modelo.Detalles">
                                                <td>{{item.SistemaMantenimiento.Nombre}}</td>
                                                <td>{{item.SubsistemaMantenimiento.Nombre}}</td>
                                                <td>{{item.UnidadReferenciaMantenimiento.NombreCorto}}</td>
                                                <td>{{item.Cantidad}}</td>
                                                <td>{{item.Descripcion}}</td>
                                                <td>
                                                    <button class="button mini-button primary" title="Editar" ng-click="EditarDetalleOrdenTrabajo(item)" ng-disabled="Deshabilitar">
                                                        <span class="fa fa-edit"></span>
                                                    </button>
                                                    <button class="button mini-button primary" title="Anular" ng-click="ConfirmacionEliminarDetalle($index)" ng-disabled="Deshabilitar == true">
                                                        <span class="glyphicon glyphicon-trash"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="ConfirmacionGuardarOrdenTrabajo()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Confirmación Guardar Tarea -->
        <div class="modal fade" id="modalConfirmacionGuardarOrdenTrabajo" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form autocomplete="off">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                GESTRANS.NET PASAJEROS
                            </h4>
                        </div>

                        <div class="modal-body">
                            <p>¿Está seguro de guardar la información?</p>
                        </div>

                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <!-- Modal Confirmación Eliminar detalle -->
        <div class="modal fade" id="modalEliminarDetalle" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form autocomplete="off">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                GESTRANS.NET PASAJEROS
                            </h4>
                        </div>

                        <div class="modal-body">
                            <p>¿Esta seguro que desea eliminar el detalle de la orden de trabajo de mantenimiento ?</p>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Eliminar tarifa" ng-click="EliminarDetalle(Indice)">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="modalMantenimiento" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <form autocomplete="off">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                <strong>Detalle Orden de Trabajo de Mantenimiento</strong>
                            </h4>
                            <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDetalle.length > 0">
                                <ul>
                                    <li ng-repeat="error in MensajesErrorDetalle">
                                        <span>{{error}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="box box-default box-solid">
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-md-12 col-sm-4 col-xs-12">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="sistemaMantenimiento">Sistema</label>
                                                    <select title="Seleccione Sistema" data-style="btn-white" id="tiposistema" data-live-search="true" name="sistemaMantenimiento" class="form-control" ng-model="Modal.SistemaMantenimiento" ng-options="i.Nombre for i in ListadoSistemaMantenimiento" ng-change="FiltrarSubsistema()"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="tiposubsistema">Subsistema</label>
                                                    <select id="tiposubsistema" data-style="btn-white" data-live-search="true" name="tiposubsistema" class="form-control" ng-model="Modal.SubsistemaMantenimiento" ng-options="i.Nombre for i in ListadoSubsistemaFiltrado" ng-change="AplicarCampos(SubsistemaMantenimiento.Nombre)"></select>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="unidadfrecuencia">Unidad Medida Uso</label>
                                                    <select name="unidadfrecuencia" class="form-control" ng-model="Modal.UnidadReferenciaMantenimiento" ng-options="i.NombreCorto for i in ListadoUnidadReferenciaMantenimiento"></select>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <div class="form-group">
                                                    <label for="cantidad">Cantidad</label>
                                                    <input ng-change="MaskNumero()" maxlength="15" name="cantidad" class="form-control" type="text" ng-model="Modal.Cantidad" ng-required="true" placeholder="Ingrese la cantidad" ng-blur="">
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="form-group">
                                                    <div class="input-control text full-size" data-role="input">
                                                        <label for="descripcion">Descripción</label>
                                                        <textarea class="form-control" maxlength="100" name="Descripcion" type="text" ng-change="MaskMayus()" ng-model="Modal.Descripcion" ng-blur="AsignarObservaciones(Observaciones)"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Cancelar
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                        <button ng-if="ModificarDetalle == 0" type="button" class="btn btn-primary" title="Adicionar recorrido" ng-click="GuardarDetalleMantenimiento();">
                                            Aceptar
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                        <button ng-if="ModificarDetalle == 1" type="button" class="btn btn-primary" title="Modificar recorrido" ng-click="ModificarDetalleOrdenTrabajo();">
                                            Aceptar
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>