﻿<div ng-controller="ConsultarZonificacionGuiasCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>ZONIFICACION GUIAS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Número</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="NumeroInicial" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Inicial</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Final</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="FechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">No. Planilla</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="NumeroPlanilla" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="CiudadOrigen">Ciudad</label>
                            <input type="text" class="form-control" name="CiudadOrigen" maxlength="50" id="txtCiudad" placeholder="Ingrese una Ciudad Destino"
                                   ng-model="Ciudad"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'"
                                   ng-required="false" ng-blur="Modelo.Ciudad=VerificarAutocomplete(Ciudad) " autocomplete="off">

                            <div>
                            </div>
                        </div>
                        <div class="pull-left">
                            <button class="btn btn-block btn-primary" ng-click="AsignarCiudades()" title="Asignar" ng-disabled="DeshabilitarConsulta">
                                Asignar
                            </button>
                        </div>
                    </div>
                    <div>
                        <div class="table-responsive col-md-4 col-sm-6 col-xs-12" ng-if="ciudadesBuscar.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Ciudad </th>
                                        <th>Eliminar</th>

                                    </tr>
                                <tbody>
                                    <tr ng-repeat="item in ciudadesBuscar | orderBy:'Numero'">
                                        <td>{{item.NombreCompleto}}</td>
                                        <td style="text-align:right">
                                            <button class="button mini-button danger" title="Eliminar" ng-click="EliminarCiudad($index,item)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              


                <!--SECCIÓN BOTONES-->
                <div id="lineButtons">
                    <div class="pull-left">
                        <button class="btn btn-block btn-primary" ng-click="Buscar()" title="Buscar" ng-disabled="DeshabilitarConsulta">
                            Buscar
                            <span class="glyphicon glyphicon-filter"></span>
                        </button>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" title="Asignar Zona" ng-click="AsignarZonas()">
                            Procesar
                            <span class="fas fa-truck-loading"></span>
                        </button>
                    </div>
                </div>
                <br />
                <hr />
                <!--RESULTADO CONSULTA-->
                <div class="row">
                    <div class="col-md-12">
                        <div id="resultadoConsulta">
                            <div class="table-responsive" ng-if="ListadoRemesasPaqueteria.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Número                </th>
                                            <th>Fecha                 </th>
                                            <th>Tipo Guía             </th>
                                            <th>Forma Pago            </th>
                                            <th>Destino               </th>
                                            <th>Zona                  </th>
                                            <th>Dirección Destinatario</th>
                                            <th>Nombre Destinatario   </th>
                                            <th>Cantidad              </th>
                                            <th>Peso                  </th>
                                            <th>Volumen               </th>
                                            <th>Valor Total           </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoRemesasPaqueteria | orderBy:'Numero'">
                                             <!--<td><input type="checkbox" ng-model="item.Marcado"  /></td>-->
                                            <td><a href="#!GestionarRemesasPaqueteria/{{item.Remesa.Numero}}/470102">{{item.Remesa.NumeroDocumento}}</a></td>
                                            <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                            <td>{{item.LineaNegocioPaqueteria.Nombre}}</td>
                                            <td>{{item.Remesa.FormaPago.Nombre}}</td>
                                            <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                            <td style="min-width:90px">
                                                <select name="cmbZona" class="form-control"
                                                        ng-model="item.Zona"
                                                        ng-options="i.Nombre for i in item.listaDeZonas"
                                                        CodigoZona 
                                                        ng-change="item.Marcado = true "></select>
                                            </td>
                                            <td>{{item.Remesa.Destinatario.Direccion}}</td>
                                            <td>{{item.Remesa.Destinatario.NombreCompleto}}</td>
                                            <td>{{item.Remesa.CantidadCliente}}</td>
                                            <td>{{item.Remesa.PesoCliente}}</td>
                                            <td>{{item.Remesa.PesoVolumetrico}}</td>
                                            <td>{{item.Remesa.TotalFleteCliente}}</td>

                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                <span style="color:red">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->

    <div class="modal fade" id="modalConfirmacionCarbiarZonas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de asignar las zonas?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="CambiarZonasGuias()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>