﻿<div ng-controller="CargarSemirremolqueCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CARGAR SEMIRREMOLQUES</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length == 0 || DataActual === undefined || DataActual == null || DataActual == ''">
                    <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;">
                        Abrir Archivo
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <input id="filePrincipal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                    </div>
                </div>

                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                    <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;" ng-click="ModalConfirmacionNuevoProceso()">
                        Abrir Archivo
                        <span class="glyphicon glyphicon-folder-open"></span>
                    </div>
                </div>

                <div class="pull-left" style="padding-right:1%">
                    <button class="btn btn-block btn-primary" ng-click="GenerarPlanilla()" data-toggle="tooltip" title="Generar Planitlla" style="height:40px">
                        Generar Plantilla
                        <span class="glyphicon glyphicon-save-file"></span>
                    </button>
                </div>
                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                    <button class="btn btn-block btn-primary" ng-click="DataArchivo = [];DataActual = []; ListaErrores=[]" data-toggle="tooltip" title="Limpiar" style="height:40px">
                        Limpiar
                        <span class="glyphicon glyphicon-erase"></span>
                    </button>
                </div>
                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                    <!---->
                    <button class="btn btn-block btn-primary" id="btnValida" ng-click="ValidarDocumento();VerErrores = false" data-toggle="tooltip" title="Guardar" style="height:40px">
                        Guardar
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
                <div class="pull-left" style="padding-right:1%" ng-show="ListaErrores.length > 0">
                    <!---->
                    <button class="btn btn-block btn-primary" ng-click="VerErrores = false" ng-show="ListaErrores.length > 0 && VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                        Ocultar Errores
                        <span class="glyphicon glyphicon-eye-close"></span>
                    </button>
                    <button class="btn btn-danger" ng-click="VerErrores = true" ng-show="ListaErrores.length > 0 && !VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                        Ver Errores
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>

                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div ng-show="DataActual.length > 0">
                <div class="ResultadoConsulta" ng-show="!VerErrores">
                    <!--DataActual.length > 0 &&-->
                    <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>Omitir</th>
                                    <th>Placa</th>
                                    <th>Código Interno</th>
                                    <th>Fecha Vinculación</th>
                                    <th>Propietario</th>
                                    <th>Marca</th>
                                    <th>Tipo Semirremolque</th>
                                    <th>Tipo Carrocería</th>
                                    <th>Modelo</th>
                                    <th>No. Ejes</th>
                                    <th>Ancho (mts)</th>
                                    <th>Largo (mts)</th>
                                    <th>Alto (mts)</th>
                                    <th>Peso Vacio (Kg)</th>
                                    <th>Capacidad (Kg)</th>
                                    <th>Capacidad Galones</th>
                                    <th>Estado</th>
                                    <th>Justificación Bloqueo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in DataActual" style="{{item.st.Row}}">
                                    <!-- Omitir-->
                                    <td style="{{item.st.General}}">
                                        <input type="checkbox" ng-model="item.Omitido" />
                                        <span ng-if="item.ms.General !== undefined && item.ms.General !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.General}}" data-placement="right"></span>
                                    </td>
                                    <!-- Placa-->
                                    <td style="min-width:150px;{{item.st.Placa}}">
                                        <div style="display:flex">
                                            <input maxlength="20" type="text" ng-change="item.Placa=MaskplacaSemiremolqueGrid(item.Placa)" class="form-control plcRed" placeholder="{{item.ms.Placa}}" ng-model="item.Placa" ng-required="false">
                                        </div>
                                    </td>
                                    <!-- Código Interno-->
                                    <td style="min-width:150px;{{item.st.CodigoInterno}}">
                                        <div style="display:flex">
                                            <input maxlength="20" type="text" class="form-control plcRed" placeholder="{{item.ms.CodigoInterno}}" ng-model="item.CodigoAlterno" ng-required="false">
                                        </div>
                                    </td>
                                    <!-- Fecha Vinculación-->
                                    <td style="min-width:150px;{{item.st.FechaVinculacion}}">
                                        <div style="display:flex">
                                            <input maxlength="20" type="date" class="form-control plcRed" placeholder="{{item.ms.FechaVinculacion}}" ng-model="item.FechaCrea" ng-required="false">
                                        </div>
                                    </td>
                                    <!-- Propietario-->
                                    <td style="min-width:150px;{{item.st.Propietario}}">
                                        <div style="display:flex">
                                            <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.ms.Propietario}}" ng-model="item.Propietario" ng-required="false" uib-typeahead="i as i.NombreCompleto for i in AutocompletePropietario($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'" autocomplete="off" ng-blur="item.Propietario=VerificarAutocomplete(item.Propietario)">
                                        </div>
                                    </td>
                                    <!-- Marca-->
                                    <td style="min-width:150px;{{item.st.Marca}}">
                                        <div style="display:flex">
                                            <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.ms.Marca}}" ng-model="item.Marca" ng-required="false" uib-typeahead="marcas as marcas.Nombre for marcas in ListadoMarcas| filter:$viewValue | limitTo: 5" autocomplete="off" ng-blur="item.Marca=VerificarAutocomplete(item.Marca)">
                                        </div>
                                    </td>
                                    <!--TipoSemirremolque-->
                                    <td style="min-width:150px;{{item.st.TipoSemirremolque}}">
                                        <div class="input-group">
                                            <select class="form-control" ng-model="item.TipoSemirremolque" ng-options="i.Nombre for i in  ListadoTipoSemirremolques"></select>
                                            <span ng-if="item.ms.TipoSemirremolque !== undefined && item.ms.TipoSemirremolque !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.TipoSemirremolque}}"></span>
                                        </div>
                                    </td>
                                    <!--TipoCarroceria-->
                                    <td style="min-width:150px;{{item.st.TipoCarroceria}}">
                                        <div class="input-group">
                                            <select class="form-control" ng-model="item.TipoCarroceria" ng-options="i.Nombre for i in  ListadoTipoCarroceria"></select>
                                            <span ng-if="item.ms.TipoCarroceria !== undefined && item.ms.TipoCarroceria !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.TipoCarroceria}}"></span>
                                        </div>
                                    </td>
                                    <!-- Modelo-->
                                    <td style="min-width:150px;{{item.st.Modelo}}">
                                        <div style="display:flex">
                                            <input maxlength="4" type="text" ng-change="item.Modelo=MaskNumeroGrid(item.Modelo)" class="form-control plcRed" placeholder="{{item.ms.Modelo}}" ng-model="item.Modelo" ng-required="false">
                                        </div>
                                    </td>
                                    <!-- NumeroEjes-->
                                    <td style="min-width:150px;{{item.st.NumeroEjes}}">
                                        <div style="display:flex">
                                            <input maxlength="4" type="text" ng-change="item.NumeroEjes=MaskNumeroGrid(item.NumeroEjes)" class="form-control plcRed" placeholder="{{item.ms.NumeroEjes}}" ng-model="item.NumeroEjes" ng-required="false">
                                        </div>
                                    </td>
                                    <!-- Ancho-->
                                    <td style="min-width:150px;{{item.st.Ancho}}">
                                        <div style="display:flex">
                                            <input maxlength="8" type="text" ng-change="item.Ancho=MaskMonedaGrid(item.Ancho)" class="form-control plcRed" placeholder="{{item.ms.Ancho}}" ng-model="item.Ancho" ng-required="false">
                                        </div>
                                    </td>
                                    <!-- Largo-->
                                    <td style="min-width:150px;{{item.st.Largo}}">
                                        <div style="display:flex">
                                            <input maxlength="8" type="text" ng-change="item.Largo=MaskMonedaGrid(item.Largo)" class="form-control plcRed" placeholder="{{item.ms.Largo}}" ng-model="item.Largo" ng-required="false">
                                        </div>
                                    </td>
                                    <!-- Alto-->
                                    <td style="min-width:150px;{{item.st.Alto}}">
                                        <div style="display:flex">
                                            <input maxlength="8" type="text" ng-change="item.Alto=MaskMonedaGrid(item.Alto)" class="form-control plcRed" placeholder="{{item.ms.Alto}}" ng-model="item.Alto" ng-required="false">
                                        </div>
                                    </td>
                                    <!-- PesoVacio-->
                                    <td style="min-width:150px;{{item.st.PesoVacio}}">
                                        <div style="display:flex">
                                            <input maxlength="8" type="text" ng-change="item.PesoVacio=MaskMonedaGrid(item.PesoVacio)" class="form-control plcRed" placeholder="{{item.ms.PesoVacio}}" ng-model="item.PesoVacio" ng-required="false">
                                        </div>
                                    </td>
                                    <!-- Capacidad-->
                                    <td style="min-width:150px;{{item.st.Capacidad}}">
                                        <div style="display:flex">
                                            <input maxlength="8" type="text" ng-change="item.Capacidad=MaskMonedaGrid(item.Capacidad)" class="form-control plcRed" placeholder="{{item.ms.Capacidad}}" ng-model="item.Capacidad" ng-required="false">
                                        </div>
                                    </td>
                                    <!-- CapacidadGalones-->
                                    <td style="min-width:150px;{{item.st.CapacidadGalones}}">
                                        <div style="display:flex">
                                            <input maxlength="8" type="text" ng-change="item.CapacidadGalones=MaskMonedaGrid(item.CapacidadGalones)" class="form-control plcRed" placeholder="{{item.ms.CapacidadGalones}}" ng-model="item.CapacidadGalones" ng-required="false">
                                        </div>
                                    </td>
                                    <!--Estado-->
                                    <td style="min-width:150px;{{item.st.Estado}}">
                                        <div class="input-group">
                                            <select class="form-control" ng-model="item.Estado" ng-options="i.Nombre for i in  ListadoEstados"></select>
                                            <span ng-if="item.ms.Estado !== undefined && item.ms.Estado !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.Estado}}"></span>
                                        </div>
                                    </td>
                                    <!--Justificación Bloqueo-->

                                    <td style="min-width:150px;{{item.st.JustificacionBloqueo}}">
                                        <div style="display:flex">
                                            <input maxlength="20" type="text" ng-change="item.JustificacionBloqueo=MaskMayusGrid(item.JustificacionBloqueo)" class="form-control plcRed" placeholder="{{item.ms.JustificacionBloqueo}}" ng-model="item.JustificacionBloqueo" ng-required="false">
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistros}}</small>
                        </span>
                    </div>
                </div>
                <div class="ResultadoConsulta" ng-show="VerErrores">
                    <br />
                    <label>Omitir Todos</label>
                    <input type="checkbox" ng-model="Marctodo" ng-change="MarcadDesmarcarTodo(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                    <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                        <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Omitir</th>
                                        <th>Placa</th>
                                        <th>Propietario</th>
                                        <th>Marca</th>
                                        <th>Tipo Semirremolque</th>
                                        <th>Tipo Carrocería</th>
                                        <th>Modelo</th>
                                        <th>No. Ejes</th>
                                        <th>Ancho (mts)</th>
                                        <th>Largo (mts)</th>
                                        <th>Alto (mts)</th>
                                        <th>Peso Vacio (Kg)</th>
                                        <th>Capacidad (Kg)</th>
                                        <th>Capacidad Galones</th>
                                        <th>Estado</th>
                                        <th>Justificación Bloqueo</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in DataErrorActual" style="{{item.st.Row}}">
                                        <!-- Omitir-->
                                        <td style="{{item.st.General}}">
                                            <input type="checkbox" ng-model="item.Omitido" />
                                            <span ng-if="item.ms.General !== undefined && item.ms.General !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.General}}" data-placement="right"></span>
                                        </td>
                                        <!-- Placa-->
                                        <td style="min-width:150px;{{item.st.Placa}}">
                                            <div style="display:flex">
                                                <input maxlength="20" type="text" ng-change="item.Placa=MaskplacaSemiremolqueGrid(item.Placa)" class="form-control plcRed" placeholder="{{item.ms.Placa}}" ng-model="item.Placa" ng-required="false">
                                            </div>
                                        </td>
                                        <!-- Propietario-->
                                        <td style="min-width:150px;{{item.st.Propietario}}">
                                            <div style="display:flex">
                                                <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.ms.Propietario}}" ng-model="item.Propietario" ng-required="false" uib-typeahead="i as i.NombreCompleto for i in AutocompletePropietario($viewValue)| filter:$viewValue | limitTo: 5 | orderBy:'Nombre'" autocomplete="off" ng-blur="item.Propietario=VerificarAutocomplete(item.Propietario)">
                                            </div>
                                        </td>
                                        <!-- Marca-->
                                        <td style="min-width:150px;{{item.st.Marca}}">
                                            <div style="display:flex">
                                                <input maxlength="60" type="text" class="form-control plcRed" placeholder="{{item.ms.Marca}}" ng-model="item.Marca" ng-required="false" uib-typeahead="marcas as marcas.Nombre for marcas in ListadoMarcas| filter:$viewValue | limitTo: 5" autocomplete="off" ng-blur="item.Marca=VerificarAutocomplete(item.Marca)">
                                            </div>
                                        </td>
                                        <!--TipoSemirremolque-->
                                        <td style="min-width:150px;{{item.st.TipoSemirremolque}}">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="item.TipoSemirremolque" ng-options="i.Nombre for i in  ListadoTipoSemirremolques"></select>
                                                <span ng-if="item.ms.TipoSemirremolque !== undefined && item.ms.TipoSemirremolque !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.TipoSemirremolque}}"></span>
                                            </div>
                                        </td>
                                        <!--TipoCarroceria-->
                                        <td style="min-width:150px;{{item.st.TipoCarroceria}}">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="item.TipoCarroceria" ng-options="i.Nombre for i in  ListadoTipoCarroceria"></select>
                                                <span ng-if="item.ms.TipoCarroceria !== undefined && item.ms.TipoCarroceria !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.TipoCarroceria}}"></span>
                                            </div>
                                        </td>
                                        <!-- Modelo-->
                                        <td style="min-width:150px;{{item.st.Modelo}}">
                                            <div style="display:flex">
                                                <input maxlength="4" type="text" ng-change="item.Modelo=MaskNumeroGrid(item.Modelo)" class="form-control plcRed" placeholder="{{item.ms.Modelo}}" ng-model="item.Modelo" ng-required="false">
                                            </div>
                                        </td>
                                        <!-- NumeroEjes-->
                                        <td style="min-width:150px;{{item.st.NumeroEjes}}">
                                            <div style="display:flex">
                                                <input maxlength="4" type="text" ng-change="item.NumeroEjes=MaskNumeroGrid(item.NumeroEjes)" class="form-control plcRed" placeholder="{{item.ms.NumeroEjes}}" ng-model="item.NumeroEjes" ng-required="false">
                                            </div>
                                        </td>
                                        <!-- Ancho-->
                                        <td style="min-width:150px;{{item.st.Ancho}}">
                                            <div style="display:flex">
                                                <input maxlength="8" type="text" ng-change="item.Ancho=MaskMonedaGrid(item.Ancho)" class="form-control plcRed" placeholder="{{item.ms.Ancho}}" ng-model="item.Ancho" ng-required="false">
                                            </div>
                                        </td>
                                        <!-- Largo-->
                                        <td style="min-width:150px;{{item.st.Largo}}">
                                            <div style="display:flex">
                                                <input maxlength="8" type="text" ng-change="item.Largo=MaskMonedaGrid(item.Largo)" class="form-control plcRed" placeholder="{{item.ms.Largo}}" ng-model="item.Largo" ng-required="false">
                                            </div>
                                        </td>
                                        <!-- Alto-->
                                        <td style="min-width:150px;{{item.st.Alto}}">
                                            <div style="display:flex">
                                                <input maxlength="8" type="text" ng-change="item.Alto=MaskMonedaGrid(item.Alto)" class="form-control plcRed" placeholder="{{item.ms.Alto}}" ng-model="item.Alto" ng-required="false">
                                            </div>
                                        </td>
                                        <!-- PesoVacio-->
                                        <td style="min-width:150px;{{item.st.PesoVacio}}">
                                            <div style="display:flex">
                                                <input maxlength="8" type="text" ng-change="item.PesoVacio=MaskMonedaGrid(item.PesoVacio)" class="form-control plcRed" placeholder="{{item.ms.PesoVacio}}" ng-model="item.PesoVacio" ng-required="false">
                                            </div>
                                        </td>
                                        <!-- Capacidad-->
                                        <td style="min-width:150px;{{item.st.Capacidad}}">
                                            <div style="display:flex">
                                                <input maxlength="8" type="text" ng-change="item.Capacidad=MaskMonedaGrid(item.Capacidad)" class="form-control plcRed" placeholder="{{item.ms.Capacidad}}" ng-model="item.Capacidad" ng-required="false">
                                            </div>
                                        </td>
                                        <!-- CapacidadGalones-->
                                        <td style="min-width:150px;{{item.st.CapacidadGalones}}">
                                            <div style="display:flex">
                                                <input maxlength="8" type="text" ng-change="item.CapacidadGalones=MaskMonedaGrid(item.CapacidadGalones)" class="form-control plcRed" placeholder="{{item.ms.CapacidadGalones}}" ng-model="item.CapacidadGalones" ng-required="false">
                                            </div>
                                        </td>
                                        <!--Estado-->
                                        <td style="min-width:150px;{{item.st.Estado}}">
                                            <div class="input-group">
                                                <select class="form-control" ng-model="item.Estado" ng-options="i.Nombre for i in  ListadoEstados"></select>
                                                <span ng-if="item.ms.Estado !== undefined && item.ms.Estado !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.Estado}}"></span>
                                            </div>
                                        </td>
                                        <!--Justificación Bloqueo-->

                                        <td style="min-width:150px;{{item.st.JustificacionBloqueo}}">
                                            <div style="display:flex">
                                                <input maxlength="20" type="text" ng-change="item.JustificacionBloqueo=MaskMayusGrid(item.JustificacionBloqueo)" class="form-control plcRed" placeholder="{{item.ms.JustificacionBloqueo}}" ng-model="item.JustificacionBloqueo" ng-required="false">
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistrosErrores > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistrosErrores > 0">Página: {{paginaActualError}} de {{totalPaginasErrores}} ({{totalRegistrosErrores}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistrosErrores > 0">
                                                <button class="button primary" ng-click="PrimerPaginaModalError()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="AnteriorModalError()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="SiguienteModalError()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPaginaModalError()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div style="text-align:center" class="col-md-12" ng-if="totalRegistrosErrores == 0 && Buscando == false">
                            <span style="color:red">
                                <small>{{ResultadoSinRegistros}}</small>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="modal fade" id="modalConfirmacionGuardarPorgramacion" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="closeModal('modalConfirmacionGuardarPorgramacion')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            {{TituloModal}}
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p style="text-align:center">{{MSJ}}</p>

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="closeModal('modalConfirmacionGuardarPorgramacion')">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ModalErrores" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="closeModal('ModalErrores')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            {{TituloModal}}
                        </h4>
                    </div>

                    <div class="modal-body">
                        <h2 style="text-align:center">
                            ERRORES ENCONTRADOS
                        </h2>
                        <div ng-show="ProgramacionesNoGuardadasActual.length > 0">
                            <label>Omitir Todos</label>
                            <input type="checkbox" ng-model="Marctodo" ng-change="MarcadDesmarcarTodoNoGuardaras(Marctodo)" class="ng-valid ng-dirty ng-valid-parse ng-touched">
                            <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Omitir/Remplazar</th>
                                            <th ng-show="ListadoLineasNegocio.length > 0">Línea Negocio</th>
                                            <th>Cliente Transportadora</th>
                                            <th>Sitio Cargue</th>
                                            <th>Sitio Descargue</th>
                                            <th>Nombre</th>
                                            <th ng-show="Modelo.TipoVehiculo.Codigo !== 2220">Ciudad</th>
                                            <th>BarrioRemitente</th>
                                            <th>Identificación</th>
                                            <th>CodigoPostalRemitente</th>
                                            <th>Producto Transportado</th>
                                            <th>Destinatario.TipoIdentificacion</th>
                                            <th>Factura/Remisión</th>
                                            <th>No. Orden Cargue</th>
                                            <th>No. Guía</th>
                                            <th>Fecha Guía</th>
                                            <th>Vigencia Guía</th>
                                            <th>Url GPS</th>
                                            <th>Usuario GPS</th>
                                            <th>Clave GPS</th>
                                            <th>Vol. BSW</th>
                                            <th>Vol. GOV</th>
                                            <th>Vol. GSV</th>
                                            <th>Vol. NSV</th>
                                            <th>Vol. RVP</th>
                                            <!--<th>Estado</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ProgramacionesNoGuardadasActual" style="{{item.st.Row}}">
                                            <td style="{{item.st.General}}">
                                                <input type="checkbox" ng-model="item.Omitido" />
                                                <span ng-if="item.ms.General !== undefined && item.ms.General !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.General}}" data-placement="right"></span>
                                            </td>
                                            <td style="min-width:150px;{{item.st.TipoEntregaRemesaPaqueteria}}" ng-show="ListadoLineasNegocio.length > 0">
                                                <div class="input-group">
                                                    <select class="form-control" ng-model="item.TipoEntregaRemesaPaqueteria" ng-options="i.Nombre for i in ListadoLineasNegocio"></select>
                                                    <span ng-if="item.ms.TipoEntregaRemesaPaqueteria !== undefined && item.ms.TipoEntregaRemesaPaqueteria !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.TipoEntregaRemesaPaqueteria}}"></span>
                                                </div>
                                            </td>
                                            <td style="min-width:150px;{{item.st.Cliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Cliente}}" ng-model="item.Cliente" maxlength="120" ng-blur="item.Cliente=VerificarAutocomplete(item.Cliente)"
                                                       uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in ListadoClientesTransportadoras | filter:$viewValue | limitTo: 5">
                                            </td>
                                            <td style="min-width:150px;{{item.st.TipoIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.TipoIdentificacion}}" ng-model="item.TipoIdentificacion" maxlength="120" ng-blur="item.TipoIdentificacion=VerificarAutocomplete(item.TipoIdentificacion)"
                                                       uib-typeahead="Sitio as Sitio.NombreCompleto for Sitio in ListadoSitiosCargueDescargue | filter:$viewValue | limitTo: 5">
                                            </td>
                                            <td style="min-width:150px;{{item.st.NumeroIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.NumeroIdentificacion}}" ng-model="item.NumeroIdentificacion" maxlength="120" ng-blur="item.NumeroIdentificacion=VerificarAutocomplete(item.NumeroIdentificacion)"
                                                       uib-typeahead="Sitio2 as Sitio2.NombreCompleto for Sitio2 in ListadoSitiosCargueDescargue | filter:$viewValue | limitTo: 5">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Nombre}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Nombre}}" ng-model="item.Nombre" maxlength="10" ng-change="item.Nombre=MaskplacaGrid(item.Nombre)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Ciudad}}" ng-show="Modelo.TipoVehiculo.Codigo !== 2220">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Ciudad}}" ng-model="item.Ciudad" maxlength="10" ng-change="item.Ciudad=MaskplacaSemiremolqueGrid(item.Ciudad)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.BarrioRemitente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.BarrioRemitente}}" ng-model="item.BarrioRemitente" maxlength="120" ng-change="item.BarrioRemitente=MaskMayusGrid(item.BarrioRemitente)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Identificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Identificacion}}" ng-model="item.Identificacion" maxlength="20" ng-change="item.Identificacion=MaskNumeroGrid(item.Identificacion)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.CodigoPostalRemitente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.CodigoPostalRemitente}}" ng-model="item.CodigoPostalRemitente" maxlength="100" ng-change="item.CodigoPostalRemitente=MaskNumeroGrid(item.CodigoPostalRemitente)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Producto}}">
                                                <div class="input-group">
                                                    <select class="form-control" ng-model="item.Producto" ng-options="i.Nombre for i in ListadoProductosTransportados"></select>
                                                    <span ng-if="item.ms.Producto !== undefined && item.ms.Producto !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.Producto}}"></span>
                                                </div>
                                            </td>

                                            <td style="min-width:150px;{{item.st.ObservacionesRemitente}}">
                                                <div class="input-group">
                                                    <input type="text" class="form-control plcRed" placeholder="{{item.ms.ObservacionesRemitente}}" ng-model="item.ObservacionesRemitente" maxlength="120" ng-blur="item.ObservacionesRemitente=VerificarAutocomplete(item.ObservacionesRemitente);ObtenerPuntos(item.ObservacionesRemitente)"
                                                           uib-typeahead="ObservacionesRemitente as ObservacionesNombre for ObservacionesRemitente in ListadoObservacionesRemitentes | filter:$viewValue | limitTo: 5">
                                                    <span ng-if="item.ms.ObservacionesRemitente !== undefined && item.ms.ObservacionesRemitente !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-placement="right" title="{{item.ms.ObservacionesRemitente}}"></span>
                                                </div>
                                            </td>
                                            <td style="min-width:150px;{{item.st.Destinatario.TipoIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Destinatario.TipoIdentificacion}}" ng-model="item.Destinatario.TipoIdentificacion" maxlength="250" ng-change="item.Destinatario.TipoIdentificacion=MaskMayusGrid(item.Destinatario.TipoIdentificacion)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Destinatario.NumeroIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Destinatario.NumeroIdentificacion}}" ng-model="item.Destinatario.NumeroIdentificacion" maxlength="20" ng-change="item.Destinatario.NumeroIdentificacion=MaskNumeroGrid(item.Destinatario.NumeroIdentificacion)">
                                            </td>

                                            <td style="min-width:150px;{{item.st.Destinatario.Nombre}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Destinatario.Nombre}}" ng-model="item.Destinatario.Nombre" maxlength="20" ng-change="item.Destinatario.Nombre=MaskNumeroGrid(item.Destinatario.Nombre)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Destinatario.Ciudad}}">

                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Destinatario.Ciudad}}" ng-model="item.Destinatario.Ciudad" maxlength="20" ng-change="item.Destinatario.Ciudad=MaskNumeroGrid(item.Destinatario.Ciudad)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.BarrioDestinatario}}">

                                                <input type="date" class="form-control plcRed" placeholder="{{item.ms.BarrioDestinatario}}" ng-model="item.BarrioDestinatario" maxlength="20">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Destinatario.Direccion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Destinatario.Direccion}}" ng-model="item.Destinatario.Direccion" maxlength="20" ng-change="item.Destinatario.Direccion=MaskNumeroGrid(item.Destinatario.Direccion)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.CodigoPostalDestinatario}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.CodigoPostalDestinatario}}" ng-model="item.CodigoPostalDestinatario" maxlength="150">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Destinatario.Telefonos}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Destinatario.Telefonos}}" ng-model="item.Destinatario.Telefonos" maxlength="50">
                                            </td>
                                            <td style="min-width:150px;{{item.st.ObservacionesDestinatario}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.ObservacionesDestinatario}}" ng-model="item.ObservacionesDestinatario" maxlength="50">
                                            </td>
                                            <td style="min-width:150px;{{item.st.FormaPago}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.FormaPago}}" ng-model="item.FormaPago" maxlength="20" ng-change="item.FormaPago=MaskNumeroGrid(item.FormaPago)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.PesoCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.PesoCliente}}" ng-model="item.PesoCliente" maxlength="20" ng-change="item.PesoCliente=MaskNumeroGrid(item.PesoCliente)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.CantidadCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.CantidadCliente}}" ng-model="item.CantidadCliente" maxlength="20" ng-change="item.CantidadCliente=MaskNumeroGrid(item.CantidadCliente)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.ValorComercialCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.ValorComercialCliente}}" ng-model="item.ValorComercialCliente" maxlength="20" ng-change="item.ValorComercialCliente=MaskNumeroGrid(item.ValorComercialCliente)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.VOLRVP}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.VOLRVP}}" ng-model="item.VOLRVP" maxlength="20" ng-change="item.VOLRVP=MaskNumeroGrid(item.VOLRVP)">
                                            </td>

                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistrosNoGuardadas > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistrosNoGuardadas > 0">Página: {{paginaActualNoGuardadas}} de {{totalPaginasNoGuardadas}} ({{totalRegistrosNoGuardadas}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistrosNoGuardadas > 0">
                                                    <button class="button primary" ng-click="PrimerPaginaNoGuardados()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="AnteriorNoGuardados()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="SiguienteNoGuardados()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPaginaNoGuardados()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                        <div ng-show="ProgramacionesNoGuardadasActualRemplazo.length > 0">
                            <h4 style="text-align:center">
                                Programaciones Duplicadas
                            </h4>
                            <div style="display:flex">
                                <div>
                                    <label>Omitir Todos</label>
                                    <input type="radio" ng-model="Option.name" value="Omitido" ng-change="MarcadDesmarcarTodoNoGuardadasRemplazo()" />
                                </div>
                                <span> / </span>
                                <div>
                                    <label>Remplazar Todos</label>
                                    <input type="radio" ng-model="Option.name" value="Remplazado" ng-change="MarcadDesmarcarTodoNoGuardadasRemplazo()" />
                                </div>
                            </div>
                            <div class="table-responsive" style="overflow-y:scroll;max-height:500px;max-width:100%">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Omitir / Remplazar</th>
                                            <th ng-show="ListadoLineasNegocio.length > 0">Línea Negocio</th>
                                            <th>Cliente Transportadora</th>
                                            <th>Sitio Cargue</th>
                                            <th>Sitio Descargue</th>
                                            <th>Nombre</th>
                                            <th ng-show="Modelo.TipoVehiculo.Codigo !== 2220">Ciudad</th>
                                            <th>BarrioRemitente</th>
                                            <th>Identificación</th>
                                            <th>CodigoPostalRemitente</th>
                                            <th>Producto Transportado</th>
                                            <th>Destinatario.TipoIdentificacion</th>
                                            <th>Factura/Remisión</th>
                                            <th>No. Orden Cargue</th>
                                            <th>No. Guía</th>
                                            <th>Fecha Guía</th>
                                            <th>Vigencia Guía</th>
                                            <th>Url GPS</th>
                                            <th>Usuario GPS</th>
                                            <th>Clave GPS</th>
                                            <th>Vol. BSW</th>
                                            <th>Vol. GOV</th>
                                            <th>Vol. GSV</th>
                                            <th>Vol. NSV</th>
                                            <th>Vol. RVP</th>
                                            <!--<th>Estado</th>-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ProgramacionesNoGuardadasActualRemplazo" style="{{item.st.Row}}">
                                            <td style="{{item.st.General}}">
                                                <input type="radio" ng-model="item.Option" value="Omitido" /> <span>/</span>
                                                <input type="radio" ng-model="item.Option" value="Remplazado" />
                                                <span ng-if="item.ms.General !== undefined && item.ms.General !==''" class="glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.General}}" data-placement="right"></span>
                                            </td>
                                            <td style="min-width:150px;{{item.st.TipoEntregaRemesaPaqueteria}}" ng-show="ListadoLineasNegocio.length > 0">
                                                <div class="input-group">
                                                    <select class="form-control" ng-model="item.TipoEntregaRemesaPaqueteria" ng-options="i.Nombre for i in ListadoLineasNegocio"></select>
                                                    <span ng-if="item.ms.TipoEntregaRemesaPaqueteria !== undefined && item.ms.TipoEntregaRemesaPaqueteria !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.TipoEntregaRemesaPaqueteria}}"></span>
                                                </div>
                                            </td>
                                            <td style="min-width:150px;{{item.st.Cliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Cliente}}" ng-model="item.Cliente" maxlength="120" ng-blur="item.Cliente=VerificarAutocomplete(item.Cliente)"
                                                       uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in ListadoClientesTransportadoras | filter:$viewValue | limitTo: 5">
                                            </td>
                                            <td style="min-width:150px;{{item.st.TipoIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.TipoIdentificacion}}" ng-model="item.TipoIdentificacion" maxlength="120" ng-blur="item.TipoIdentificacion=VerificarAutocomplete(item.TipoIdentificacion)"
                                                       uib-typeahead="Sitio as Sitio.NombreCompleto for Sitio in ListadoSitiosCargueDescargue | filter:$viewValue | limitTo: 5">
                                            </td>
                                            <td style="min-width:150px;{{item.st.NumeroIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.NumeroIdentificacion}}" ng-model="item.NumeroIdentificacion" maxlength="120" ng-blur="item.NumeroIdentificacion=VerificarAutocomplete(item.NumeroIdentificacion)"
                                                       uib-typeahead="Sitio2 as Sitio2.NombreCompleto for Sitio2 in ListadoSitiosCargueDescargue | filter:$viewValue | limitTo: 5">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Nombre}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Nombre}}" ng-model="item.Nombre" maxlength="10" ng-change="item.Nombre=MaskplacaGrid(item.Nombre)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Ciudad}}" ng-show="Modelo.TipoVehiculo.Codigo !== 2220">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Ciudad}}" ng-model="item.Ciudad" maxlength="10" ng-change="item.Ciudad=MaskplacaSemiremolqueGrid(item.Ciudad)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.BarrioRemitente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.BarrioRemitente}}" ng-model="item.BarrioRemitente" maxlength="120" ng-change="item.BarrioRemitente=MaskMayusGrid(item.BarrioRemitente)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Identificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Identificacion}}" ng-model="item.Identificacion" maxlength="20" ng-change="item.Identificacion=MaskNumeroGrid(item.Identificacion)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.CodigoPostalRemitente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.CodigoPostalRemitente}}" ng-model="item.CodigoPostalRemitente" maxlength="100" ng-change="item.CodigoPostalRemitente=MaskNumeroGrid(item.CodigoPostalRemitente)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Producto}}">
                                                <div class="input-group">
                                                    <select class="form-control" ng-model="item.Producto" ng-options="i.Nombre for i in ListadoProductosTransportados"></select>
                                                    <span ng-if="item.ms.Producto !== undefined && item.ms.Producto !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" title="{{item.ms.Producto}}"></span>
                                                </div>
                                            </td>

                                            <td style="min-width:150px;{{item.st.ObservacionesRemitente}}">
                                                <div class="input-group">
                                                    <input type="text" class="form-control plcRed" placeholder="{{item.ms.ObservacionesRemitente}}" ng-model="item.ObservacionesRemitente" maxlength="120" ng-blur="item.ObservacionesRemitente=VerificarAutocomplete(item.ObservacionesRemitente);ObtenerPuntos(item.ObservacionesRemitente)"
                                                           uib-typeahead="ObservacionesRemitente as ObservacionesNombre for ObservacionesRemitente in ListadoObservacionesRemitentes | filter:$viewValue | limitTo: 5">
                                                    <span ng-if="item.ms.ObservacionesRemitente !== undefined && item.ms.ObservacionesRemitente !==''" class="input-group-addon glyphicon glyphicon-exclamation-sign" data-toggle="tooltip" data-placement="right" title="{{item.ms.ObservacionesRemitente}}"></span>
                                                </div>
                                            </td>
                                            <td style="min-width:150px;{{item.st.Destinatario.TipoIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Destinatario.TipoIdentificacion}}" ng-model="item.Destinatario.TipoIdentificacion" maxlength="250" ng-change="item.Destinatario.TipoIdentificacion=MaskMayusGrid(item.Destinatario.TipoIdentificacion)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Destinatario.NumeroIdentificacion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Destinatario.NumeroIdentificacion}}" ng-model="item.Destinatario.NumeroIdentificacion" maxlength="20" ng-change="item.Destinatario.NumeroIdentificacion=MaskNumeroGrid(item.Destinatario.NumeroIdentificacion)">
                                            </td>

                                            <td style="min-width:150px;{{item.st.Destinatario.Nombre}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Destinatario.Nombre}}" ng-model="item.Destinatario.Nombre" maxlength="20" ng-change="item.Destinatario.Nombre=MaskNumeroGrid(item.Destinatario.Nombre)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Destinatario.Ciudad}}">

                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Destinatario.Ciudad}}" ng-model="item.Destinatario.Ciudad" maxlength="20" ng-change="item.Destinatario.Ciudad=MaskNumeroGrid(item.Destinatario.Ciudad)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.BarrioDestinatario}}">

                                                <input type="date" class="form-control plcRed" placeholder="{{item.ms.BarrioDestinatario}}" ng-model="item.BarrioDestinatario" maxlength="20">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Destinatario.Direccion}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Destinatario.Direccion}}" ng-model="item.Destinatario.Direccion" maxlength="20" ng-change="item.Destinatario.Direccion=MaskNumeroGrid(item.Destinatario.Direccion)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.CodigoPostalDestinatario}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.CodigoPostalDestinatario}}" ng-model="item.CodigoPostalDestinatario" maxlength="150">
                                            </td>
                                            <td style="min-width:150px;{{item.st.Destinatario.Telefonos}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.Destinatario.Telefonos}}" ng-model="item.Destinatario.Telefonos" maxlength="50">
                                            </td>
                                            <td style="min-width:150px;{{item.st.ObservacionesDestinatario}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.ObservacionesDestinatario}}" ng-model="item.ObservacionesDestinatario" maxlength="50">
                                            </td>
                                            <td style="min-width:150px;{{item.st.FormaPago}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.FormaPago}}" ng-model="item.FormaPago" maxlength="20" ng-change="item.FormaPago=MaskNumeroGrid(item.FormaPago)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.PesoCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.PesoCliente}}" ng-model="item.PesoCliente" maxlength="20" ng-change="item.PesoCliente=MaskNumeroGrid(item.PesoCliente)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.CantidadCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.CantidadCliente}}" ng-model="item.CantidadCliente" maxlength="20" ng-change="item.CantidadCliente=MaskNumeroGrid(item.CantidadCliente)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.ValorComercialCliente}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.ValorComercialCliente}}" ng-model="item.ValorComercialCliente" maxlength="20" ng-change="item.ValorComercialCliente=MaskNumeroGrid(item.ValorComercialCliente)">
                                            </td>
                                            <td style="min-width:150px;{{item.st.VOLRVP}}">
                                                <input type="text" class="form-control plcRed" placeholder="{{item.ms.VOLRVP}}" ng-model="item.VOLRVP" maxlength="20" ng-change="item.VOLRVP=MaskNumeroGrid(item.VOLRVP)">
                                            </td>

                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistrosNoGuardadasRemplazo > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistrosNoGuardadasRemplazo > 0">Página: {{paginaActualNoGuardadasRemplazo}} de {{totalPaginasNoGuardadasRemplazo}} ({{totalRegistrosNoGuardadasRemplazo}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistrosNoGuardadasRemplazo > 0">
                                                    <button class="button primary" ng-click="PrimerPaginaNoGuardadosRemplazo()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="AnteriorNoGuardadosRemplazo()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="SiguienteNoGuardadosRemplazo()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPaginaNoGuardadosRemplazo()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="closeModal('ModalErrores')" ng-click="LimpiarData()">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarErrados()">
                                Guardar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalConfirmacionCancelarProceso" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Desea cancelar el proceso actual?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                        </div>
                        <div class="pull-left">
                            <div class="btn btn-block btn-primary btn-file" style="min-width : 100px;" data-toggle="tooltip" title="Abrir Archivo" ng-click="LimpiarData();CerrarModalNuevoProceso(this);ListaErrores = ''; VerErrores = false;angular.element(document.querySelector('#fileModal')).scope().$destroy();">
                                Aceptar
                                <input id="fileModal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>