﻿<div ng-controller="CargarPeajesCtrl">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>

    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
            </div>

            <!----Seccion de los botones --->
            <div class="SeccionBotones">
                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length == 0 || DataActual === undefined || DataActual == null || DataActual == ''">
                    <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;">
                        Abrir Archivo
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <input id="filePrincipal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                    </div>
                </div>

                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                    <div class="btn btn-block btn-primary btn-file" data-toggle="tooltip" title="Abrir Archivo" style="height:40px;" ng-click="ModalConfirmacionNuevoProceso()">
                        Abrir Archivo
                        <span class="glyphicon glyphicon-folder-open"></span>
                    </div>
                </div>

                <div class="pull-left" style="padding-right:1%">
                    <button class="btn btn-block btn-primary" ng-click="GenerarPlanilla()" data-toggle="tooltip" title="Generar Planitlla" style="height:40px">
                        Generar Plantilla
                        <span class="glyphicon glyphicon-save-file"></span>
                    </button>
                </div>
                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                    <button class="btn btn-block btn-primary" ng-click="DataArchivo = [];DataActual = []; ListaErrores=[]" data-toggle="tooltip" title="Limpiar" style="height:40px">
                        Limpiar
                        <span class="glyphicon glyphicon-erase"></span>
                    </button>
                </div>
                <div class="pull-left" style="padding-right:1%" ng-show="DataActual.length > 0">
                    <!---->
                    <button class="btn btn-block btn-primary" id="btnValida" ng-click="ValidarDocumento();VerErrores = false" data-toggle="tooltip" title="Guardar Peajes" style="height:40px">
                        Guardar Peajes
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>
                </div>
                <div class="pull-left" style="padding-right:1%" ng-show="ListaErrores.length > 0">
                    <!---->
                    <button class="btn btn-block btn-primary" ng-click="VerErrores = false" ng-show="ListaErrores.length > 0 && VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                        Ocultar Errores
                        <span class="glyphicon glyphicon-eye-close"></span>
                    </button>
                    <button class="btn btn-danger" ng-click="VerErrores = true" ng-show="ListaErrores.length > 0 && !VerErrores" data-toggle="tooltip" title="Ver Errores" style="height:40px">
                        Ver Errores
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>

                </div>
            </div>

            <!--RESULTADO CONSULTA-->
            <div ng-show="DataActual.length > 0">
                <div class="ResultadoConsulta" ng-show="!VerErrores">
                    <!--DataActual.length > 0 &&-->
                    <div class="table-responsive" style="max-height:1200px;max-width:100%">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>

                                    <th> Nombre                   </th>
                                    <th> Codigo Alterno           </th>
                                    <th> Tipo Peaje               </th>
                                    <th> Proveedor                </th>
                                    <th> Contacto                 </th>
                                    <th> Telefono                 </th>
                                    <th> Celular                  </th>
                                    <th> Ubicacion                </th>
                                    <th> Longitud                 </th>
                                    <th> Latitud                  </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in DataActual" style="{{item.stRow}}">

                                    <td style="min-width:150px;{{item.stNombre}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.smNombre}}" ng-model="item.Nombre" maxlength="30">
                                    </td>
                                    <td style="min-width:150px;{{item.stCodigo_Alternativo}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.smCodigo_Alternativo}}" ng-model="item.Codigo_Alternativo" maxlength="30">
                                    </td>


                                    <td style="min-width:150px;{{item.stCATA_TIPE_Codigo}}">
                                        <select name="cmbTarifa" class="form-control" ng-model="item.CATA_TIPE_Codigo"
                                                ng-options="i.Nombre for i in ListadoCategorias | orderBy: 'Nombre'"></select>
                                        <span ng-if="item.stCATA_TIPE_Codigo !== undefined && item.stCATA_TIPE_Codigo !==''"
                                              class="input-group-addon glyphicon glyphicon-exclamation-sign"
                                              data-toggle="tooltip" title="{{item.stCATA_TIPE_Codigo}}"></span>
                                    </td>


                                    <td style="min-width:150px;{{item.stTERC_Codigo_Proveedor}}">
                                        <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un proveedor" ng-model="item.TERC_Codigo_Proveedor" autocomplete="off"
                                               uib-typeahead="Proveedor as Proveedor.NombreCompleto for Proveedor in AutocompleteProveedor($viewValue)| filter:$viewValue | limitTo: 5"
                                               ng-required="false" ng-blur="Proveedor=VerificarAutocomplete(Proveedor)">
                                    </td> 
                                    <td style="min-width:150px;{{item.stContacto}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.smContacto}}" ng-model="item.Contacto" maxlength="30">
                                    </td>


                                    <td style="min-width:150px">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.Telefono}}" ng-model="item.Telefono" maxlength="30">
                                    </td>
                                    <td style="min-width:150px">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.Celular}}" ng-model="item.Celular" maxlength="30">
                                    </td>
                                    <td style="min-width:150px;{{item.stUbicacion}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.smUbicacion}}" ng-model="item.Ubicacion" maxlength="30">
                                    </td>
                                    <td style="min-width:150px">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.Longitud}}" ng-model="item.Longitud" maxlength="30">
                                    </td>
                                    <td style="min-width:150px">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.Latitud}}" ng-model="item.Latitud" maxlength="30">
                                    </td>

                            </tbody>

                            <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                            <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>

            <div ng-show="DataActual.length > 0">
                <div class="ResultadoConsulta" ng-show="VerErrores" >

                    <!--DataActual.length > 0 &&-->
                    <div class="table-responsive" style="max-height:1200px;max-width:100%">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr> 
                                    <th> Nombre         </th>
                                    <th> Codigo Alterno </th>
                                    <th> Tipo Peaje     </th>
                                    <th> Proveedor      </th>
                                    <th> Contacto       </th>
                                    <th> Telefono       </th>
                                    <th> Celular        </th>
                                    <th> Ubicacion      </th>
                                    <th> Longitud       </th>
                                    <th> Latitud        </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in DataErrorActual" style="{{item.stRow}}"> 

                                    <td style="min-width:150px;{{item.stNombre}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.smNombre}}" ng-model="item.Nombre" maxlength="30">
                                    </td>
                                    <td style="min-width:150px;{{item.stCodigo_Alternativo}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.smCodigo_Alternativo}}" ng-model="item.Codigo_Alternativo" maxlength="30">
                                    </td>


                                    <td style="min-width:150px;{{item.stCATA_TIPE_Codigo}}">
                                        <select name="cmbTarifa" class="form-control" ng-model="item.CATA_TIPE_Codigo"
                                                ng-options="i.Nombre for i in ListadoCategorias | orderBy: 'Nombre'"></select>
                                        <span ng-if="item.stCATA_TIPE_Codigo !== undefined && item.stCATA_TIPE_Codigo !==''"
                                              class="input-group-addon glyphicon glyphicon-exclamation-sign"
                                              data-toggle="tooltip" title="{{item.stCATA_TIPE_Codigo}}"></span>
                                    </td>


                                    <td style="min-width:150px;{{item.stTERC_Codigo_Proveedor}}">
                                        <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un proveedor" ng-model="item.TERC_Codigo_Proveedor" autocomplete="off"
                                               uib-typeahead="Proveedor as Proveedor.NombreCompleto for Proveedor in AutocompleteProveedor($viewValue)| filter:$viewValue | limitTo: 5"
                                               ng-required="false" ng-blur="Proveedor=VerificarAutocomplete(Proveedor)">
                                    </td>
                                    <td style="min-width:150px;{{item.stContacto}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.smContacto}}" ng-model="item.Contacto" maxlength="30">
                                    </td>


                                    <td style="min-width:150px">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.Telefono}}" ng-model="item.Telefono" maxlength="30">
                                    </td>
                                    <td style="min-width:150px">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.Celular}}" ng-model="item.Celular" maxlength="30">
                                    </td>
                                    <td style="min-width:150px;{{item.stUbicacion}}">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.smUbicacion}}" ng-model="item.Ubicacion" maxlength="30">
                                    </td>
                                    <td style="min-width:150px">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.Longitud}}" ng-model="item.Longitud" maxlength="30">
                                    </td>
                                    <td style="min-width:150px">
                                        <input type="text" style="text-align:right" class="form-control plcRed"
                                               placeholder="{{item.Latitud}}" ng-model="item.Latitud" maxlength="30">
                                    </td>

                            </tbody>

                            <tfoot ng-if="totalRegistrosErrores > 0 || Buscando == true">
                                <tr>
                                    <td colspan="4">
                                        <small ng-if="totalRegistrosErrores > 0">Página: {{paginaActualError}} de {{totalPaginasErrores}} ({{totalRegistrosErrores}} Registros)</small>
                                        <div class="pagination rightAling" ng-if="totalRegistrosErrores > 0">
                                            <button class="button primary" ng-click="PrimerPaginaModalError()" title="Primera">
                                                <span class="item">&laquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="AnteriorModalError()" title="Anterior">
                                                <span class="item">&lsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="SiguienteModalError()" title="Siguiente">
                                                <span class="item">&rsaquo;</span>
                                            </button>
                                            <button class="button primary" ng-click="UltimaPaginaModalError()" title="Última">
                                                <span class="item">&raquo;</span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tfoot>

                        </table>
                    </div>
                </div>
            </div>

        </form>
    </div>

    <div class="modal fade" id="modalConfirmacionCancelarProceso" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Desea cancelar el proceso actual?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>

                        </div>
                        <div class="pull-left">
                            <div class="btn btn-block btn-primary btn-file" style="min-width : 100px;" data-toggle="tooltip" title="Abrir Archivo" ng-click="LimpiarData();CerrarModalNuevoProceso(this);ListaErrores = ''; VerErrores = false;angular.element(document.querySelector('#fileModal')).scope().$destroy();">
                                Aceptar
                                <input id="fileModal" type="file" name="xlfile" ng-model-instant onchange="angular.element(this).scope().handleFile(this)" class="">
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalConfirmacionGuardarPorgramacion" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" onclick="closeModal('modalConfirmacionGuardarPorgramacion')" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p style="text-align:center">{{MSJ}}</p>

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" onclick="closeModal('modalConfirmacionGuardarPorgramacion')">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


   
</div>
