#map {
  width: 100%;
  height: 60%;
  opacity: 1;
  transition: opacity 150ms ease-in;
  display: block;
 }

#indicator {
  padding: 16px;
  width: 100%;
  height: 40%;
  overflow-y: auto;
  display: block;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: "Roboto", "sans-serif";
  line-height: 30px;
  padding-left: 10px;
}
