﻿<div ng-controller="GestionarCuentaBancariasCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número Cuenta </label>
                            <input ng-change="MaskNumero()" type="text" name="txtNumbCuen" class="form-control" maxlength="20" placeholder="Número Cuenta" ng-model="Modelo.NumeroCuenta" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Nombre" ng-model="Modelo.Nombre" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblEstado">Banco</label>
                            <select name="cmbBanco" class="form-control" ng-model="Modelo.Banco" ng-options="i.Nombre for i in ListadoBancos"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblEstado">Tipo Cuenta Bancaria</label>
                            <select name="cmbTipo" class="form-control" ng-model="Modelo.TipoCuentaBancaria" ng-options="i.Nombre for i in ListadoTipoCuentaBancaria"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="cuentapuc">Cuenta PUC</label>
                            <input autocomplete="off" accept="" ng-change="MaskMayus()" type="text" class="form-control" name="txtCuenPuc" id="txtCuenPuc" placeholder="Ingrese una Cuenta PUC" ng-model="Modelo.CuentaPUC" typeahead-no-results="myform.txtCuenPuc.$error.required" uib-typeahead="cuenta as cuenta.Nombre for cuenta in ListadoCuentasPUC| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="AsignarCuentaPUC(Modelo.CuentaPUC)">
                            <div ng-if="myform.txtCuenPuc.$error.required && LongitudCuentaPUC > 0">
                                <i class="glyphicon glyphicon-remove"></i><small class="errorField"> La cuenta PUC ingresada no se encuentra resgistrada</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Tercero</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Ingrese un Tercero" ng-model="Modelo.Tercero"
                                   typeahead-no-results="myform.txttercero.$error.required" uib-typeahead="Tercero as Tercero.NombreCompleto for Tercero in ListadoProveedores| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Tercero=VerificarAutocomplete(Modelo.Tercero)">
                            <div ng-if="myform.txttercero.$error.required">
                                <i class="glyphicon glyphicon-remove"></i><small class="errorField"> El tercero no se existe en el sistema</small>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Sobregiro Autorizado</label>
                            <input style="text-align:right" ng-change="MaskValores()" maxlength="15" name="txtSobrAuto" type="text" placeholder="Ingrese sobregiro" class="form-control" ng-model="Modelo.SobregiroAutorizado">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Saldo Actual</label>
                            <input style="text-align:right" ng-change="MaskValores()" maxlength="15" name="txtSaldAuto" type="text" placeholder="Ingrese saldo actual" ng-disabled="true" class="form-control" ng-model="Modelo.SaldoActual">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>