﻿<div ng-controller="GestionarSemirremolquesCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <label>Placa</label>
                        <input ng-change="MaskMayus()" name="txtplaca" type="text" placeholder="Digite una placa" class="form-control" ng-model="Modelo.Placa" maxlength="8" ng-required="true" ng-disabled="DesactivarPlaca" ng-blur="VerificarExistencia()" />
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <label>Número</label>
                        <input ng-change="MaskNumero()" name="txtNumero" class="form-control" placeholder="Digite un numero" maxlength="10" ng-model="Modelo.CodigoAlterno">
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <label>Propietario</label>
                        <input maxlength="60" type="text" class="form-control" name="propietario" id="propietario" placeholder="Seleccione un propietario" ng-model="Modelo.Propietario" ng-required="false"
                               uib-typeahead="propietarios as propietarios.NombreCompleto for propietarios in AutocompletePropietario($viewValue)| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Propietario=VerificarAutocomplete(Modelo.Propietario)">
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Estudio Seguridad</label>
                            <div style="display:flex">
                                <input ng-change="MaskNumero()" name="txtCodiAlte" placeholder="Digite el número del Estudio" type="text" maxlength="10" class="form-control" ng-model="NumeroEstudioSeguridad">
                                <button type="button" class="btn btn-primary" title="Cargar" ng-click="CargarSemirremolqueEstudio()">
                                    <span class="glyphicon glyphicon-ok"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="box box-default box-solid collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Características</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">

                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label for="lblTipoVehi">Equipo Propio</label>
                                <br />
                                <input type="checkbox" ng-model="Modelo.EquipoPropio">
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label>Marca</label>
                                <input maxlength="30" type="text" class="form-control" name="marca" id="marca" placeholder="Seleccione la Marca" ng-model="Modelo.Marca" uib-typeahead="marcas as marcas.Nombre for marcas in ListadoMarcas| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Marca=VerificarAutocomplete(Modelo.Marca)">
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label for="lblTipoVehi">Tipo Semirremolque</label>
                                <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.TipoSemirremolque" ng-options="i.Nombre for i in ListadoTipoSemirremolques"></select>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label for="lblTipoVehi">Tipo Carrocería</label>
                                <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.TipoCarroceria" ng-options="i.Nombre for i in ListadoTipoCarroceria"></select>
                            </div>
                            <!--<div class="col-md-2 col-sm-4 col-xs-12">
                                <label for="lblTipoVehi">Tipo Equipo</label>
                                <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.TipoEquipo" ng-options="i.Nombre for i in ListadoTipoEquipo"></select>
                            </div>-->
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label>Modelo</label>
                                <input ng-change="MaskNumero()" type="text" placeholder="Digite el modelo" class="form-control" Name="txtMode" maxlength="4" ng-model="Modelo.Modelo">
                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <label>No. Ejes</label>
                                <input ng-change="MaskNumero()" placeholder="N° de ejes 1-9" type="text" class="form-control" Name="txtNumeEjes" maxlength="2" ng-model="Modelo.NumeroEjes">
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label for="lblTipoVehi">Levanta Ejes</label>
                                <br />
                                <input type="checkbox" ng-model="Modelo.LevantaEjes">
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label>Ancho (mts)</label>
                                <input style="text-align:right" ng-change="MaskMoneda()" placeholder="Ingrese el anchor " type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.Ancho">
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label>Largo (mts)</label>
                                <input style="text-align:right" ng-change="MaskMoneda()" placeholder="Ingrese el largor" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.Largo">
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label>Alto (mts)</label>
                                <input style="text-align:right" ng-change="MaskMoneda()" placeholder="Ingrese la altura" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.Alto">
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label>Peso Vacio (Kg)</label>
                                <input style="text-align:right" ng-change="MaskMoneda()" placeholder="Digite el peso vacio" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.PesoVacio">
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label>Capacidad (Kg)</label>
                                <input style="text-align:right" ng-change="MaskMoneda()" placeholder="Digite la capacidad" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.Capacidad">
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label>Capacidad Galones</label>
                                <input style="text-align:right" ng-change="MaskMoneda()" placeholder="Digite la capacidad de galones" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.CapacidadGalones">
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label>Estado</label>
                                <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="DeshabilitarEstado" ng-change="AsignarJustificacionBloqueo(Modelo.Estado.Codigo)"></select>
                            </div>
                            <!--<div class="col-md-3 col-sm-4 col-xs-12" id="CausaInactividad">
                                <label>Causa</label>
                                <select name="cmbCausa" class="form-control" ng-model="Modelo.CausaInactividad" ng-options="i.Nombre for i in ListadoCausa" ng-disabled="DeshabilitarEstado"></select>
                            </div>-->
                            <div class="col-md-6 col-sm-4 col-xs-12" id="JustificacionBloqueo">
                                <label>Justificación Bloqueo</label>
                                <input type="text" class="form-control" Name="txtJustBloq" maxlength="500" ng-model="Modelo.JustificacionBloqueo" ng-disabled="DeshabilitarEstado" />
                            </div>

                        </div>
                    </div>

                </div>
                <div class="box box-default box-solid collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">Documentos</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                            <thead>
                                <tr>
                                    <th>Documento</th>
                                    <th>Referencia</th>
                                    <th>Emisor</th>
                                    <th>Fecha Emisión</th>
                                    <th>Fecha Vencimiento</th>
                                    <th>Adjunto</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListadoDocumentos">
                                    <td>{{item.Documento.Nombre}}</td>
                                    <td>
                                        <input ng-change="MaskMayus()" ng-if="item.AplicaReferencia > 0" type="text" class="form-control" ng-model="item.Referencia" maxlength="50" placeholder="Ingrese una referencia" ng-disabled="false" />
                                    </td>
                                    <td>
                                        <input ng-change="MaskMayus()" ng-show="item.AplicaEmisor > 0 && item.Codigo !== 102" maxlength="60" type="text" class="form-control" name="propietario" id="propietario" placeholder="Seleccione un emisor" ng-model="item.Emisor">
                                        <input ng-show="item.AplicaEmisor > 0 && item.Codigo == 102" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un Emisor" ng-model="item.Emisor" uib-typeahead="Emisor as Emisor.NombreCompleto for Emisor in AutocompleteAseguradora($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="item.Emisor=VerificarAutocomplete(item.Emisor)">
                                    </td>
                                    <td>
                                        <input type="date" class="form-control" ng-if="item.AplicaFechaEmision > 0" ng-model="item.FechaEmision" id="FechaEmision" />
                                    </td>
                                    <td>
                                        <input type="date" class="form-control" ng-if="item.AplicaFechaVencimiento > 0" ng-model="item.FechaVence" id="FechaVence" />
                                    </td>
                                    <td>
                                        <div tabindex="400" class="btn btn-primary btn-file" ng-if="item.AplicaArchivo > 0">
                                            <i class="glyphicon glyphicon-folder-open"></i>
                                            <input type="file" ng-model-instant onchange="angular.element(this).scope().CargarArchivo(this)" accept="{{item.TipoArchivoDocumento.CampoAuxiliar2}}" class="">
                                        </div>
                                    </td>
                                    <td>
                                        <button ng-if="item.ValorDocumento == 1 && item.AplicaDescargar > 0" class="button mini-button btn-success" data-toggle="tooltip" title="Ver Archivo" ng-click="DesplegarArchivo(item)">
                                            <span class="fa fa-file"></span>
                                        </button>
                                        <button ng-if="(item.ValorDocumento == 0 || item.ValorDocumento == Undefined) && item.AplicaDescargar > 0" class="button mini-button primary" disabled>
                                            <span class="fa fa-file"></span>
                                        </button>
                                        <button ng-if="item.ValorDocumento == 1 && item.AplicaEliminar > 0" class="button mini-button btn-danger" data-toggle="tooltip" title="Eliminar Archivo" ng-click="ElimiarDocumento(item)">
                                            <span class="fas fa-trash-alt"></span>
                                        </button>
                                        <button ng-if="(item.ValorDocumento == 0 || item.ValorDocumento == Undefined) &&  item.AplicaEliminar > 0" class="button mini-button primary" disabled>
                                            <span class="fas fa-trash-alt"></span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box box-default box-solid collapsed-box" ng-if="ItemFoto.Habilitado == 1">
                    <div class="box-header with-border">
                        <h3 class="box-title">Foto</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <label>Foto</label>
                                <div class="container-fluid">
                                    <table class="table table-responsive table-condensed table table-sm">
                                        <thead>
                                            <tr ng-if="ItemFoto.AplicaArchivo">
                                                <th colspan="2">
                                                    <span class="btn btn-default btn-file">
                                                        Seleccionar Imagen <input type="file" onchange="angular.element(this).scope().CargarArchivo(this)" accept="{{ItemFoto.TipoArchivoDocumento.CampoAuxiliar2}}">
                                                    </span>
                                                    <label>{{ItemFoto.NombreDocumento}}</label>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>
                                                    FOTO
                                                </th>
                                                <th ng-if="ItemFoto.AplicaEliminar">
                                                    Opciones
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody class="logo">
                                            <tr>
                                                <td>
                                                    <div class="logo">
                                                        <img class="logo-mini" id="FotoCargada" width="200" height="200" ng-src="{{FotoCargada}}" />
                                                        <canvas id="Foto" width="200" height="200">
                                                            Accede a este script con un navegador que acepte canvas del HTML 5

                                                        </canvas>

                                                        <!--<img class="logo-mini" width="200" height="200" ng-src="{{Modelo.Foto}}" />-->
                                                    </div>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-danger" title="Borrar foto" ng-click="ElimiarDocumento(ItemFoto)" ng-if="ItemFoto.ValorDocumento == 1 && ItemFoto.AplicaEliminar > 0">
                                                        <span class="fas fa-trash-alt"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-success" title="Borrar foto" ng-click="DesplegarArchivo(ItemFoto)" ng-if="ItemFoto.ValorDocumento == 1 && ItemFoto.AplicaDescargar > 0">
                                                        <span class="fa fa-file"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box box-default box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Novedades</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="pull-left">
                                    <button class="btn btn-primary" title="Agregar" ng-click="AgregarNovedadSemirremolque()">
                                        Agregar
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="padding:10px" ng-show="ListadoFiltradoNovedadesSemirremolque.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Hora</th>
                                        <th>Responsable</th>
                                        <th>Estado</th>
                                        <th>Novedad</th>
                                        <th>Justificación</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoFiltradoNovedadesSemirremolque | orderBy: '-Fecha'">
                                        <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                        <td>{{item.Fecha | date: 'hh:mm:ss a'}}</td>
                                        <td>{{item.Responsable.NombreCompleto}}</td>
                                        <td>{{item.Estado.Nombre}}</td>
                                        <td>{{item.Novedad.Nombre}}</td>
                                        <td>
                                            <a href="" data-toggle="tooltip" title={{item.JustificacionNovedad}}>...Ver más</a>
                                        </td>

                                    </tr>
                                </tbody>

                                <tfoot>
                                    <tr>
                                        <td colspan="4">
                                            <small>Página: {{NumeroPaginaNovedades}} de {{totalPaginasNovedades}} ({{ListaNovedadesSemirremolque.length}} Registros)</small>
                                            <div class="pagination rightAling">
                                                <button class="button primary" ng-click="PrimerPaginaNovedades()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="AnteriorNovedades()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="SiguienteNovedades()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPaginaNovedades()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>

                        </div>

                        <div class="SeccionBotones">
                            <div class="pull-left">
                                <table>
                                    <tr>
                                        <td>
                                            <button class="button mini-button btn-success" style="border-radius:5px; width:50px; height:50px; color:white; padding:5px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarExcel(0, 1, 0)">
                                                <span class="fa fa-file-excel-o" style="font-size:35px"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                                <style>
                                    .fa-file-pdf-o:hover {
                                        color: #58ACFA;
                                    }

                                    .fa-file-excel-o:hover {
                                        color: #58ACFA;
                                    }
                                </style>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Agregar Novedad -->
    <div class="modal fade" id="modalAgregarNovedad" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Agregar Novedad
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="lblBanco">Estado</label>
                                    <select name="cmbEstado" class="form-control" ng-model="ModalNovedades.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                                </div>
                            </div>

                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <div class="form-group">
                                    <label for="lblBanco">Novedad</label>
                                    <select name="cmbEstado" class="form-control" ng-model="ModalNovedades.Novedad" ng-options="i.Nombre for i in ListadoNovedades"></select>
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Justificación</label>
                                    <input name="txtJustBloq" type="text" class="form-control" ng-model="ModalNovedades.Justificacion" maxlength="150" placeholder="Ingrese una Justificación">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">

                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarNovedad()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Documento  -->
    <div class="modal fade" id="modalConfirmacionEliminarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p id="mensajearchivo"></p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="BorrarDocumento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal remplazar Eliminar Documento  -->
    <div class="modal fade" id="modalConfirmacionRemplazarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>Ya hay un documento asignado ¿Desea remplazarlo?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="RemplazarDocumento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Documento  -->
    <div class="modal fade" id="modalConfirmacionEliminarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p id="mensajearchivo"></p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="BorrarDocumento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <canvas id="CanvasVertical" width="500" height="700" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
    <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
</div>