﻿<div ng-controller="GestionarSitiosCargueDescargueCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>

                <div class="row">
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input ng-change="MaskMayus()" type="text" name="txtNombre" class="form-control" maxlength="50" placeholder="Ingrese nombre" ng-model="ModeloNombre" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Sitio</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloTipoSitio" ng-options="i.Nombre for i in ListadoSitios"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>País</label>
                            <input name="cmbPais" class="form-control" ng-model="ModeloPais" uib-typeahead="i as i.Nombre for i in ListadoPaises| filter:$viewValue | limitTo: 5" ng-blur="CargarCiudades(ModeloPais)" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad</label>
                            <input ng-change="MaskMayus()" autocomplete="off" placeholder="Ingrese ciudad" name="cplCiudad" type="text" class="form-control"
                                   ng-model="ModeloCiudad" maxlength="50" ng-blur="CambiarZonasCiudad(ModeloCiudad)"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblZona">Zona</label>
                            <select name="cmbZona" class="form-control" ng-model="ModeloZona" ng-disabled="BloquearZona" ng-options="i.Nombre for i in ListadoZonas"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Dirección</label>
                            <input ng-change="MaskDireccion()" placeholder="Ingrese dirección" maxlength="150" type="text" class="form-control" ng-model="ModeloDireccion">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Teléfono</label>
                            <input ng-change="MaskTelefono()" placeholder="Ingrese teléfono" maxlength="30" type="text" class="form-control" ng-model="ModeloTelefono">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Contacto</label>
                            <input ng-change="MaskMayus()" type="text" name="txtContacto" class="form-control" maxlength="50" placeholder="Ingrese contacto" ng-model="ModeloContacto" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Valor Cargue</label>
                            <input ng-change="MaskValores()" type="text" name="txtContacto" class="form-control text-right" maxlength="50" placeholder="Ingrese valor Cargue" ng-model="ModeloCargue" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Valor Descargue</label>
                            <input ng-change="MaskValores()" type="text" name="txtContacto" class="form-control text-right" maxlength="50" placeholder="Ingrese valor Descargue" ng-model="ModeloDescargue" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Latitud</label>
                            <input ng-model="ModeloLatitud" ng-change="ModeloLatitud=MasckDecimal(ModeloLatitud)" maxlength="18" class="form-control" placeholder="Latitud" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Longitud</label>
                            <input ng-model="ModeloLongitud" ng-change="ModeloLongitud=MasckDecimal(ModeloLongitud)" maxlength="18" class="form-control" placeholder="Longitud" />
                        </div>
                    </div>
                    <!--Div Mapa-->
                    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center">

                        <div class="box box-default box-solid collapsed-box">
                            <!--Collapse-->
                            <div class="box-header with-border">
                                <h3 class="box-title">
                                    Mapa
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                                </div>
                            </div>
                            <!--  --- MAPA  ---- -->
                            <div class="box-body">
                                <div style="height: 700px" id="gmaps"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>