﻿<div ng-controller="GestionarGastosRutasCtrl"  ng-init="InitLoad()">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form> 
            <div class="box-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                                    <ul>
                                        <li ng-repeat="error in MensajesError">
                                            <span>{{error}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="row"> 
                            <div class="SeccionFiltros-Formulario">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Ruta</label>
                                        <input type="text" class="form-control" placeholder="Seleccione una Ruta" ng-model="Modelo.Ruta"
                                               uib-typeahead="Ruta as Ruta.Nombre for Ruta in listadosRutas| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="FiltroRuta=VerificarAutocomplete(FiltroRuta)">
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="Tipo Vehiculo">Tipo Vehículo</label>
                                        <select name="Concepto" class="form-control" placeholder="Ingrese Tipo Vehículo" ng-model="Modelo.TipoVehiculo"
                                                ng-options="i.Nombre for i in ListadoTipoVehiculo"></select>
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="Concepto">Concepto</label>
                                        <select name="Concepto" class="form-control" placeholder="Ingrese Concepto" ng-model="Modelo.Concepto"
                                                ng-options="i.Nombre for i in ListadoConceptosGastos" ng-change="ValidarConcepto()"></select>
                                    </div>
                                </div> 

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor</label>
                                        <input tabindex="4" ng-change="MaskValores()" placeholder="Digite Valor" type="text"
                                               class="form-control text-right" ng-model="Modelo.Valor" ng-disabled="ModalGastosRuta.Concepto.Codigo == 10003">
                                    </div>
                                </div> 

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Aplica Anticipo</label>
                                        <br />
                                        <input type="checkbox" ng-model="Modelo.AplicaAnticipo">
                                    </div>
                                </div>
                            </div>

                        </div> 
                    </div>
                
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                ng-click="Regresar()" >
                            Cancelar
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarGuardar()">
                            Aceptar
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </div>
                </div>
            
        </form>

    </div>

    <div class="modal fade" id="modaConfirmar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarGastosRutas()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div> 
</div>



