﻿<div ng-controller="GestionarSalidaAlmacenCtrl">
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!-- ENCABEZADO APARTIR DE ESTA LINEA -->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!-- CONTENIDO APARTIR DE ESTA LINEA -->
    <section class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <br />
                            <span> {{NumeroDocumento}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="fecha">Fecha </label>
                            <input name="fecha" type="date" class="form-control" ng-model="ModeloFecha" ng-disabled="Deshabilitar" ng-blur="AsignarFecha(ModeloFecha)">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="almacen">Almacén</label>
                            <select name="almacen" class="form-control" ng-model="Almacen" ng-disabled="Bloquear" ng-options="i.Nombre for i in ListadoAlmacenes"></select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-8 col-xs-12">
                        <div class="form-group">
                            <label for="resposable">Responsable</label>
                            <input name="resposable" type="text" class="form-control" ng-model="Resposable" ng-disabled="Deshabilitar" maxlength="50" id="resposable">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="entregadoA">Entregado A</label>
                            <input class="form-control" type="text" maxlength="50" ng-disabled="Deshabilitar" ng-model="EntregadoA">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-7">
                        <button class="btn btn-block btn-primary" type="button" title="Nuevo Detalle" ng-disabled="Deshabilitar" ng-click="InicializarVistaModal();">
                            Adicionar Detalle
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <br>
                    </div>
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <div class="input-control text full-size" data-role="input">
                                <label for="observaciones">Observaciones</label>
                                <textarea class="form-control" maxlength="100" name="observaciones" type="text" ng-model="Observaciones" ng-blur="AsignarObservaciones(Observaciones)"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- DETALLES -->
            <div class="box box-default box-solid ">
                <div class="box-header with-border">
                    <h3 class="box-title">DETALLE ORDEN COMPRA</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Referencia</th>
                                            <th>Nombre Referencia</th>
                                            <th>UM</th>
                                            <th>UE</th>
                                            <th>Cantidad</th>
                                            <th>Valor Unitario</th>
                                            <th>Valor Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoDetalle">
                                            <td>{{item.Referencia}}</td>
                                            <td>{{item.ReferenciaAlmacen.Nombre}}</td>
                                            <td>{{item.UnidadMedida}}</td>
                                            <td>{{item.UnidadEmpaque}}</td>
                                            <td style="text-align:right">{{item.Cantidad}}</td>
                                            <td style="text-align:right">{{item.ValorUnitario | number:0}}</td>
                                            <td style="text-align:right">{{item.ValorAntesDescuento | number:0}}</td>
                                            <td>
                                                <button class="button mini-button primary" title="Eliminar" ng-click="ConfirmacionEliminarDetalle(item, $index)">
                                                    <span class="glyphicon glyphicon-trash"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                                        <tr>
                                            <td colspan="4" style="color:red; text-align:center">
                                                <small>{{ResultadoSinRegistros}}</small>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- BONTONES -->
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label for="nombre">Oficina</label>
                        <input class="form-control" ng-model="Modelo.Oficina.Nombre" disabled>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control" ng-model="Modelo.Estado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstados "></select>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="pull-right">
                        <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                            Cancelar
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="ConfirmacionGuardarSalida()">
                            Aceptar
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- Modal Modificar Detalle Salida  -->
    <div class="modal fade" id="modalEditarSalida" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>{{TituloDetalle}}</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorDetalle.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorDetalle">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-5 col-xs-12">
                                    <div class="form-group">
                                        <label for="referencia">Referencia</label>
                                        <input class="form-control" tabindex="1" ng-disabled="DeshabilitarLlave"
                                               maxlength="30" placeholder="Ingrese la referencia" ng-model="Referencia" typeahead-no-results="myform.txtcuentapuc.$error.required"
                                               uib-typeahead="Referencia as Referencia.CodigoReferencia for Referencia in ListadoReferencias | filter:$viewValue | limitTo: 5" autocomplete="off" ng-blur="ValidarReferencia(Referencia.CodigoReferencia);" />
                                        <div ng-if="myform.txtcuentapuc.$error.required && LongitudReferencia >0"></div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-sm-5 col-xs-12">
                                    <div class="form-group">
                                        <label for="NombreReferencia">Nombre Referencia</label>
                                        <input i class="form-control" ng-disabled="DeshabilitarLlave" name="NombreReferencia" ng-model="NombreReferencia" maxlength="50" ng-blur="ValidarNombreReferencia(NombreReferencia)">
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="unidadmedida">UM</label>
                                        <span class="form-control"> {{UnidadMedida}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label for="unidadempaque">UE</label>
                                        <span class="form-control"> {{UnidadEmpaque}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="cantidad">Cantidad</label>
                                        <input style="text-align:right" name="cantidad" class="form-control" ng-model="ModalCantidad" ng-change="MaskNumero()" maxlength="10" ng-blur="CalcularDetalle()">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="valorunitario">Valor Unitario</label>
                                        <input style="text-align:right" name="valorunitario" class="form-control" ng-model="ModalValorUnitario" ng-change="MaskValores()" maxlength="10" ng-disabled="true">
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="valortotal">Valor Total</label>
                                        <input style="text-align:right" name="valortotal" class="form-control" ng-model="ModalValorTotal" ng-change="MaskValores()" maxlength="10" ng-disabled="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" ng-disabled="Deshabilitar" title="Aceptar" ng-click="CargarDetalle()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar detalle -->
    <div class="modal fade" id="modalEliminarDetalle" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title">
                            GESTRANS.NET CARGA
                        </h1>
                    </div>

                    <div class="modal-body">
                        <p>¿Esta seguro que desea eliminar el Detalle ?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar Detalle" ng-click="EliminarDetalle(Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Guardar Salida -->
    <div class="modal fade" id="modalConfirmacionGuardarSalida" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h1 class="modal-title">
                            GESTRANS.NET CARGA
                        </h1>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>