﻿<div ng-controller="MarcarRemesasFacturadasCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>MARCAR REMESAS FACTURADAS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="FechaInicio">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFin">Fecha Final</label>
                            <input name="txtFechFin" type="date" class="form-control" ng-model="FechaFin">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <input class="form-control" ng-model="NumeroRemesa" placeholder="Ingrese número" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un Cliente" ng-model="Modelo.Cliente"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Cliente=VerificarAutocomplete(Modelo.Cliente)">
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva ciudad" ng-click="MarcarRemesasFacturadas()" ng-if="ListadoRemesas.length > 0">
                        Marcar Seleccionadas
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>     
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoRemesas.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Todos<br /><input align="center" type="checkbox" ng-click="SeleccionarTodo(SeleccionRemesas)" ng-model="SeleccionRemesas" ng-disabled="Deshabilitar" /></th>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Vehículo</th>
                                <th>Semirremolque</th>
                                <th>Ruta</th>
                                <th>Órden Servicio</th>
                                <th>Planilla</th>
                                <th>Manifiesto </th>
                                <th>Cumplido</th>
                                <th>Factura</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoRemesas  | orderBy:'Numero'">
                                <td align="center"><input type="checkbox" ng-model="item.Seleccionado"/></td>
                                <td><a href="#!GestionarRemesa/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                <td>{{item.Cliente.NombreCompleto}}</td>
                                <td>{{item.Vehiculo.Placa}}</td>
                                <td>{{item.Semirremolque.Placa}}</td>
                                <td>{{item.Ruta.Nombre}}</td>
                                <td>{{item.NumeroOrdenServicio}}</td>
                                <td>{{item.Planilla.NumeroDocumento}}</td>
                                <td>{{item.Manifiesto.NumeroDocumento}}</td>
                                <td>{{item.NumeroCumplido}}</td>
                                <td>{{item.Factura.Numero}}</td>
                                <td>
                                    <span ng-if="item.Estado == 0 && item.Anulado == 0" class="label label-warning">Borrador</span>
                                    <span ng-if="item.Estado == 1 && item.Anulado == 0" class="label label-success">Definitivo</span>
                                    <span ng-if="item.Anulado == 1" class="label label-danger">Anulado</span>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id="modalConfirmacionmarcarremesasfacturadas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de marcar como facturadas las remesas seleccionadas?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionMarcar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>