﻿<div ng-controller="ConsultarProcesoProgramacionOrdenServicioCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListadoOficinas"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaInicial">Fecha Inicial</label>
                            <input name="fechaInicial" type="date" class="form-control" ng-model="ModeloFechaInicial">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinal">Fecha Final</label>
                            <input name="fechaFinal" type="date" class="form-control" ng-model="ModeloFechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroInicial">Programación</label>
                            <input name="numeroInicial" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="ModeloNumero" placeholder="Ingrese un número">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroInicial">Orden Servicio</label>
                            <input name="numeroInicial" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="ModeloNumeroOrdenServicio" placeholder="Ingrese un número">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroInicial">Cliente</label>
                            <input name="numeroInicial" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="Cliente.Nombre" placeholder="Ingrese un número">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> Estado Programación</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstadoSolicitus" ng-options="i.Nombre for i in ListadoEstadoSolicitud | orderBy:'Nombre'" ></select>
                        </div>
                    </div>

                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;Buscar();ID_Detalle = 0;ConsultaInicial = 0" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive" ng-if="ListadoOrdenServicios.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Oficina</th>
                                        <th>Orden Servicio</th>
                                        <th>Programación</th>
                                        <th>Fecha Programacion</th>
                                        <th>Fecha Cargue</th>
                                        <th>Fecha Descargue</th>
                                        <th>Estado</th>
                                        <th>Tipo Despacho</th>
                                        <th>Ruta</th>
                                        <th>Tipo Tarifa</th>
                                        <th>Placa</th>
                                        <th></th> <!--Generar-->
                                        <th>Orden Cargue</th>
                                        <th></th> <!--Imprimir-->
                                        <th>Remesa</th>
                                        <th></th> <!--Imprimir-->
                                        <th>Planilla Despacho</th>
                                        <th></th> <!--Imprimir-->
                                        <th>No. Manifiesto</th>
                                        <th></th> <!--Imprimir-->
                                        <th>Sitio Cargue</th>
                                        <th>Cliente</th>
                                        <th>Destinatario</th>
                                        <th>Tipo Linea</th>
                                        <th>Tarifa</th>
                                        <th>Producto</th>
                                        <th>Cantidad (Kg)</th>
                                        <th>Flete</th>
                                        <th>Tipo Vehículo</th>
                                        <th></th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoOrdenServicios | orderBy:'-Numero'">
                                        <td>{{item.OrdenServicio.Oficina.Nombre}}</td>
                                        <td>{{item.OrdenServicio.NumeroDocumento}}</td>
                                        <td>{{item.NumeroProgramacion}}</td>
                                        <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                        <td>{{item.FechaCargue | date:'dd/MM/yyyy HH:MM'}}</td>
                                        <td>{{item.FechaDescargue | date:'dd/MM/yyyy HH:MM'}}</td>
                                        <td>
                                            <span ng-if="item.EstadoDetalleProgramacion.Codigo == 1" class="label label-success">Pendiente Hoy</span>
                                            <span ng-if="item.EstadoDetalleProgramacion.Codigo == 2" class="label label-danger">Backorder</span>
                                            <span ng-if="item.EstadoDetalleProgramacion.Codigo == 3" class="label label-warning">Pendiente</span>
                                            <span ng-if="item.EstadoDetalleProgramacion.Codigo == 4" class="label label-default">Mañana</span>
                                            <span ng-if="item.EstadoDetalleProgramacion.Codigo == 5" class="label label-primary">Proyectado</span>
                                            <span ng-if="item.EstadoDetalleProgramacion.Codigo == 6" class="label label-info">Asignado</span>
                                            <span ng-if="item.EstadoDetalleProgramacion.Codigo == 7" class="label label-success">Despachada</span>
                                        </td>
                                        <td>{{item.TipoDespacho.Nombre}}</td>
                                        <td>{{item.Ruta.Nombre}}</td>
                                        <td>{{item.TipoTarifa.Nombre}}</td>
                                        <td>{{item.Vehiculo.Placa}}</td>
                                        <td style="min-width: 100px;">
                                            <button ng-show="item.FechaCompara <= fechaBloqueo" class="button mini-button primary" title="Despachar Viaje" ng-click="DesplegarDespacharViaje(item.NumeroProgramacion, item.OrdenServicio.IDRegistroDetalle, item.Codigo,item.OrdenServicio.Numero)">
                                                <span class="fa fa-truck"></span>
                                            </button>
                                            <button type="button" class="button mini-button primary" title="Autorización Valor Declarado" ng-click="DesplegarAutorizacion(item)" ng-show="item.VerAutorizacion > 0">
                                                <i class="fas fa-check-circle"></i>
                                            </button>
                                        </td>
                                        <!--Orden de Cargue-->
                                        <td ng-if="item.OrdenServicio.NumeroOrdenCargue==0">{{item.OrdenServicio.NumeroDocumentoOrdenCargue}}</td>
                                        <td ng-if="item.OrdenServicio.NumeroOrdenCargue>0"><a href="Main.html#!/GestionarOrdenCargue/{{item.OrdenServicio.NumeroOrdenCargue}}" target="_blank" onclick="">{{item.OrdenServicio.NumeroDocumentoOrdenCargue}}</a></td>
                                        <td>
                                            <button class="button mini-button primary" ng-if="item.OrdenServicio.NumeroOrdenCargue>0" title="Imprimir Orden de Cargue" ng-click="DesplegarInformeOrdenCargue(item.OrdenServicio.NumeroOrdenCargue,1, 0)" ng-disabled="DeshabilitarImprimir">
                                                <span class="fa fa-print"></span>
                                            </button>
                                        </td>

                                        <!--Remesa-->
                                        <td ng-if="item.OrdenServicio.NumeroRemesa==0">{{item.OrdenServicio.NumeroDocumentoRemesa}}</td>
                                        <td ng-if="item.OrdenServicio.NumeroRemesa>0"><a href="Main.html#!/GestionarRemesa/{{item.OrdenServicio.NumeroRemesa}}" target="_blank" onclick="">{{item.OrdenServicio.NumeroDocumentoRemesa}}</a></td>
                                        <td>
                                            <button class="button mini-button primary" ng-if="item.OrdenServicio.NumeroRemesa>0" title="Imprimir Remesa" ng-click="DesplegarInformeRemesa(item.OrdenServicio.NumeroRemesa,1, 0)">
                                                <span class="fa fa-print"></span>
                                            </button>
                                        </td>

                                        <!--Planilla Despacho-->
                                        <td ng-if="item.OrdenServicio.NumeroPlanilla==0">{{item.OrdenServicio.NumeroDocumentoPlanilla}}</td>
                                        <td ng-if="item.OrdenServicio.NumeroPlanilla>0"><a href="Main.html#!/GestionarPlanillasDespachos/{{item.OrdenServicio.NumeroPlanilla}}" target="_blank" onclick="">{{item.OrdenServicio.NumeroDocumentoPlanilla}}</a></td>
                                        <td>
                                            <button class="button mini-button primary" ng-if="item.OrdenServicio.NumeroPlanilla>0" title="Imprimir Planilla Despacho" ng-click="DesplegarInformePlanillaDespacho(item.OrdenServicio.NumeroPlanilla,1, 0)">
                                                <span class="fa fa-print"></span>
                                            </button>
                                        </td>

                                        <!--Manifiesto-->
                                        <td ng-if="item.OrdenServicio.NumeroManifiesto==0">{{item.OrdenServicio.NumeroDocumentoManifiesto}}</td>
                                        <td ng-if="item.OrdenServicio.NumeroManifiesto>0"><a href="Main.html#!/GestionarManifiesto/{{item.OrdenServicio.NumeroManifiesto}}" target="_blank" onclick="">{{item.OrdenServicio.NumeroDocumentoManifiesto}}</a></td>
                                        <td style="display:inline-flex">
                                            <button class="button mini-button primary" ng-if="item.OrdenServicio.NumeroManifiesto>0" title="Imprimir Manifiesto" ng-click="DesplegarInformeManifiesto(item.OrdenServicio.NumeroManifiesto,1, 0,item.OrdenServicio.NumeroDocumentoManifiesto)">
                                                <span class="fa fa-print"></span>
                                            </button>
                                            <button class="button mini-button primary" ng-if="item.OrdenServicio.NumeroManifiesto>0" title="Plan Ruta" ng-click="DesplegarPlan(item.OrdenServicio.NumeroManifiesto,1,0)">
                                                <span class="glyphicon glyphicon-screenshot"></span>
                                            </button>
                                            <button class="button mini-button primary" ng-if="item.OrdenServicio.NumeroPlanilla>0" title="Imprimir Póliza" ng-click="DesplegarInformePoliza(item.OrdenServicio.NumeroPlanilla, 1, 0)">
                                                <span class="fa fa-cog"></span>
                                            </button>
                                        </td>

                                        <td>{{item.SitioCargue.Nombre}}</td>
                                        <td>{{item.Cliente.Nombre}}</td>
                                        <td>{{item.Destinatario.Nombre}}</td>
                                        <td>{{item.TipoLineaNegocio.Nombre}}</td>
                                        <td>{{item.TipoTarifa.TarifaTransporte.Nombre}}</td>
                                        <td>{{item.Producto.Nombre}}</td>
                                        <td align="right">{{item.CantidadDespacho | number:0}}</td>
                                        <td align="right">{{item.FleteTransportador | number:0}}</td>
                                        <td>{{item.TipoVehiculo.Nombre}}</td>
                                        <td ng-if="item.OrdenServicio.NumeroPlanilla>0 && OpcionFormatoGastos == true" >
                                            <button class="button mini-button primary" title="Imprimir Formato Gastos Conductor" ng-click="DesplegarFormatoGastos(item.OrdenServicio.NumeroPlanilla,1, 0)" ng-disabled="DeshabilitarImprimir">
                                                <span class="fa fa-print"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistros}}</small>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>