﻿<div ng-controller="ConsultarMonedaCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR MONEDAS - TRM</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        Cmb
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-3 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumeVehi">Nombre</label>
                            <input name="Nombre" type="text" class="form-control" placeholder="Nombre" ng-model="Modelo.Nombre" maxlength="20" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumeVehi">Nombre Corto</label>
                            <input name="Nombre" type="text" class="form-control" placeholder="Nombre Corto" ng-model="Modelo.NombreCorto" maxlength="6" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar Moneda" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva Moneda" ng-click="NuevoDocumento()">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoMoneda.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Nombre Corto</th>
                                <th>Símbolo</th>
                                <th>Local</th>
                                <th>Estado</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoMoneda | orderBy:'Nombre'">
                                <td><a href="#!GestionarMoneda/{{item.Codigo}}/{{item.Local}}">{{item.Nombre}}</a></td>
                                <td>{{item.NombreCorto}}</td>
                                <td>{{item.Simbolo}}</td>

                                <td>
                                    <span ng-if="item.Local == 1" class="label label-success">✔</span>
                                </td>

                                <td>
                                    <span ng-if="item.Estado == 0 " class="label pull-center bg-red">Inactiva</span>
                                    <span ng-if="item.Estado == 1" class="label label-success">Activa</span>
                                </td>
                                <td>
                                    <button class="button plus-button btn-success" title="TRM" ng-click="ModalTRM(item.Codigo,item.Nombre);BuscarTRM()">
                                        <span class="fa fa-usd"></span>
                                    </button>
                                    <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarMoneda(item.Codigo,item.Nombre)" ng-disabled="DeshabilitarEliminarAnular">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>

                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarMoneda" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la moneda  {{Nombre}} y las TRM ingresadas?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarMoneda" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>



                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="ModalTRM" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="CerrarModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>TRM</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorTRM.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorTRM">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-6 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblIdentUsua">Moneda: {{NombreMoneda}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="col-md-6 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Fecha</label>
                                                <input type="date" name="Fecha" class="form-control" maxlength="20" placeholder="Código Alterno" ng-model="ModeloFecha" />
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <label>Valor</label>
                                                <input type="text" style="text-align:right" name="txtValor" class="form-control" maxlength="8" placeholder="Valor" ng-model="ModeloValor" ng-change="MaskNumero()" />
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-sm-4 col-xs-12">
                                            <div class="form-group">
                                                <button type="button" class="btn btn-block btn-primary" title="Adicionar" ng-click="filtrotabla(ModeloFecha)">
                                                    Filtrar
                                                    <span class="fa fa-search"></span>
                                                </button>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <button type="button" class="btn btn-success" title="Adicionar" ng-click="AdicionarTRM(NombreMoneda)">
                                                Adicionar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-4 col-xs-12">

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Fecha</th>
                                        <th style="text-align:center">Valor</th>


                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoTRM ">

                                        <td style="text-align:center">
                                            {{item.Fecha | date:'dd/MM/yyyy'}}
                                        </td>
                                        <td style="text-align:right">
                                            <p ng-show="item.editable != true">{{item.Valor_Moneda_Local | number :0}}</p>
                                            <input ng-show="item.editable == true" ng-change="item.Valor_Moneda_Local = MaskNumeroGrid(item.Valor_Moneda_Local)" placeholder="Ingrese un valor" name="Valor_Moneda" type="text" class="form-control" ng-model="item.Valor_Moneda_Local">
                                        </td>
                                        <td style="text-align:center">
                                            <button ng-if="item.editable != true" class="button mini-button btn-primary" title="Editar" ng-click="item.editable = true" ng-disabled="Deshabilitar" ng-model="Modelo.Editar">
                                                <span class="far fa-edit"></span>
                                            </button>
                                            <button ng-if="item.editable == true" class="button mini-button btn-success" title="Guardar" ng-click="ValidarModificacion(item); item.editado = true" ng-disabled="Deshabilitar">
                                                <span class="fa fa-check"></span>
                                            </button>
                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarTRM(item.Codigo,item.Fecha)" ng-disabled="DeshabilitarEliminarAnular">
                                                <span class="fas fa-trash-alt"></span>
                                            </button>
                                        </td>

                                    </tr>

                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPaginaTRM()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="AnteriorTRM()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="SiguienteTRM()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPaginaTRM()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarModal()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Guardar" ng-click="Guardar(1)">
                                Guardar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>

                </form>
                <div class="modal fade" id="modalConfirmacionTRM" tabindex="-1" role="dialog" data-backdrop="static">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <form autocomplete="off">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title">
                                        GESTRANS.NET CARGA
                                    </h4>
                                </div>
                                <div class="modal-body">
                                    <p>¿Está seguro de guardar la información?</p>
                                </div>
                                <div class="modal-footer">
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">
                                            Cancelar
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                            Aceptar
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>

            </div>
        </div>
    </div>

    <div class="modal fade" id="modalEliminarTRM" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de borrar el TRM {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarTRM()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalMensajeEliminarTRM" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>




                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


</div>