﻿<div ng-controller="GestionarMonedaCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1><!----> Gestionar Moneda</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="row">
                        <div class="col-md-3 col-sm-2 col-xs-12">
                            <div class="form-group">
                                <label for="lblPlacVehi">Nombre</label>
                                <input ng-change="MaskNumero('Nombre')" class="form-control" name="CodigoAlterno" placeholder="Nombre" ng-model="Modelo.Nombre" maxlength="20">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-2 col-xs-12">
                            <div class="form-group">
                                <label for="lblNumeVehi">Nombre Corto</label>
                                <input ng-keyup="MaskMayus('Nombre Corto')" name="Nombre" type="text" class="form-control" placeholder="Nombre Corto" ng-model="Modelo.NombreCorto" maxlength="50" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="lblNombCond">Simbolo</label>
                                <input ng-keyup="MaskMayus('Simbolo')" name="pais" type="text" class="form-control" placeholder="Simbolo" maxlength="5" ng-model="Modelo.Simbolo">
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Local</label>
                                <br />
                                <input type="checkbox" ng-model="Modelo.Local" ng-disabled="DesabilitarLocal" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Estado</label>
                                <select name="cmbEstado" class="form-control" ng-model="Modelo.Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" onclick="document.location.href = '#!ConsultarMonedas';">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarMoneda()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalConfirmacionGuardarMoneda" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalMensajeEliminarMoneda" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>

                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>