﻿<div ng-controller="ConsultarListadoBasicoCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>LISTADOS BASICO</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Módulo</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloModuloBasico" ng-change="asignarlistado(ModeloModuloBasico.Codigo)" ng-options="i.Nombre for i in ListadoModuloAplicaciones | orderBy: 'Nombre'"></select>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Listado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloDocumentosDespachos" ng-change="AsignarFiltro(ModeloDocumentosDespachos.Codigo)" ng-options="i.Nombre for i in ListaDespacho  | orderBy: 'Nombre'"></select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="box box-default box-solid">
                        <div class="box-header">
                            <h3 class="box-title">Filtros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" ng-disabled="Deshabilitar" ng-click="Filtros()" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body" style="display:block">


                            <div class="col-md-4 col-sm-6 col-xs-12" ng-show="FiltroTercero">
                                <div class="form-group">
                                    <label>Tercero</label>

                                    <input name="nombre" type="text" class="form-control" ng-model="ModeloTercero" maxlength="40">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12" ng-show="FiltroConductor">
                                <div class="form-group">
                                    <label>Conductor</label>
                                    <input name="nombre" type="text" class="form-control" ng-model="ModeloConductor" maxlength="40">

                                </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12" ng-show="FiltroSitios">
                                <label for="Cuenta">Pais </label>
                                <input name="nombre" type="text" class="form-control" ng-model="ModeloPais" maxlength="40">


                            </div>

                            <div class="col-md-2 col-sm-3 col-xs-12" ng-show="FiltroSitios || FiltroCiudad">
                                <label for="Cuenta">Ciudad </label>
                                <input name="nombre" type="text" class="form-control" ng-model="ModeloCiudad" maxlength="40">



                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-12" ng-show="FiltroSitios">
                                <div class="form-group">
                                    <label>Tipo Sitio</label>
                                    <select name="cmbEstado" class="form-control" ng-model="ModeloTipoSitio" ng-options="i.Nombre for i in ListadoSitios"></select>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-12" ng-show="FiltroPlaca">
                                <div class="form-group">
                                    <label for="Cuenta">Placa</label>
                                    <input name="nombre" type="text" class="form-control" ng-model="ModeloPlaca" maxlength="40">

                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12" ng-show="FiltroSemirremolque">
                                <div class="form-group">
                                    <label>Semirremolque</label>
                                    <input name="nombre" type="text" class="form-control" ng-model="ModeloSemirremolque" maxlength="40">

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12" ng-show="FiltroRuta">
                                <div class="form-group">
                                    <label>Rutas</label>
                                    <input name="nombre" type="text" class="form-control" ng-model="ModeloRuta" maxlength="40">

                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-12" ng-show="FiltroNombre">
                                <div class="form-group">
                                    <label>Nombre</label>
                                    <input name="nombre" type="text" class="form-control" ng-model="ModeloNombre" maxlength="40">
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Estado</label>
                                    <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstadoRemesaPaqueteria"></select>
                                </div>

                            </div>

                        </div>


                    </div>
                </div>


            </div>

            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div id="lineButtons">
                    <div class="pull-left">

                        <table>
                            <tr>
                                <td>
                                    <button class="btn btn-block btn-primary" style="width:50px; height:50px" title="Abrir en PDF" ng-click="DesplegarInforme( 1, 0)">
                                        <img src="../../../FrontEnd/Css/img/pdf.png" width="40" height="40" />
                                    </button>
                                </td>
                                <td>
                                    <button class="btn btn-block btn-primary" style="width:50px; height:50px; margin-left:10px" title="Descargar en EXCEL" ng-click="DesplegarInforme(0, 1)">
                                        <img src="../../../FrontEnd/Css/img/excel.png" width="40" height="40" style="margin-left:0px" />
                                    </button>
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de eliminar la linea vehículo {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>