﻿<div ng-controller="GestionarPlanillaCargueDescargueCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">{{opcion.Nombre}}</li>
    </ol>

    <section class="content-header">
        <h1>GESTIONAR PLANILLA DESCARGUE</h1>
    </section>

    <div class="content">
        <div class="row" style="margin: 0px">
            <form>
                <div class="SeccionFiltros-Formulario">
                    <ul class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                    <ul class="alert alert-success" role="alert" ng-if="MensajesConfirmacion.length > 0">
                        <li ng-repeat="mensaje in MensajesConfirmacion">
                            <span>{{mensaje}}</span>
                        </li>
                    </ul>

                    <div class="row">

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Número</label>
                                <input class="form-control" type="text" autocomplete="off" ng-model="NumeroPlanilla" ng-change="MaskNumero()" ng-blur="ObtenerPlanilla()" disabled />
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Tipo</label>
                                <select class="form-control" ng-model="TipoPlanilla" ng-options="item.Nombre for item in ListadoTipoDocumentoPlanillas" ng-disabled="Deshabilitar" ng-change="ListadoGuias=[]"></select>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Fecha</label>
                                <input class="form-control" type="date" autocomplete="off" ng-model="Fecha" disabled/>
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Vehículo</label>
                                <input class="form-control" type="text" autocomplete="off" ng-model="PlacaVehiculo" placeholder="Ingrese una Placa" ng-change="MaskPlaca()" ng-blur="ObtenerVehiculo()"
                                       uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" 
                                       ng-disabled="Deshabilitar"
                                       />
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Conductor</label>
                                <input class="form-control" type="text" autocomplete="off" ng-model="NombreConductor" ng-change="MaskMayus()" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Tenedor</label>
                                <input class="form-control" type="text" autocomplete="off" ng-model="NombreTenedor" ng-change="MaskMayus()" ng-disabled="true" />
                            </div>
                        </div>

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <label>Obervaciones</label>
                                <textarea class="form-control" type="text" autocomplete="off" ng-model="Observaciones" ng-disabled="Deshabilitar"></textarea>
                            </div>
                        </div>
                    </div>




                </div>



            </form>
        </div>

        <div class="row" style="margin:0px">

            <div class="box box-default box-solid collapsed-box" ng-show="MostrarSeccionGuias == true">
                <div class="box-header with-border">
                    <h3 class="box-title">Guías</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row" ng-show="Deshabilitar == false">
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Número</label>
                                <input class="form-control" type="text" autocomplete="off" ng-model="NumeroGuia" placeholder="Ingrese un Número" ng-change="MaskNumero()" ng-blur="ValidarGuia()" />
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive" ng-show="ListadoGuias.length > 0">
                        <table class="table table-striped table-bordered table-hover table-condensed table-sm">
                            <thead>
                                <tr>
                                    <th>Número</th>
                                    <th>Observaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="item in ListadoGuias">
                                    <td  class="col-md-2 col-sm-2 col-xs-2"><a href="#!GestionarRemesasPaqueteria/{{item.NumeroRemesa}}">{{item.NumeroDocumentoRemesa}}</a><span>, Unidad {{item.NumeroUnidad}}</span></td>
                                    <td><input class="form-control" type="text" ng-model="item.ObservacionesVerificacion" ng-disabled="Deshabilitar"/></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--TOTALES-->
            <div class="box box-default box-solid collapsed-box" ng-show="MostrarSeccionGuias == true">
                <div class="box-header with-border">
                    <h3 class="box-title">Totales</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">



                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cantidad</label>
                                <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="Cantidad" ng-required="false" disabled>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Peso(Kg)</label>
                                <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="Peso" ng-required="false" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin:0px">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label>Oficina</label>
                        <span class="form-control">{{Oficina.Nombre}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control" ng-model="Estado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstados"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin:0px">

            <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                    Cancelar
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                    Aceptar
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </button>
            </div>
        </div>

    </div>

    <!-- Modal Confirmación Guardar Cargue -->
    <div class="modal fade" id="modalConfirmacionGuardarCargue" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>