﻿ <div ng-controller="GestionarPlanillaDescargueCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">{{opcion.Nombre}}</li>
    </ol>

    <section class="content-header">
        <h1>GESTIONAR PLANILLA DESCARGUE</h1>
    </section>

    <div class="content">
        <div class="row" style="margin: 0px">
            <form>
                <div class="SeccionFiltros-Formulario">
                    <ul class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                    <ul class="alert alert-success" role="alert" ng-if="MensajesConfirmacion.length > 0">
                        <li ng-repeat="mensaje in MensajesConfirmacion">
                            <span>{{mensaje}}</span>
                        </li>
                    </ul>

                    <div class="row">

                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>Número</label>
                                <input class="form-control" type="text" autocomplete="off" ng-model="NumeroPlanilla" ng-change="MaskNumero()" ng-blur="ObtenerPlanilla()" disabled />
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>Fecha</label>
                                <input class="form-control" type="text" autocomplete="off" ng-model="Fecha | date:'MM/dd/yyyy'" disabled />
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numero">Código Vehículo</label>
                                <input type="text" class="form-control" ng-model="CodigoAlternoVehiculo" placeholder="Ingrese código vehículo" maxlength="20" ng-blur="ObternerVehiculo(CodigoAlternoVehiculo)" ng-disabled="DeshabilitarActualizar" />
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>Vehículo</label>
                                <input class="form-control" type="text" autocomplete="off" ng-model="PlacaVehiculo" placeholder="Ingrese una Placa" ng-change="MaskPlaca()" ng-blur="ObtenerVehiculo()"
                                       uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5"
                                       ng-disabled="Deshabilitar" />
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label>Semirremolque</label>
                                <input maxlength="30" type="text" class="form-control" name="marca" id="marca" placeholder="Seleccione el Semirremolque" ng-model="Semirremolque" uib-typeahead="Semirremolque as Semirremolque.Placa for Semirremolque in ListadoSemirremolques| filter:$viewValue | limitTo: 5" ng-blur="Semirremolque=VerificarAutocomplete(Semirremolque)">
                            </div>
                        </div>

                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>No. Documento Conductor</label>
                                <input maxlength="60" type="text" class="form-control" name="conductor" id="conductor" ng-model="NombreConductor.NumeroIdentificacion" ng-disabled="true">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Conductor</label>
                                <input maxlength="60" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un conductor" ng-model="NombreConductor" uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="NombreConductor=VerificarAutocomplete(NombreConductor)">
                            </div>
                        </div>

                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Tenedor</label>
                                    <input class="form-control" type="text" autocomplete="off" ng-model="NombreTenedor" ng-change="MaskMayus()" ng-disabled="true" />
                                </div>
                            </div>

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <label>Obervaciones</label>
                                    <textarea class="form-control" type="text" autocomplete="off" ng-model="Observaciones" ng-disabled="Deshabilitar"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
            </form>
        </div>

        <div class="row" style="margin:0px">


            <div class="box-body">
                <div class="row" ng-show="Deshabilitar == false">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>No.Etiqueta Guia</label>
                            <input class="form-control" type="text" autocomplete="off" ng-model="NumeroGuia" placeholder="Ingrese un Número" ng-change="MaskNumero()"  />
                        </div>
                    </div> 
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>No.Unidad</label>
                            <input class="form-control" type="text" autocomplete="off" ng-model="UnidadGuia" placeholder="Ingrese un Número" ng-change="MaskNumero()" ng-blur="ValidarGuia()" />
                        </div>
                    </div>


                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>No.Etiqueta PreImpresa</label>
                            <input class="form-control" type="text" autocomplete="off" ng-model="NumeroEtiqueta" placeholder="Ingrese un Número" ng-change="MaskNumero()" ng-blur="ValidarEtiqueta()" />
                        </div>
                    </div>
                </div>
                <div class="table-responsive" ng-show="ListadoGuias.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table-sm">
                        <thead>
                            <tr>
                  
                                <th>No.Guia</th>
                                <th>Número</th>
                                <th>Destino</th>
                                <th>Observaciones</th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoGuias" style="{{item.st}}" >  

                                <td class="col-md-3 col-sm-2 col-xs-2">
                                  <a href="#!GestionarRemesasPaqueteria/{{item.NumeroRemesa}}/470102">{{item.NumeroDocumentoRemesa}}</a>
                                </td>  

                                <td class="col-md-3 col-sm-2 col-xs-2">
                                    <span ng-if="item.NumeroUnidad < 100">No Unidad: {{item.NumeroUnidad}}</span>
                                    <span ng-if="item.NumeroUnidad > 100">Etiqueta:  {{item.NumeroUnidad}}</span>
                                </td>  
                                <td class="col-md-3 col-sm-2 col-xs-2">
                                   {{item.CiudadDestino}}
                                </td> 

                                <td><input class="form-control" type="text" ng-model="item.ObservacionesVerificacion" ng-disabled="Deshabilitar" /></td>

                                <td>
                                    <button class="button mini-button btn-danger" title="Editar" ng-click="ConfirmarEliminarGuia(item)">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!--TOTALES-->
            <div class="box box-default box-solid collapsed-box" ng-show="MostrarSeccionGuias == true">
                <div class="box-header with-border">
                    <h3 class="box-title">Totales</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">



                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Cantidad guias</label>
                                <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="CantidadGuias" ng-required="false" disabled>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Peso(Kg)</label>
                                <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="Peso" ng-required="false" disabled>
                            </div>
                        </div>  
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Peso Volumétrico</label>
                                <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="PesoVolumetrico" ng-required="false" disabled>
                            </div>
                        </div> 
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Unidades cargadas</label>
                                <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="UnidadesCargadas" ng-required="false" disabled>
                            </div>
                        </div> 
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label>Unidades pendientes</label>
                                <input style="text-align:right" maxlength="18" type="text" ng-change="MaskValores()" class="form-control" placeholder="Valor Total Cliente" ng-model="UnidadesPendientes" ng-required="false" disabled>
                            </div>
                        </div>  
                
                         

                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="margin:0px">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label>Oficina</label>
                        <span class="form-control">{{Oficina.Nombre}}</span>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="form-group">
                        <label>Estado</label>
                        <select class="form-control" ng-model="Estado" ng-disabled="Deshabilitar" ng-options="i.Nombre for i in ListadoEstados"></select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin:0px">

            <div class="pull-right">
                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                    Cancelar
                    <span class="glyphicon glyphicon-remove-circle"></span>
                </button>
                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="Deshabilitar">
                    Aceptar
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </button>
            </div>
        </div>

    </div>

    <!-- Modal Confirmación Guardar Cargue -->
    <div class="modal fade" id="modalConfirmacionGuardarCargue" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <!--Modal Eliminar Guia-->
    <div class="modal fade" id="modalEliminarGuia" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Eliminar Guia</strong>
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p class="text-center">¿Esta seguro que desea eliminar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Eliminar Concepto" ng-click="EliminarGuia(TmpEliminarGuia.Indice)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>