﻿<div ng-controller="ConsultarConceptosFacturacionCrtr">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR CONCEPTOS FACTURACION</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroinicial">Código</label>
                            <input name="numeroinicial" class="form-control" ng-model="ModeloCodigo" placeholder="Ingrese un valor" maxlength="40" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input name="nombre" type="text" class="form-control" ng-model="ModeloNombre" maxlength="40" placeholder="Ingrese un Nombre">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numerofinal">Código Alterno</label>
                            <input name="numerofinal" class="form-control" ng-model="ModeloCodigoAlterno" placeholder="Ingrese un valor" maxlength="40" >
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>

                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="paginaActual=1;Buscar()" title="Buscar Ordenes Cargue " ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nueva Planilla Entregada">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoConceptoLiquidacion.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <td>Código</td>
                                <th>Nombre </th>
                                <th>Código Alterno</th>
                                <th>Operación  </th>
                                <th>Aplica Impuestos </th>
                                <th class="text-center">Concepto Sistema</th>
                                <th>Estado </th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr ng-repeat="item in ListadoConceptoLiquidacion  | orderBy:'Nombre'">
                                <td><a href="#!GestionarConceptosFacturacion/{{item.Codigo}}">{{item.Codigo}}</td>
                                <td>{{item.Nombre}}</td>
                                <td style="text-align:center">{{item.CodigoAlterno}}</td>
                                <td>
                                    <span ng-if="item.Operacion == 2" class="label pull-center bg-red">-</span>
                                    <span ng-if="item.Operacion == 1" class="label label-success">+</span>
                                </td>
                                <td>
                                    <span ng-if="item.AplicaImpuesto > 0" class="label label-success">✔</span>
                                </td>
                                <td class="text-center">
                                    <span ng-if="item.ConceptoSistema == 0">No</span>
                                    <span ng-if="item.ConceptoSistema == 1">Si</span>
                                </td>
                                <td>
                                    <span ng-if="item.Estado == 1" class="label label-success">Activo</span>
                                    <span ng-if="item.Estado == 0" class="label label-warning">Inactivo</span>
                                </td>
                                <td>
                                    <button class="button plus-button btn-success" title="Impuestos" ng-click="ModalImpuesto(item.Nombre);BuscarConcepto(item.Codigo)">
                                        <span class="fa fa-usd"></span>
                                    </button>
                                    <button  ng-show="item.ConceptoSistema == 0" class="button mini-button btn-danger" title="Eliminar" ng-click="Anular(item.Codigo,item.Nombre)" ng-disabled="DeshabilitarEliminarAnular">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>

                                </td>

                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                        <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                            <tr>
                                <td colspan="4" style="color:red; text-align:center">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalAnular" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            Anular
                        </h4>
                    </div>

                    <div class="modal-body">

                        <p>¿Está seguro de Eliminar el concepto {{Nombre}}?</p>

                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmaAnular()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="ModalImpuesto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="CerrarModal()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Impuestos</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorTRM.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorTRM">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="col-md-6 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="Cuenta">Impuesto</label>
                                    <input type="text" class="form-control" name="Impuesto" maxlength="50" id="ModeloImpuesto" placeholder="Ingrese un Impuesto" ng-model="ModeloImpuesto"
                                           uib-typeahead="i as i.Nombre for i in ListaImpuesto| filter:$viewValue | limitTo: 5" ng-required="false" autocomplete="off" ng-blur="ModeloImpuesto=VerificarAutocomplete(ModeloImpuesto)">

                                </div>
                            </div>


                            <div class="SeccionBotones" ng-if="!(DeshabilitarActualizar)">
                                <div class="pull-left" style="padding:3%">
                                    <button class="btn btn-block btn-primary" title="" ng-click="AgregarImpuesto()">
                                        Agregar
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="box-body">
                            <div class="ResultadoConsulta">
                                <div class="table-responsive" ng-if="ListadoImpuestos.length > 0">
                                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center">Nombre</th>
                                                <th style="text-align:center">Estado</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in ListadoImpuestos  | orderBy:'Nombre'">
                                                <td>{{item.Nombre}}</td>
                                                <td>
                                                    <span ng-if="item.Estado == 0 " class="label pull-center bg-red">Inactiva</span>
                                                    <span ng-if="item.Estado == 1" class="label label-success">Activa</span>
                                                </td>

                                                <td style="text-align:center">
                                                    <button class="button mini-button btn-danger" title="anular" ng-click="EliminarImpuesto(item.Codigo)" ng-disabled="DeshabilitarEliminarAnular">
                                                        <span class="fas fa-trash-alt"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                            <tr>
                                                <td colspan="4">
                                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                            <span class="item">&laquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                            <span class="item">&lsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                            <span class="item">&rsaquo;</span>
                                                        </button>
                                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                            <span class="item">&raquo;</span>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div>
                                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                    <span style="color:red">
                                        <small>{{ResultadoSinRegistros}}</small>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarModal()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Guardar" ng-click="Guardar()">
                                Guardar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeConfirmacionEliminoImpuesto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalEliminarImpuesto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de borrar el Impuesto {{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarEliminarImpuesto()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>


    <div class="modal fade" id="modalMensajeConfirmacionAnularConcepto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-open">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click=" MostrarMensajeErrorCompleto = MostrarMensajeErrorModal(MostrarMensajeErrorCompleto)"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

    <div class="modal fade" id="modalAnularConcepto" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de Anular El concepto{{Nombre}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmarAnularConcepto()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>



</div>