﻿<div ng-controller="ConsultarEstudioSeguridadCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR ESTUDIO SEGURIDAD</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="FechaInicio">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFina">Fecha Final</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="FechaFin">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumero">Número</label>
                            <input ng-change="MaskNumero()" autocomplete="off" name="txtNumero" placeholder="Digite número" class="form-control" ng-model="NumeroDocumento" type="text" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblPlacVehi">Placa</label>
                            <input ng-change="MaskPlaca()" type="text" name="txtplaca" maxlength="6" class="form-control" placeholder="Ingrese placa" ng-model="ModeloPlaca">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Número Autorización</label>
                            <input ng-change="MaskNumero()" name="NumeroInicial" class="form-control" ng-model="Numeracion" placeholder="Ingrese número Autorización" maxlength="20">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblNombTerc">Propietario</label>
                            <input ng-change="MaskMayus()" name="txtPropietario" placeholder="Digite nombre propietario" class="form-control" ng-model="NombrePropietario" type="text" maxlength="50" minlenght="4" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblNombTerc">Conductor</label>
                            <input ng-change="MaskMayus()" name="txtConductor" placeholder="Digite nombre conductor" class="form-control" ng-model="NombreConductor" type="text" maxlength="50" minlenght="4" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblNombTerc">Tenedor</label>
                            <input ng-change="MaskMayus()" name="txtTenedor" placeholder="Digite nombre tenedor" class="form-control" ng-model="NombreTenedor" type="text" maxlength="50" minlenght="4" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblUsuarioSolicito">Usuario Solicitó</label>
                            <input ng-change="MaskMayus()" name="txtUsuarioSolicito" placeholder="Digite Usuario Solicitó" class="form-control" ng-model="UsuarioSolicito" type="text" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblUsuarioEstudio">Usuario Estudio</label>
                            <input ng-change="MaskMayus()" name="txtUsuarioEstudio" placeholder="Digite Usuario Estudio" class="form-control" ng-model="UsuarioEstudio" type="text" maxlength="50" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblEstadoSolicitud">Estado Solicitud</label>
                            <select name="cmbEstadoSolicitud" class="form-control" ng-model="EstadoSolicitud" ng-options="i.Nombre for i in ListadoSolicitud"></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblEstado">Estado Documento</label>
                            <select name="cmbEstado" class="form-control" ng-model="Estado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" ng-click="paginaActual=1;Buscar()" title="Buscar" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-filter"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <div class="pull-right">
                        <button class="btn btn-block btn-primary" ng-disabled="DeshabilitarActualizar" ng-click="NuevoDocumento()" title="Nuevo">
                            Nuevo
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoEstudioSeguridad.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Usuario Solicitó</th>
                                <th>Placa</th>
                                <th>Propietario</th>
                                <th>Conductor</th>
                                <th>Tenedor</th>
                                <th>Fecha Estudio</th>
                                <th>Usuario Estudio</th>
                                <th>Estado Solicitud</th>
                                <th>No. Autorización</th>
                                <th>Estado Documento</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoEstudioSeguridad">
                                <td><a href="#!GestionarEstudioSeguridad/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>
                                <td>{{item.FechaSolicito | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.UsuarioSolicito}}</td>
                                <td>{{item.Placa}}</td>
                                <td>{{item.Propietario.NombreCompleto}}</td>
                                <td>{{item.Conductor.NombreCompleto}}</td>
                                <td>{{item.Tenedor.NombreCompleto}}</td>
                                <td>{{item.FechaEstudio | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.UsuarioEstudio}}</td>
                                <td>
                                    <span ng-if="item.EstadoAutorizacion == 9703" class="label pull-center bg-red">Rechazado</span>
                                    <span ng-if="item.EstadoAutorizacion == 9702" class="label label-success">Aprobado</span>
                                    <span ng-if="item.EstadoAutorizacion == 9701" class="label label-warning">Solicitado</span>
                                </td>
                                <td>{{item.NumeroAutorizacion}}</td>
                                <td>
                                    <span ng-if="item.Estado == 2 " class="label pull-center bg-red">Anulado</span>
                                    <span ng-if="item.Estado == 1" class="label label-success">Definitivo</span>
                                    <span ng-if="item.Estado == 0" class="label label-warning">Borrador</span>
                                </td>
                                <td>
                                    <button class="button mini-button btn-danger" title="Anular" ng-click="EliminarEstudioSeguridad(item.Numero, item.NumeroDocumento)" ng-disabled="DeshabilitarEliminarAnular">
                                        <span class="fas fa-trash-alt"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalEliminarEstudioSeguridad" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de anular el Estudio de Seguridad No. {{NumeroDocumentoEstudioSeguridad}}?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Eliminar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarEstudioSeguridad" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>