﻿<div ng-controller="ConsultarUsuariosCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR USUARIOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblIdent">Código</label>
                            <input type="text" class="form-control" maxlength="10" ng-model="Identificador" placeholder="Identificador">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblNomb">Nombre</label>
                            <input type="text" class="form-control" ng-model="Nombre" maxlength="50" placeholder="Nombre" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <label for="lblTipoVehi">Tipo Aplicación</label>
                        <select class="form-control" ng-model="TipoAplicacion" ng-options="i.Nombre for i in ListadoTipoAplicacion"></select>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Login</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloLoguueado" ng-options="i.Nombre for i in ListadoEstadoLogueado"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva ciudad" ng-click="NuevoDocumento()">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoUsuarios.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Código</th>
                                <th>Nombre</th>
                                <th>Fecha Ultimo Ingreso</th>
                                <th>Login</th>
                                <th>Aplicación</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoUsuarios">
                                <td><a href="#!GestionarUsuarios/{{item.Codigo}}">{{item.CodigoUsuario}}</a></td>
                                <td>{{item.Nombre}}</td>
                                <td>{{item.FechaUltimoIngreso | date:'dd/MM/yyyy hh:mm:ss'}}</td>
                                <td><input type="checkbox" ng-model="item.Login" ng-disabled="true"></td>
                                <td>{{item.NombreAplicacion}}</td>
                                <td>
                                    <button class="button mini-button primary" title="Agregar a grupo" ng-click="GrupoUsuarios(item.Codigo,item.CodigoUsuario,item.Nombre)">
                                        <span class="glyphicon glyphicon-user"></span>
                                    </button>
                                </td>
                                <!--<td>
                                    <button class="button mini-button primary" title="Asignar horario" ng-click="HorarioUsuarios(item.Codigo,item.Identificador,item.Nombre)">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </button>
                                </td>-->
                                <td>
                                    <button class="button mini-button primary" title="Asignar Oficinas" ng-click="OficinaUsuarios(item.Codigo,item.CodigoUsuario,item.Nombre)">
                                        <span class="far fa-building"></span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->

    <div class="modal fade" id="modalGrupoUsuarios" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="CerrarModalGrupoUsuarios()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asignar Grupos</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorGrupos.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorGrupos">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblIdentUsua">Código: {{modalIdentificador}}</label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblNombr">Nombre: {{modalNombre}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="lblTipoVehi">Grupo</label>
                                            <select class="form-control" ng-model="Grupos" ng-options="i.Nombre for i in ListadoGrupos"></select>
                                        </div>
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success" title="Adicionar" ng-click="AdicionarGrupo()">
                                                Adicionar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-4 col-xs-12">

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Código</th>
                                        <th>Nombre</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoGridGrupos">
                                        <td>{{item.GrupoUsuarios.Codigo}}</td>
                                        <td>{{item.GrupoUsuarios.Nombre}}</td>
                                        <td style="text-align:right">
                                            <button class="button mini-button primary" title="Desasociar grupo" ng-click="EliminarGrupo($index)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarModalGrupos()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="AsignarGrupos()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!--------------------------------------- MODAL HORARIO USUARIOS -->

    <div class="modal fade" id="modalHorarioUsuarios" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="CerrarModalHorarioUsuarios()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asignar Horario</strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorHorarios.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorHorarios">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblIdentUsua">Código: {{modalIdentificador}}</label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblNombr">Nombre: {{modalNombre}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="form-control">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label>Día Semana</label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label>Horario Inicial</label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label>Horario Final</label>
                                </div>
                            </div>
                            <br />
                            <div class="table-responsive">
                                <!-- Lunes -->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label> Lunes </label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioInicialLunes" ng-options="i.Nombre for i in ListadoHorarioInicial | orderBy:'Nombre'"></select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioFinalLunes" ng-options="i.Nombre for i in ListadoHorarioFinal | orderBy:'Nombre'"></select>
                                    <br />
                                </div>

                                <!-- Martes -->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label> Martes </label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioInicialMartes" ng-options="i.Nombre for i in ListadoHorarioInicial | orderBy:'Nombre'"></select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioFinalMartes" ng-options="i.Nombre for i in ListadoHorarioFinal | orderBy:'Nombre'"></select>
                                    <br />
                                </div>
                                <!-- Miercoles -->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label> Miércoles </label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioInicialMiercoles" ng-options="i.Nombre for i in ListadoHorarioInicial | orderBy:'Nombre'"></select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioFinalMiercoles" ng-options="i.Nombre for i in ListadoHorarioFinal | orderBy:'Nombre'"></select>
                                    <br />
                                </div>

                                <!-- Jueves -->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label> Jueves </label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioInicialJueves" ng-options="i.Nombre for i in ListadoHorarioInicial | orderBy:'Nombre'"></select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioFinalJueves" ng-options="i.Nombre for i in ListadoHorarioFinal | orderBy:'Nombre'"></select>
                                    <br />
                                </div>

                                <!-- Viernes -->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label> Viernes </label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioInicialViernes" ng-options="i.Nombre for i in ListadoHorarioInicial | orderBy:'Nombre'"></select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioFinalViernes" ng-options="i.Nombre for i in ListadoHorarioFinal | orderBy:'Nombre'"></select>
                                    <br />
                                </div>

                                <!-- Sabado -->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label> Sábado </label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioInicialSabado" ng-options="i.Nombre for i in ListadoHorarioInicial | orderBy:'Nombre'"></select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioFinalSabado" ng-options="i.Nombre for i in ListadoHorarioFinal | orderBy:'Nombre'"></select>
                                    <br />
                                </div>

                                <!-- Domingo -->
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label> Domingo </label>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioInicialDomingo" ng-options="i.Nombre for i in ListadoHorarioInicial | orderBy:'Nombre'"></select>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <select class="form-control" ng-model="HorarioFinalDomingo" ng-options="i.Nombre for i in ListadoHorarioFinal | orderBy:'Nombre'"></select>
                                    <br />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarModalHorarioUsuarios()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarHorarioUsuario()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <!-- Modal Oficinas -->

    <div class="modal fade" id="modalOficinaUsuarios" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
        <div class="modal-dialog modal-body">
            <div class="modal-content">
                <form name="myform" autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="CerrarModalOficinaUsuarios()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            <strong>Asignar Oficinas y Cajas </strong>
                        </h4>
                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorOficinaUsuarios.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesErrorOficinaUsuarios">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblIdentUsua">Código: {{modalIdentificador}}</label>
                                    </div>
                                </div>
                                <div class="col-md-8 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label for="lblNombr">Nombre: {{modalNombre}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-4 col-xs-12">

                                        <div class="form-group">
                                            <label for="lblTipoVehi">Oficina</label>
                                            <select class="form-control" id="oficina" ng-model="Oficinas" ng-options="i.Nombre for i in ListadoOficinas" ng-change="BuscarCajas()"></select>
                                        </div> 
                                        
                                        <div class="form-group">
                                            <label for="lblTipoVehi">Caja</label>
                                            <select class="form-control" id="oficina" ng-model="Cajas" ng-options="i.Nombre for i in ListadoCajas"></select>
                                        </div>

                                        <div class="form-group">
                                            <button type="button" class="btn btn-success" title="Adicionar" ng-click="AdicionarOficina()">
                                                Adicionar
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                            <button type="button" class="btn btn-primary" title="Adicionar" ng-click="AdicionarOficina(1)">
                                                Asociar Todo
                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-4 col-xs-12">

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div id="resultadoConsulta" class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                      <!--  <th>Código</th>-->
                                        <th>Oficina</th>
                                        <th>Caja</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoGridOficinas">
                                      <!--  <td>{{item.Codigo}}</td>-->
                                        <td>{{item.Nombre}}</td>
                                        <td>{{item.Caja}}</td>    
                                        <td style="text-align:right">
                                            <button class="button mini-button primary" title="Desasociar Oficina" ng-click="EliminarOficina($index)">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="CerrarModalOficinaUsuarios()">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarOficina()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>