﻿<div ng-controller="GestionarGrupoPerfilesCtrl">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>

    <section class="content" tabindex="-1">
        <div class="row">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="box-group" id="accordion">
                        <div class="panel box box-primary">
                            <div id="collapseOne" class="panel-collapse collapse in" aria-expanded="true">
                                <div class="box-body">
                                    <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                                        <a name="arriba"></a>
                                        <ul>
                                            <li ng-repeat="error in MensajesError">
                                                <span>{{error}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <form name="myform" autocomplete="off">
                                        <div id="infoBasica">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Nombre</label>
                                                        <input type="text" maxlength="50" class="form-control" placeholder="Nombre" ng-model="Modelo.Nombre">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Código Alterno</label>
                                                        <input type="text" ng-change="MaskNumero()" maxlength="10" class="form-control" placeholder="Código" ng-model="Modelo.CodigoGrupo">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                    <div class="modal fade" id="modalConfirmacionGuardarGrupo" tabindex="-1" role="dialog" data-backdrop="static">
                                        <div class="modal-dialog modal-sm">
                                            <div class="modal-content">
                                                <form autocomplete="off">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title">
                                                            GESTRANS.NET CARGA
                                                        </h4>
                                                    </div>

                                                    <div class="modal-body">
                                                        <p>¿Está seguro de guardar la información?</p>
                                                    </div>

                                                    <div class="modal-footer">
                                                        <div class="pull-right">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                                                Cancelar
                                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                                            </button>
                                                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="GuardarGrupo()">
                                                                Aceptar
                                                                <span class="glyphicon glyphicon-ok-circle"></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div><!-- /.modal-content -->
                                        </div><!-- /.modal-dialog -->
                                    </div>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                            Cancelar
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </button>
                                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarGrupo()">
                                            Aceptar
                                            <span class="glyphicon glyphicon-ok-circle"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>