﻿<div ng-controller="GestionarRemesaCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <!-- Encabezado -->
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <span class="form-control" disabled>{{Modelo.NumeroDocumento}}</span>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <span class="form-control" disabled>{{Modelo.Fecha |date: 'dd/MM/yyyy'}}</span>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input type="text" class="form-control" ng-model="Modelo.Cliente" disabled />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Documento Cliente</label>
                            <input type="text" class="form-control" ng-model="Modelo.DocumentoCliente" disabled />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Órden Servicio</label>
                            <input type="text" class="form-control" ng-model="Modelo.OrdenServicio" disabled />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Remitente</label>
                            <input type="text" class="form-control" ng-model="Modelo.NombreRemitente" disabled />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tarifa</label>
                            <input type="text" class="form-control" ng-model="Modelo.TipoTarifaCliente" disabled />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Tarifa</label>
                            <input type="text" class="form-control" ng-model="Modelo.ValorTipoTarifaCliente" disabled />
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Producto Transportado</label>
                            <input type="text" class="form-control" ng-model="Modelo.Producto" disabled />
                        </div>
                    </div>

                    <div class="col-md-1 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Cantidad</label>
                            <input type="text" class="form-control" style="text-align:right" ng-model="Modelo.Cantidad | number:0" ng-change="MaskValores()" disabled />
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Peso</label>
                            <input type="text" class="form-control " style="text-align:right" ng-model="Modelo.Peso" ng-change="MaskValores()" disabled />
                        </div>
                    </div>
                </div>

                <!-- Información Despacho -->
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Información Despacho</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Ruta</label>
                                        <input type="text" class="form-control" ng-model="Modelo.Ruta" disabled />
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Placa</label>
                                        <input type="text" class="form-control" ng-model="Modelo.PlacaVehiculo" disabled />
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tipo Vehículo</label>
                                        <input type="text" class="form-control" ng-model="Modelo.TipoVehiculo" disabled />
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Semiremolque</label>
                                        <input type="text" class="form-control" ng-model="Modelo.PlacaRemolque" disabled />
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Tenedor</label>
                                        <input type="text" class="form-control" ng-model="Modelo.NombreTenedor" disabled />
                                    </div>
                                </div>

                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Conductor</label>
                                        <input type="text" class="form-control" ng-model="Modelo.NombreConductor" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono Conductor</label>
                                        <input type="text" class="form-control" ng-model="Modelo.TelefonoConductor" disabled />
                                    </div>
                                </div>
                                <!--Valor Declarado-->
                                <div class="col-md-2 col-sm-2 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Declarado</label>
                                        <input type="text" name="txtTelefonoRemi" class="form-control text-right" placeholder="Teléfonos" ng-model="Modelo.ValorDeclarado" maxlength="100" tabindex="1" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Destinatario</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control" ng-model="Modelo.NombreDestinatario" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <input type="text" class="form-control" ng-model="Modelo.CiudadDestinatario" disabled />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Dirección</label>
                                        <input type="text" class="form-control" ng-model="Modelo.DireccionDestinatario" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Teléfono</label>
                                        <input type="text" class="form-control" ng-model="Modelo.TelefonoDestinatario" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid">
                    <!--Collapse-->
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Contenedor
                        </h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse" id="btnContenedor"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <!--Número Contenedor-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>No. Contenedor</label>
                                    <input type="text" class="form-control" placeholder="N° Contenedor" ng-model="ModalNumeroContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()" disabled>
                                </div>
                            </div>
                            <!--Mbl-->
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>MBL</label>
                                    <input type="text" class="form-control" placeholder="MBL" ng-model="ModalMBLContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()" disabled>
                                </div>
                            </div>
                            <!--HBL-->
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>HBL</label>
                                    <input type="text" class="form-control" placeholder="HBL" ng-model="ModalHBLContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()" disabled>
                                </div>
                            </div>
                            <!--DO-->
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>DO</label>
                                    <input type="text" class="form-control" placeholder="DO" ng-model="ModalDOContenedor" maxlength="30" tabindex="1" ng-change="MaskMayus()" disabled>
                                </div>
                            </div>
                            <!--ValorFOB-->
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label>Valor FOB</label>
                                    <input type="text" class="form-control" placeholder="FOB" ng-model="ModalValorFOB" maxlength="30" tabindex="1" ng-change="MaskValores()" disabled>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Fletes -->
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Fletes</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <!--<div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Flete Transportador</label>
                            <input type="text" class="form-control" ng-model="Modelo.FleteTransportador" ng-change="MaskNumero()" disabled />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Valor Flete Transportador</label>
                            <input type="text" class="form-control" ng-model="Modelo.TotalFleteTransportador" ng-change="MaskNumero()" disabled />
                        </div>
                    </div>-->

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Flete Cliente</label>
                                        <input type="text" class="form-control" style="text-align:right" ng-model="Modelo.FleteCliente" ng-change="MaskNumero()" disabled />
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Flete Cliente</label>
                                        <input type="text" class="form-control" style="text-align:right" ng-model="Modelo.TotalFleteCliente" ng-change="MaskNumero()" disabled />
                                    </div>
                                </div>

                                <!--<div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Anticipo</label>
                            <input type="text" class="form-control" ng-model="Modelo.Anticipo" ng-change="MaskNumero()" disabled />
                        </div>
                    </div>-->
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Documentsos Relacionados -->
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Documentos Relacionados</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Orden de Cargue</label>
                                        <input type="text" class="form-control" ng-model="Modelo.OrdenCargue" disabled />
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Planilla Despacho</label>
                                        <input type="text" class="form-control" ng-model="Modelo.NumeroPlanilla" disabled />
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Manifiesto</label>
                                        <input type="text" class="form-control" ng-model="Modelo.NumeroManifiesto" disabled />
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Factura</label>
                                        <input type="text" class="form-control" ng-model="Modelo.NumeroFactura" disabled />
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>No. Remesa Electrónico</label>
                                        <input type="text" class="form-control" ng-model="Modelo.NumeroMinisterio" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12" ng-show="ctr.Importar_ExportarExcel.Visible">
                                    <div class="form-group">
                                        <label>DT</label>
                                        <input type="text" class="form-control" ng-model="Modelo.DT" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12" ng-show="ctr.Importar_ExportarExcel.Visible">
                                    <div class="form-group">
                                        <label>Entrega</label>
                                        <input type="text" class="form-control" ng-model="Modelo.Entrega" disabled />
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12" ng-show="ctr.Importar_ExportarExcel.Visible">
                                    <div class="form-group">
                                        <label>Facturar A</label>
                                        <input type="text" class="form-control" ng-model="Modelo.TerceroFacturarA.NombreCompleto" disabled />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="form-group">
                        <label>Oficina</label>
                        <input name="cmbOficina" class="form-control" ng-model="ModeloOficina" disabled>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Estado</label>
                        <input name="cmbOficina" class="form-control" ng-model="ModeloEstado" disabled>
                    </div>
                </div>

            </div>

            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" title="Cancelar" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <!--<button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarActualizar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>-->
                </div>
            </div>
        </form>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>