﻿<div ng-controller="GestionarLegalizacionPlanillaPaqueteriaCtrl" ng-init="InitLoad()">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i>Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">{{opcion.Nombre}}</li>
    </ol>

    <section class="content-header">
        <h1>GESTIONAR LEGALIZACIÓN PLANILLA PAQUETERÍA</h1>
    </section>

    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>

                <!-- Encabezado -->
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <span class="form-control">{{Modelo.NumeroDocumento}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" class="form-control" ng-model="Modelo.Fecha" ng-disabled="DeshabilitarGuardar" />
                        </div>
                    </div>
                    <!--<div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Identificación</label>
                            <input maxlength="60" type="text" class="form-control" ng-change="MaskNumero()" placeholder="Identificación" ng-model="IdentificacionConductor" ng-blur="ObtenerConductor()" ng-disabled="DeshabilitarGuardar || Modelo.NumeroDocumento> 0">
                        </div>
                    </div>-->
                    <div class="col-md-5 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Conductor</label>
                            <input maxlength="60" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un conductor" autocomplete="off"
                                   ng-model="Modelo.Conductor" uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5"
                                   ng-required="false" ng-blur="Modelo.Conductor=VerificarAutocomplete(Modelo.Conductor);AsignarIdentificacion(Modelo.Conductor)" ng-disabled="DeshabilitarGuardar || Modelo.NumeroDocumento> 0">

                        </div>
                    </div>

                </div>
                <!--Planilla-->

                <div class="row" ng-show="!DeshabilitarActualizar && !DeshabilitarGuardar">
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="!DeshabilitarActualizar">
                        <div class="form-group">
                            <label>Planilla</label>
                            <input ng-change="MaskMayus()" type="text" ng-blur="Planilla=VerificarAutocomplete(Planilla)" autocomplete="off"
                                   class="form-control" maxlength="50" placeholder="Seleccione la planilla" ng-model="Planilla"
                                   uib-typeahead="i as i.NumeroDocumento for i in ListadoPlanillaDespacho| filter:$viewValue | limitTo: 5 | orderBy: '-NumeroDocumento'"
                                   ng-required="false">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="!DeshabilitarActualizar">
                        <div class="pull-left">
                            <p class="space" style="margin:0 0 24px"> </p>
                            <button class="btn btn-block btn-primary" title="" ng-click="AgregarPlanilla()">
                                Agregar
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="!DeshabilitarActualizar">
                        <div class="form-group">
                            <label>Manifiesto</label>
                            <input ng-change="MaskMayus()" type="text" ng-blur="Manifiesto=VerificarAutocomplete(Manifiesto)" autocomplete="off"
                                   class="form-control" maxlength="50" placeholder="Seleccione el manifiesto" ng-model="Manifiesto"
                                   uib-typeahead="i as i.NumeroDocumento for i in ListadoManifiesto| filter:$viewValue | limitTo: 5 | orderBy: '-NumeroDocumento'"
                                   ng-required="false">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12" ng-show="!DeshabilitarActualizar">
                        <div class="pull-left">
                            <p class="space" style="margin:0 0 24px"> </p>
                            <button class="btn btn-block btn-primary" title="" ng-click="AgregarManifiesto()">
                                Agregar
                                <span class="fa fa-plus"></span>
                            </button>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box box-default box-solid collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Comprobantes Egreso</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline">

                                    <thead>
                                        <tr>
                                            <th>Número</th>
                                            <th>Fecha</th>
                                            <th>Oficina</th>
                                            <th>Documento Origen</th>
                                            <th>No. Documento Origen</th>
                                            <th>Valor</th>
                                            <th>Observaciones</th>

                                            <th></th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr ng-repeat="item in Comprobantes">
                                            <td><a href="#!GestionarComprobanteEgresos/{{item.Codigo}}">{{item.Numero}}</a></td>
                                            <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                            <td>{{item.OficinaDestino.Nombre}}</td>
                                            <td>{{item.DocumentoOrigen.Nombre}}</td>
                                            <td>{{item.NumeroDocumentoOrigen}}</td>
                                            <td class="text-right">{{item.ValorPagoTotal | number:0}}</td>
                                            <td>{{item.Observaciones}}</td>

                                            <td style="display:inline-flex">
                                                <button class="button mini-button btn-danger" title="Eliminar" ng-click="EliminarComprobante(item,Conductor.Comprobantes);Calcular()" ng-hide="DeshabilitarGuardar || item.DocumentoOrigen.Codigo !== 2609">
                                                    <span class="fas fa-trash-alt"></span>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="ResultadoConsulta">
                    <div class="table-responsive" ng-show="ListaPlanillaConceptos.length > 0" style="overflow-y:scroll;overflow-x:scroll;max-height:1000px;max-width:100%">
                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline">
                            <thead>
                                <tr>
                                    <th width="10px"></th>
                                    <th ng-click="OrdenarPor(ListaPlanillaConceptos,'Planilla','NumeroDocumento')" class="btn-link" style="cursor:pointer">Planilla</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!--Listado Grid agrupado-->
                                <tr ng-repeat="item in ListaPlanillaConceptos">
                                    <td ng-click="ListConceptos(item)" width="15px"><span class="glyphicon glyphicon-menu-right"></span></td>
                                    <td>
                                        <div class="col-md-12">{{item.Planilla.NumeroDocumento}} - No. Manifiesto {{item.Planilla.Manifiesto.NumeroDocumento}} - <strong>Valor Anticipo {{MaskValoresGrid(item.Planilla.ValorAnticipo)}}</strong>  - Ruta {{item.Planilla.Ruta.Nombre}} - Vehículo {{item.Planilla.Vehiculo.Placa}}</div>
                                        <div ng-show="!item.lstData">
                                            <div ng-show="item.ShowCombustible == true">
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Km Ruta<span style="color:red">*</span></label>
                                                        <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="item.Planilla.Km_Ruta" ng-disabled="DeshabilitarGuardar" style="text-align: right" ng-change="item.Planilla.Km_Ruta = MaskValoresGrid(item.Planilla.Km_Ruta)">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Km Galón<span style="color:red">*</span></label>
                                                        <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="item.Planilla.Km_Galon" ng-disabled="DeshabilitarGuardar" style="text-align: right" ng-blur="CalcularKm(item.Planilla)" ng-change="item.Planilla.Km_Galon = MaskValoresGrid(item.Planilla.Km_Galon)">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Km Inicial</label>
                                                        <input maxlength="60" type="text" class="form-control" ng-change="item.Planilla.Km_Inicial = MaskValoresGrid(item.Planilla.Km_Inicial)" placeholder="" ng-model="item.Planilla.Km_Inicial" ng-disabled="DeshabilitarGuardar" ng-blur="CalcularKm(item.Planilla)" style="text-align: right">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Km Final</label>
                                                        <input maxlength="60" type="text" class="form-control" ng-change="item.Planilla.Km_Final = MaskValoresGrid(item.Planilla.Km_Final)" placeholder="" ng-model="item.Planilla.Km_Final" ng-disabled="DeshabilitarGuardar" ng-blur="CalcularKm(item.Planilla);Calcular()" style="text-align: right">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Total Km</label>
                                                        <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="item.Planilla.Total_Km" disabled style="text-align: right">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Gal Estimados<span style="color:red">*</span></label>
                                                        <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="item.Planilla.Gal_Estimados" disabled style="text-align: right">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Gal Autorizados EDS</label>
                                                        <input maxlength="60" type="text" class="form-control" ng-change="item.Planilla.Galones_Autorizados = MaskValoresGrid(item.Planilla.Galones_Autorizados);Calcular()" placeholder="" ng-model="item.Planilla.Galones_Autorizados" ng-disabled="DeshabilitarGuardar" style="text-align: right">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Horas Inicial</label>
                                                        <input maxlength="60" type="text" class="form-control" ng-change="item.Planilla.Horas_Inicio = MaskValoresGrid(item.Planilla.Horas_Inicio);CalcularTotalesGalon(item.Planilla);Calcular()" placeholder="" ng-model="item.Planilla.Horas_Inicio" ng-disabled="DeshabilitarGuardar" ng-blur="CalcularTermo(item)" style="text-align: right">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Horas Final</label>
                                                        <input maxlength="60" type="text" class="form-control" ng-change="item.Planilla.Horas_Fin = MaskValoresGrid(item.Planilla.Horas_Fin);CalcularTotalesGalon(item.Planilla);Calcular()" placeholder="" ng-model="item.Planilla.Horas_Fin" ng-disabled="DeshabilitarGuardar" ng-blur="CalcularTermo(item)" style="text-align: right">
                                                    </div>
                                                </div>
                                                <div class="col-md-2 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Horas Termo</label>
                                                        <input maxlength="60" type="text" class="form-control" placeholder="" ng-model="item.Planilla.Horas_Termo" disabled style="text-align: right">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Horas Galón Termo</label>
                                                        <input maxlength="60" type="text" class="form-control" ng-change="item.Planilla.Horas_Galon_Termo = MaskValoresGrid(item.Planilla.Horas_Galon_Termo);CalcularTermo(item);CalcularTotalesGalon(item.Planilla);Calcular()" placeholder="" ng-model="item.Planilla.Horas_Galon_Termo" ng-disabled="DeshabilitarGuardar" style="text-align: right">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Galón Estimado Termo</label>
                                                        <span class="form-control" style="text-align: right">{{item.Planilla.Galon_Estimado_Termo}}</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-4 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Total Estimado Estimados</label>
                                                        <span class="form-control" style="text-align: right">{{item.Planilla.Total_Galones}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm display nowrap dataTable dtr-inline">

                                                <thead>
                                                    <tr>
                                                        <th ng-click="OrdenarPor(item.Data,'Concepto','Nombre')" class="btn-link" style="cursor:pointer">Concepto<span style="color:red">*</span></th>
                                                        <th ng-click="OrdenarPor(item.Data,'Valor')" class="btn-link" style="cursor:pointer">Valor <span style="color:red">*</span></th>
                                                        <th ng-click="OrdenarPor(item.Data,'Proveedor','Nombre')" class="btn-link" style="cursor:pointer">Proveedor <span style="color:red">*</span></th>
                                                        <th ng-click="OrdenarPor(item.Data,'NumeroFactura')" class="btn-link" style="cursor:pointer">Factura</th>
                                                        <th ng-click="OrdenarPor(item.Data,'FechaFactura')" class="btn-link" style="cursor:pointer">Fecha Factura</th>
                                                        <th ng-show="HabilitarCantidadGalones" ng-click="OrdenarPor(item.Data,'CantidadGalones')" class="btn-link" style="cursor:pointer">Cantidad Galones</th>
                                                        <th ng-click="OrdenarPor(item.Data,'Observaciones')" class="btn-link" style="cursor:pointer">Observaciones</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr ng-repeat="item1 in item.Data">
                                                        <td style="min-width:300px">

                                                            <select name="cmbEstado" class="form-control" ng-model="item1.Concepto" ng-options="i.Nombre for i in ListadoConceptos" ng-disabled="DeshabilitarGuardar || item1.Concepto.ConceptoSistema == 1" data-template-u ng-show="item1.Concepto.ConceptoSistema == 0 || item1.Concepto == undefined"></select>

                                                            <input type="text" class="form-control" ng-model="item1.Concepto.Nombre" ng-disabled="DeshabilitarGuardar || item1.Concepto.ConceptoSistema == 1" ng-show="item1.Concepto.ConceptoSistema == 1" />

                                                            <a uib-popover-template="'myPopoverTemplate.html'" popover-is-open="item1.popvisible" popover-class="increase-popover-width" popover-placement="right-bottom " popover-title="Detalle Concepto Gasto Combustible" popover-trigger="'outsideClick'" href="" ng-show="item1.Concepto.Nombre.includes('COMBUSTIBLE')">
                                                                Detalle Galón
                                                            </a>
                                                            <script type="text/ng-template" id="myPopoverTemplate.html">
                                                                <div class="col-md-6 col-sm-4 col-xs-12">
                                                                    <div class="form-group">
                                                                        <label>Tiene Chip</label>
                                                                        <br />
                                                                        <input type="checkbox" ng-model="item1.TieneChip" ng-change="Calcular()">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-6 col-sm-4 col-xs-12">
                                                                    <div class="form-group">
                                                                        <label>Galones</label>
                                                                        <input ng-change="item1.CantidadGalones = MaskValoresGrid(item1.CantidadGalones);item1.Valor=CalcularValorGalon(item1.CantidadGalones,item1.ValorGalones);Calcular()" type="text" class="form-control" maxlength="50" ng-model="item1.CantidadGalones" placeholder="Galones">

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-sm-4 col-xs-12">
                                                                    <div class="form-group">
                                                                        <label>Valor Galón</label>
                                                                        <input ng-change="item1.ValorGalones = MaskValoresGrid(item1.ValorGalones);item1.Valor=CalcularValorGalon(item1.CantidadGalones,item1.ValorGalones);Calcular()" type="text" class="form-control" maxlength="50" ng-model="item1.ValorGalones" placeholder="Valor galon" style="text-align: right">

                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-sm-4 col-xs-12">
                                                                    <div class="form-group">
                                                                        <label>Nombre Estación</label>
                                                                        <input ng-change="MaskMayus()" type="text" class="form-control" maxlength="50" ng-model="item1.NombreEstacion" placeholder="Nombre estación">
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 col-sm-4 col-xs-12">
                                                                    <div class="form-group">
                                                                        <label>Valor Galones</label>
                                                                        <span class=" form-control" style="text-align: right">{{item1.Valor}}</span>
                                                                    </div>
                                                                </div>

                                                                <div class="form-actions">
                                                                    <div class="pull-right">
                                                                        <button type="button" class="btn btn-danger" ng-click="item1.popvisible = false">Cerrar</button>
                                                                    </div>
                                                                </div>
                                                            </script>
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" maxlength="10" ng-change="item1.Valor = MaskValoresGrid(item1.Valor);Calcular()" ng-model="item1.Valor" style="text-align: right" ng-disabled="DeshabilitarGuardar || item1.Concepto.Nombre.includes('COMBUSTIBLE') || item1.Concepto.ConceptoSistema == 1" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" maxlength="100" ng-model="item1.Proveedor" uib-typeahead="i as i.NombreCompleto for i in AutocompleteProveedor($viewValue) | filter:$viewValue | limitTo: 5" ng-disabled="DeshabilitarGuardar" ng-change="Calcular()" />
                                                        </td>
                                                        <td>
                                                            <input type="text" class="form-control" maxlength="10" ng-change="item1.NumeroFactura = MaskNumeroGrid(item1.NumeroFactura)" ng-model="item1.NumeroFactura" ng-disabled="DeshabilitarGuardar" />
                                                        </td>
                                                        <td>
                                                            <input type="date" class="form-control" ng-model="item1.FechaFactura" ng-disabled="DeshabilitarGuardar" />
                                                        </td>
                                                        <td ng-show="HabilitarCantidadGalones">
                                                            <input type="text" class="form-control" maxlength="10" ng-change="item1.CantidadGalones = MaskNumeroGrid(item1.CantidadGalones)" ng-model="item1.CantidadGalones" style="text-align: right" ng-disabled="DeshabilitarGuardar" />
                                                        </td>
                                                        <td style="min-width:100px">
                                                            <!--<a href="" data-toggle="tooltip" title={{item1.Observaciones}} ng-click>...Ver más</a>-->

                                                            <a uib-popover-template="'myPopoverTemplate.html'" popover-is-open="item1.popvisible" popover-class="increase-popover-width" popover-placement="left-bottom " popover-title="Observaciones" popover-trigger="'outsideClick'" href="" data-toggle="tooltip" title={{item1.Observaciones}}>

                                                                ...Ver más
                                                            </a>
                                                            <div>
                                                                <script type="text/ng-template" id="myPopoverTemplate.html">
                                                                    <div class="col-md-12 col-sm-12 col-xs-12" style="min-width:550px">
                                                                        <div class="form-group">
                                                                            <label>Observaciones</label>
                                                                            <textarea class="form-control" ng-model="item1.Observaciones" ng-disabled="DeshabilitarGuardar"></textarea>
                                                                        </div>
                                                                    </div>
                                                                </script>
                                                            </div>

                                                        </td>
                                                        <td style="display:inline-flex">
                                                            <button class="button mini-button btn-danger" title="Eliminar" ng-click="item.Data.splice($index, 1);Calcular()" ng-show="!DeshabilitarGuardar" ng-disabled="DeshabilitarEliminarAnular">
                                                                <span class="fas fa-trash-alt"></span>
                                                            </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="pull-left">
                                                <button class="btn btn-block btn-primary" title="" ng-click="item.Data.push({})" ng-show="!DeshabilitarGuardar">
                                                    Concepto
                                                    <span class="fa fa-plus"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                    <td style="display:inline-flex">
                                        
                                        <button class="button mini-button btn-default" title="Gastos Combistible" ng-click="SeccionCombustible(item);CalcularTotalesGalon(item.Planilla);Calcular()" ng-disabled="DeshabilitarEliminarAnular">
                                            <span class="fas fa-gas-pump"></span>
                                        </button>
                                        <button class="button mini-button btn-danger" title="Eliminar" ng-click="ListaPlanillaConceptos.splice($index, 1)" ng-show="!DeshabilitarGuardar" ng-disabled="DeshabilitarEliminarAnular">
                                            <span class="fas fa-trash-alt"></span>
                                        </button>

                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>



                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Totales</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Gastos</label>
                                        <span class="form-control" style="text-align:right">{{Modelo.ValorGastos}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Anticipos</label>
                                        <span class="form-control" style="text-align:right">{{Modelo.ValorAnticipos}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Valor Reanticipos</label>
                                        <span class="form-control" style="text-align:right">{{Modelo.ValorReanticipos}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Saldo Favor Conductor</label>
                                        <span class="form-control" style="text-align:right">{{Modelo.SaldoConductor}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label>Saldo Favor Empresa</label>
                                        <span class="form-control" style="text-align:right">{{Modelo.SaldoEmpresa}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12" ng-show=" Sesion.UsuarioAutenticado.ManejoGalonCombustible">
                                    <div class="form-group">
                                        <label>Total Peajes</label>
                                        <span class="form-control" style="text-align:right">{{Modelo.TotalPeajes}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12" ng-show=" Sesion.UsuarioAutenticado.ManejoGalonCombustible">
                                    <div class="form-group">
                                        <label>Total Galones Suministrados</label>
                                        <span class="form-control" style="text-align:right">{{Modelo.TotalGalones}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12" ng-show=" Sesion.UsuarioAutenticado.ManejoGalonCombustible">
                                    <div class="form-group">
                                        <label>Diferencia Galonaje</label>
                                        <span class="form-control" style="text-align:right">{{Modelo.TotalGalonesAutorizados}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12" ng-show=" Sesion.UsuarioAutenticado.ManejoGalonCombustible">
                                    <div class="form-group">
                                        <label>Valor Total Combustible</label>
                                        <span class="form-control" style="text-align:right">{{Modelo.ValorTotalCombustible}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12" ng-show=" Sesion.UsuarioAutenticado.ManejoGalonCombustible">
                                    <div class="form-group">
                                        <label>Valor Promedio Galon</label>
                                        <span class="form-control" style="text-align:right">{{Modelo.ValorPromedioGalon}}</span>
                                    </div>
                                </div>
                                <div class="col-md-2 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <br />
                                        <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Recalcular()" ng-disabled="DeshabilitarGuardar">
                                            Recalcular
                                            <span class="glyphicon glyphicon-refresh"></span>
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <textarea class="form-control" ng-model="Modelo.Observaciones" ng-disabled="DeshabilitarGuardar"></textarea>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <span class="form-control">{{ModeloOficina}}</span>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="DeshabilitarGuardar"></select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" title="Cancelar" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()" ng-disabled="DeshabilitarGuardar">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>