<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  <h1 id="tableLabel">Departamentos</h1>
  <form [formGroup]="form">
    <div>
      <p>
        Código: <br />
        <input class="form-control" type="text" formControlName="txtCodigo" maxlength="4"/>
      </p>
      <p>
        Nombre: <br />
        <input class="form-control" type="text" formControlName="txtNombre" maxlength="50" />
      </p>
      <p>
        Pais: <br />
        <mat-form-field>
          <input class="form-control" type="text" matInput formControlName="txtPais" [matAutocomplete]="auto">

          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let pais of lstFiltPais" [value]="pais.Nombre">
              {{ pais.Nombre }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </p>
      <div class="row">
        <div class="pull-left">
          <button type="button" class="btn btn-block btn-primary" [disabled]="form.invalid" (click)="funGuardar()">
            Guardar
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
      <div *ngIf="form.get('txtCodigo').errors && form.get('txtCodigo').touched">
        <p *ngIf="form.get('txtCodigo').hasError('required')">
          El campo Código es requerido.
        </p>
        <p *ngIf="form.get('txtCodigo').hasError('maxlength')">
          La longitud máxima del campo Código es 6 caracteres.
        </p>
      </div>
      <div>
        <br />
        Mensaje: {{ strMensaje }}
      </div>
    </div>
  </form>
</body>
</html>
