<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title></title>
</head>
<body>

  <section class="content-header">
  </section>

  <div class="content">
    <form [formGroup]="form" autocomplete="off">
      <!--<div *ngIf="ciudad">-->
        <h1>GESTIONAR CIUDADES</h1>
        <ul>
          <li *ngFor="let error in lstMensajesError">
            <span class="errorField">{{ error }}</span>
          </li>
        </ul>
        <div class="col-md-3 col-sm-2 col-xs-12">
          <div>
            <label for="lblCodigo">Código: </label>
            <label for="lblCiudadCodigo">{{ ciudad.Codigo }}</label>
          </div>
        </div>
        <div class="col-md-3 col-sm-2 col-xs-12">
          <div>
            <label for="lblNombre">Nombre</label>
            <input class="form-control" type="text" placeholder="Ciudad" formControlName="txtNombre" [(ngModel)]="ciudad.Nombre" maxlength="50" />
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-12">
          <div>
            <label for="lblCodiDane">Código DANE</label>
            <input class="form-control" type="text" placeholder="Código" formControlName="txtCodiDane" [(ngModel)]="ciudad.CodigoAlterno" max="999999" maxlength="6" />
          </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div>
            <label for="lblNombDepa">Departamento</label>
            <input class="form-control" type="text" placeholder="Departamento" formControlName="txtDepartamento" [(ngModel)]="ciudad.Departamento.Nombre" maxlength="50" />
          </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
          <div>
            <label for="lblEstado">Estado</label>
            <select class="form-control" formControlName="cmbEstado" [(ngModel)]="ciudad.Estado">
              <!--<option [value]="estado.Codigo" *ngFor="let estado of lstEstados"> {{ estado.Nombre }} </option>-->-->
              <option value="1" [selected]>ACTIVO</option>
              <option value="0">INACTIVO</option>
            </select>
          </div>
        </div>
        <br />
        <div class="row">
          <div class="pull-left">
            <button type="button" class="btn btn-block btn-primary" (click)="funGuardar()">
              Guardar
              <span class="glyphicon glyphicon-search"></span>
            </button>
          </div>
        </div>
      <!--</div>-->
    </form>
  </div>

</body>
</html>
