﻿<div ng-controller="CumplidoRemesasCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CUMPLIR REMESAS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Número</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="Modelo.NumeroDocumento" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Inicial</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechVinc">Fecha Final</label>
                            <input name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaFinal">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Vehículo</label>
                            <input type="text" class="form-control" maxlength="18" placeholder="Placa" ng-model="Modelo.Vehiculo"
                                   uib-typeahead="Vehi as Vehi.Placa for Vehi in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Vehiculo=VerificarAutocomplete(Modelo.Vehiculo)" ng-disabled="DeshabilitarActualizar" />
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Ruta</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione una ruta" ng-model="Modelo.Ruta"
                                   uib-typeahead="Ruta as Ruta.Nombre for Ruta in ListadoRutasInical| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Ruta=VerificarAutocomplete(Modelo.Ruta)">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="CodigoAlterno">Documento Cliente</label>
                            <input name="CodigoAlterno" class="form-control" ng-model="Modelo.NumeroDocumentoCliente" placeholder="Ingrese un valor" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input maxlength="60" type="text" class="form-control" placeholder="Seleccione un Cliente" ng-model="Modelo.Cliente"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-blur="Modelo.Cliente=VerificarAutocomplete(Modelo.Cliente)">
                        </div>
                    </div>
                </div>


            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar ciudad" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva ciudad" ng-click="ValidarRemesasCumplir(this.ListadoRemesas)">
                        Cumplir Seleccionados
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div style="overflow-x:scroll; max-width:100%" class="table-responsive" ng-if="ListadoRemesas.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th><input type="checkbox" ng-click="SlcTodo(Seleccion)" ng-model="Seleccion" />Todos</th>
                                <th hidden></th>
                                <th>No. Remesa</th>
                                <th>No. Planilla</th>
                                <th>Fecha</th>
                                <th>Ruta</th>
                                <th>Cliente</th>
                                <th>Documento Cliente</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Peso (Kg)</th>
                                <th>Ident. Recibe</th>
                                <th>Nombre Recibe</th>
                                <th>Teléfono Recibe</th>
                                <th>Fecha Recibe</th>
                                <th>Cantidad Recibe</th>
                                <th>Peso Recibe</th>
                                <th>Observaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoRemesas | orderBy:'Codigo'">
                                <td><input type="checkbox" ng-model="item.Seleccionado" /> </td>
                                <td hidden>{{item.Numero}}</td>
                                <td>{{item.NumeroDocumento}}</td>
                                <td>{{item.Planilla.Numero}}</td>
                                <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                <td>{{item.Ruta.Nombre}}</td>
                                <td>{{item.Cliente.NombreCompleto}}</td>
                                <td align="right">{{item.NumeroDocumentoCliente}}</td>
                                <td>{{item.ProductoTransportado.Nombre}}</td>
                                <td align="right">{{MaskValoresGrid(item.CantidadCliente)}}</td>
                                <td align="right">{{item.PesoCliente}}</td>
                                <td style="min-width:150px"><input type="text" class="form-control" style="width:300px" maxlength="30" ng-change="item.IdentificacionRecibe = MaskNumeroGrid(item.IdentificacionRecibe)" ng-model="item.IdentificacionRecibe" placeholder="Ident. Recibe" /></td>
                                <td style="min-width:300px"><input type="text" class="form-control" maxlength="100" ng-change="item.NombreRecibe = MaskMayusGrid(item.NombreRecibe)" ng-model="item.NombreRecibe" placeholder="Nombre Recibe" /></td>
                                <td style="min-width:150px"><input type="text" class="form-control" maxlength="50" ng-change="item.TelefonoRecibe = MaskNumeroGrid(item.TelefonoRecibe)" ng-model="item.TelefonoRecibe" placeholder="Teléfono Recibe" /></td>
                                <td style="min-width:100px"><input name="txtFechVinc" type="date" class="form-control" ng-model="item.FechaRecibe"></td>
                                <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-change="item.CantidadRecibe = MaskNumeroGrid(item.CantidadRecibe)" ng-model="item.CantidadRecibe" placeholder="Cantidad Recibe" /></td>
                                <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-change="item.PesoRecibe = MaskNumeroGrid(item.PesoRecibe)" ng-model="item.PesoRecibe" placeholder="Peso Recibe" /></td>
                                <td style="min-width:500px"><input type="text" class="form-control" maxlength="100" ng-model="item.ObservacionesRecibe" placeholder="Observaciones" /></td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="ModalErrores" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg" style="width:90%">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>Por favor complete los campos de identificación, Nombre, télefono ,fecha (Menor a la actual) y cantidad recibida en los registros seleccionados</p>
                        <div class="ResultadoConsulta">
                            <div style="overflow-x:scroll; max-width:100%" class="table-responsive" ng-if="RemesasCumplir.length > 0">
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <td hidden></td>
                                            <th>No. Remesa</th>
                                            <th>No. Planilla</th>
                                            <th>Fecha</th>
                                            <th>Ruta</th>
                                            <th>Cliente</th>
                                            <th>Documento Cliente</th>
                                            <th>Producto</th>
                                            <th>Cantidad</th>
                                            <th>Peso (Kg)</th>
                                            <th>Ident. Recibe</th>
                                            <th>Nombre Recibe</th>
                                            <th>Teléfono Recibe</th>
                                            <th>Fecha Recibe</th>
                                            <th>Cantidad Recibe</th>
                                            <th>Peso Recibe</th>
                                            <th>Observaciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in RemesasCumplir | orderBy:'Codigo'" style="{{item.stRow}}">
                                            <td hidden>{{item.Numero}}</td>
                                            <td>{{item.NumeroDocumento}}</td>
                                            <td>{{item.NumeroPlanilla}}</td>
                                            <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                            <td>{{item.Ruta.Nombre}}</td>
                                            <td>{{item.Cliente.NombreCompleto}}</td>
                                            <td align="right">{{item.NumeroDocumentoCliente}}</td>
                                            <td>{{item.ProductoTransportado.Nombre}}</td>
                                            <td align="right">{{MaskValoresGrid(item.CantidadCliente)}}</td>
                                            <td align="right">{{item.PesoCliente}}</td>
                                            <td style="min-width:150px"><input type="text" class="form-control" maxlength="30" ng-change="item.IdentificacionRecibe = MaskNumeroGrid(item.IdentificacionRecibe)" ng-model="item.IdentificacionRecibe" placeholder="Ident. Recibe" /></td>
                                            <td style="min-width:300px"><input type="text" class="form-control" maxlength="100" ng-change="item.NombreRecibe = MaskMayusGrid(item.NombreRecibe)" ng-model="item.NombreRecibe" placeholder="Nombre Recibe" /></td>
                                            <td style="min-width:150px"><input type="text" class="form-control" maxlength="50" ng-change="item.TelefonoRecibe = MaskNumeroGrid(item.TelefonoRecibe)" ng-model="item.TelefonoRecibe" placeholder="Teléfono Recibe" /></td>
                                            <td style="min-width:100px"><input name="txtFechVinc" type="date" class="form-control" ng-model="item.FechaRecibe"></td>
                                            <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-change="item.CantidadRecibe = MaskNumeroGrid(item.CantidadRecibe)" ng-model="item.CantidadRecibe" placeholder="Cantidad Recibe" /></td>
                                            <td style="min-width:100px"><input type="text" class="form-control" maxlength="10" ng-change="item.PesoRecibe = MaskNumeroGrid(item.PesoRecibe)" ng-model="item.PesoRecibe" placeholder="Peso Recibe" /></td>
                                            <td style="min-width:500px"><input type="text" class="form-control" maxlength="100" ng-model="item.ObservacionesRecibe" placeholder="Observaciones" /></td>
                                        </tr>
                                    </tbody>


                                </table>
                            </div>
                            <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                                <span style="color:red">
                                    <small>{{ResultadoSinRegistros}}</small>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ValidarRemesasCumplir(this.RemesasCumplir)">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de cumplir las remesas seleccionadas?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionCumplir()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>