﻿<div ng-controller="ConsultarProgramacionOrdenServicioCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaInicial">Fecha Inicial</label>
                            <input name="fechaInicial" type="date" class="form-control" ng-model="ModeloFechaInicial">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="fechaFinal">Fecha Final</label>
                            <input name="fechaFinal" type="date" class="form-control" ng-model="ModeloFechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroInicial">Programación</label>
                            <input name="numeroInicial" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="ModeloNumero" placeholder="Ingrese un número">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroInicial">Orden Servicio</label>
                            <input name="numeroInicial" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="ModeloNumeroOrdenServicio" placeholder="Ingrese un número">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="numeroInicial">Cliente</label>
                            <input name="numeroInicial" ng-change="MaskNumero()" maxlength="15" class="form-control" ng-model="Cliente.Nombre" placeholder="Ingrese un número">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label> Estado Programación</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstadoSolicitus" ng-options="i.Nombre for i in ListadoEstadoSolicitud"></select>
                        </div>
                    </div>

                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;Buscar()" ng-disabled="DeshabilitarConsulta">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Nueva" ng-click="NuevoDocumento()" ng-disabled="DeshabilitarActualizar">
                        Nuevo
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="table-responsive" ng-if="ListadoOrdenServicios.length > 0">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Programación</th>
                                        <th>Fecha</th>
                                        <th>Orden Servicio</th>
                                        <th>Fecha</th>
                                        <th>Cliente</th>
                                        <th>Ruta</th>
                                        <th>Producto</th>
                                        <th>Sitio Cargue</th>
                                        <th>Sitio Descargue</th>
                                        <th>Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoOrdenServicios | orderBy:'-Numero'">
                                        <td><a href="#!GestionarPorgrmacionOrdenServicio/{{item.Numero}}">{{item.Numero}}</a></td>
                                        <td>{{item.Fecha | date:'dd/MM/yyyy'}}</td>
                                        <td>{{item.OrdenServicio.NumeroDocumento}}</td>
                                        <td>{{item.OrdenServicio.Fecha | date:'dd/MM/yyyy'}}</td>
                                        <td>{{item.Cliente.Nombre}}</td>
                                        <td>{{item.Ruta.Nombre}}</td>
                                        <td>{{item.Producto}}</td>
                                        <td>{{item.SitioCargue.Nombre}}</td>
                                        <td>{{item.SitioDescargue.Nombre}}</td>
                                        <td>
                                            <span ng-if="item.EstadoProgramacion.Codigo == 18602" class="label label-danger">INCOMPLETA</span>
                                            <span ng-if="item.EstadoProgramacion.Codigo ==18603 " class="label label-success">DESPACHADA</span>
                                            <span ng-if="item.EstadoProgramacion.Codigo ==18601" class="label label-warning">PENDIENTE</span>
                                            <span ng-if="item.EstadoProgramacion.Codigo ==18604" class="label label-success">FINALIZADA</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                    <tr>
                                        <td colspan="4">
                                            <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                            <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                    <span class="item">&laquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                    <span class="item">&lsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                    <span class="item">&rsaquo;</span>
                                                </button>
                                                <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                    <span class="item">&raquo;</span>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>

                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                        <span style="color:red">
                            <small>{{ResultadoSinRegistros}}</small>
                        </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>