﻿<div ng-controller="PlanificacionDespachosV2Ctrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>{{Titulo}}</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <section class="content">
        <form>
            <div id="filtrosConsulta">
                <!--Errores-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                            <ul>
                                <li ng-repeat="error in MensajesError">
                                    <span>{{error}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--Cargar Remesas-->
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Inicial</label>
                            <input type="date" class="form-control" ng-model="FechaInicial">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Fecha Final</label>
                            <input type="date" class="form-control" ng-model="FechaFinal">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Despacha</label>
                            <select tabindex="1" class="form-control" placeholder="Ingrese una Ciudad Origen" ng-model="OficinaDespacha" ng-disabled="Deshabilitar"
                                    ng-options="i.Nombre for i in ListadoOficinas | orderBy: 'Nombre' "></select>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad Origen</label>
                            <input tabindex="1" type="text" class="form-control" placeholder="Ingrese una Ciudad Origen" ng-model="CiudadOrigen" ng-disabled="Deshabilitar" autocomplete="off"
                                   uib-typeahead="i as i.Nombre for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Ciudad Destino</label>
                            <input tabindex="1" type="text" class="form-control" placeholder="Ingrese una Ciudad Destino" ng-model="CiudadDestino" ng-disabled="Deshabilitar" autocomplete="off"
                                   uib-typeahead="i as i.Nombre for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Tipo Planilla</label>
                            <select class="form-control" ng-model="TipoPlanilla" ng-options="i.Nombre for i in ListadoTipoDocumentoPlanilla"
                                    ng-disabled="DeshabilitarTipoPlanilla"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Cliente</label>
                            <input type="text" class="form-control" placeholder="Seleccione un Cliente" ng-model="Cliente" autocomplete="off"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                   ng-disabled="Deshabilitar">
                        </div>
                    </div>
                </div>
                <!--Botones-->
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-primary btn-primary" ng-click="CargarResumenRemesas()" title="Cargar Resumen Remesas" ng-disabled="DeshabilitarConsulta">
                            Calcular
                            <span class="glyphicon glyphicon-refresh"></span>
                        </button>
                    </div>
                </div>
                <br />
                <br />
                <!--Vehiculos Disponibles-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-default box-solid" id="ResumenVehiculosDisponibles">
                            <div class="box-header with-border">
                                <h3 class="box-title">Flota Disponible</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row" ng-show="VehiculosDisponibles.length > 0">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th>Placa</th>
                                                        <th>Semirremolque</th>
                                                        <th>Turno</th>
                                                        <th>Fecha Enturne</th>
                                                        <th>Tipo Vehículo</th>
                                                        <th>Tipo Carrocería</th>
                                                        <th>Modelo</th>
                                                        <th>Peso Bruto(Kg)</th>
                                                        <th>Capacidad(Kg)</th>
                                                        <th>Capacidad(M3)</th>
                                                        <th>Conductor</th>
                                                        <th>Tenedor</th>
                                                        <th>Ultima Fecha Cargue</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in VehiculosDisponibles | orderBy: 'Turno'">
                                                        <td>{{item.Vehiculo.Placa}}</td>
                                                        <td>{{item.Vehiculo.Semirremolque.Placa}}</td>
                                                        <td>{{item.Turno}}</td>
                                                        <td>{{item.FechaTurno | date:'dd/MM/yyyy HH:MM:ss'}}</td>
                                                        <td>{{item.TipoVehiculo.Nombre}}</td>
                                                        <td>{{item.TipoCarroceria.Nombre}}</td>
                                                        <td>{{item.Modelo}}</td>
                                                        <td align="right">{{item.PesoBruto | number }}</td>
                                                        <td align="right">{{item.Capacidad | number }}</td>
                                                        <td align="right">{{item.CapacidadM3 | number}}</td>
                                                        <td>{{item.Conductor.Nombre}}</td>
                                                        <td>{{item.Tenedor.Nombre}}</td>
                                                        <td>{{item.Vehiculo.FechaUltimoCargue | date:'dd/MM/yyyy'}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--Testo Informativo Sin Registros-->
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <span style="color:red"><small>{{ResultadoSinRegistrosVehiculos}}</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Vehiculos Disponibles-->
                <!--Filtro Remesas-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-default box-solid" id="ResumenRemesas">
                            <div class="box-header with-border">
                                <h3 class="box-title">Resumen Guías por Destino</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <!--Iformacion Agencia-->
                                <div class="row" ng-show="RemesasAgencia.length > 0">
                                    <!--<div class="col-md-12 text-center"><h4><strong>AGENCIA</strong></h4></div>-->
                                </div>
                                <div class="row" ng-show="RemesasAgencia.length > 0">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                                <thead>
                                                    <tr>
                                                        <th>Origen</th>
                                                        <th>Destino</th>
                                                        <th>Peso (kg)</th>
                                                        <th>Volumen(M3)</th>
                                                        <th>No. Guías</th>
                                                        <th>Unidades</th>
                                                        <th>Valor Flete</th>
                                                        <th>Valor Seguro</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr ng-repeat="item in RemesasAgencia">
                                                        <td>{{item.CiudadOrigen.Nombre}}</td>
                                                        <td>{{item.CiudadDestino.Nombre}}</td>
                                                        <td align="right">{{item.Peso | number}}</td>
                                                        <td align="right">{{item.VolumenM3 | number}}</td>
                                                        <td align="right">{{item.NumeroRemesas | number :0}}</td>
                                                        <td align="right">{{item.Cantidad}}</td>
                                                        <td align="right">{{item.TotalFlete | number :0}}</td>
                                                        <td align="right">{{item.ValorSeguro | number :0}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!--Testo Informativo Sin Registros-->
                                <div class="row">
                                    <div class="col-md-12 text-center">
                                        <span style="color:red"><small>{{ResultadoSinRegistrosResumenRemesas}}</small></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Filtro Remesas-->
                <!--Planifacion Despacho-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-default box-solid" id="Planificacion Despacho">
                            <div class="box-header with-border">
                                <h3 class="box-title">Planificación Despacho</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <!--Errores-->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="alert alert-danger" role="alert" ng-if="MensajesErrorPlanifacion.length > 0">
                                            <ul>
                                                <li ng-repeat="error in MensajesErrorPlanifacion">
                                                    <span>{{error}}</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!--Errores-->
                                <br />
                                <div class="row" ng-show="PlanillaDespacho.length > 0">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                                <tbody>
                                                    <tr ng-repeat="item in PlanillaDespacho">
                                                        <td>
                                                            <div>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm table-responsive">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>Vehiculo</th>
                                                                                    <th>Semirremolque</th>
                                                                                    <th>Ruta</th>
                                                                                    <th>Capacidad (kg)</th>
                                                                                    <th>Peso(kg)</th>
                                                                                    <th>Disponible(kg)</th>
                                                                                    <th>Capacidad (M3)</th>
                                                                                    <th>Volumen (M3)</th>
                                                                                    <th>Tiempo</th>
                                                                                    <th>Distancia</th>
                                                                                    <th>No. Remesas</th>
                                                                                    <th>Unidades</th>
                                                                                    <th>Mapa</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td><strong>{{item.Vehiculo.Placa}}</strong></td>
                                                                                    <td>{{item.Semirremolque.Placa}}</td>
                                                                                    <td>{{item.RemesaOrigenDestino}}</td>
                                                                                    <td align="right">{{item.Vehiculo.Capacidad | number :0}}</td>
                                                                                    <td align="right">{{item.PesoTotal | number }}</td>
                                                                                    <td align="right">{{(item.Vehiculo.Capacidad - item.PesoTotal) | number}}</td>
                                                                                    <td align="right">{{item.Vehiculo.CapacidadM3}}</td>
                                                                                    <td align="right">{{item.VolumenTotal | number}}</td>
                                                                                    <td>{{item.Tiempo}}</td>
                                                                                    <td>{{item.Distancia}}</td>
                                                                                    <td align="right">{{item.Guias | number :0}}</td>
                                                                                    <td align="right">{{item.CantidadTotal | number :0}}</td>
                                                                                    <td>
                                                                                        <button class="button mini-button btn-primary" title="Mapa Ruta" ng-click="VerRutaMapa(item.Indice)">
                                                                                            <span class="fas fa-map-marked-alt"></span>
                                                                                        </button>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <div class="box box-default box-solid collapsed-box" id="Planilla">
                                                                            <div class="box-header with-border">
                                                                                <h3 class="box-title">Planilla</h3>
                                                                                <div class="box-tools pull-right">
                                                                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                                                                </div>
                                                                            </div>
                                                                            <div class="box-body">
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <label>Semirremolque</label>
                                                                                            <input type="text" class="form-control" placeholder="Ingrese semirremolque" ng-model="item.Semirremolque" autocomplete="off"
                                                                                                   uib-typeahead="Semi as Semi.Placa for Semi in AutoCompleteSemiRemolque($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false"
                                                                                                   ng-blur="item.Semirremolque=VerificarAutocomplete(item.Semirremolque)" ng-disabled="Deshabilitar">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3 col-sm-6">
                                                                                        <div class="form-group">
                                                                                            <label>Ruta</label>
                                                                                            <input type="text" class="form-control" placeholder="Ingrese ruta" ng-model="item.Ruta" autocomplete="off"
                                                                                                   uib-typeahead="Ruta as Ruta.Nombre for Ruta in AutoCompleteRutasFiltradas($viewValue, item.ListadoRutas) | filter:$viewValue | limitTo: 5"
                                                                                                   ng-blur="item.Ruta=VerificarAutocomplete(item.Ruta);ObtenerTarifasCompra(item)" ng-required="false" ng-disabled="Deshabilitar">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3 col-sm-4">
                                                                                        <div class="form-group">
                                                                                            <label>Tarifa</label>
                                                                                            <select name="cmbTarifa" class="form-control" ng-model="item.Tarifa" ng-options="i.Nombre for i in item.ListadoTarifasFiltradas"
                                                                                                    ng-change="CambioTarifa(item)" ng-disabled="Deshabilitar"></select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-4">
                                                                                        <div class="form-group">
                                                                                            <label>Tipo Tarifa</label>
                                                                                            <select name="cmbTipoTarifa" class="form-control" ng-model="item.TipoTarifa" ng-options="i.Nombre for i in item.ListadoTipoTarifasFiltradas"
                                                                                                    ng-change="CambioTipoTarifa(item)" ng-disabled="Deshabilitar"></select>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-4">
                                                                                        <div class="form-group">
                                                                                            <label>Fecha Salida</label>
                                                                                            <input type="date" class="form-control" ng-model="item.FechaSalida" ng-disabled="Deshabilitar">
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="row">
                                                                                    <div class="col-md-2 col-sm-4">
                                                                                        <div class="form-group">
                                                                                            <label>Hora Salida</label>
                                                                                            <input type="text" ng-change="MascaraHora(item)" class="form-control" maxlength="5" placeholder="HH:MM" ng-model="item.HoraSalida" ng-disabled="Deshabilitar" />
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-4">
                                                                                        <div class="form-group">
                                                                                            <label>Valor Flete</label>
                                                                                            <input type="text" class="form-control text-right" placeholder="Valor Flete" ng-model="item.ValorFleteTransportador" disabled>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-4">
                                                                                        <div class="form-group">
                                                                                            <label>Anticipo</label>
                                                                                            <input maxlength="18" type="text" class="form-control text-right" ng-change="MascaraAnticipo(item)" placeholder="Anticipo" ng-model="item.Anticipo" ng-disabled="Deshabilitar">
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-4">
                                                                                        <div class="form-group">
                                                                                            <label>Valor Impuestos</label>
                                                                                            <input type="text" class="form-control text-right" placeholder="Valor impuestos" ng-model="item.ValorImpuesto" disabled>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-4">
                                                                                        <div class="form-group">
                                                                                            <label>Valor a Pagar</label>
                                                                                            <input type="text" class="form-control text-right" placeholder="Valor a pagar" ng-model="item.TotalFleteTransportador" disabled>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-2 col-sm-4">
                                                                                        <div class="form-group">
                                                                                            <label> </label>
                                                                                            <div class="SeccionBotones">
                                                                                                <button type="button" class="btn btn-primary" title="Generar Planilla" tabindex="1" ng-click="ConfirmacionGenerar(item.Indice)" ng-disabled="Deshabilitar">
                                                                                                    Generar Planilla
                                                                                                    <span class="glyphicon glyphicon-save"></span>
                                                                                                </button>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!--Confirmar Generar Planilla-->
    <div class="modal fade" id="modalConfirmacionGenerar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de generar la planilla?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="IniciarProcesoGenerarPlanilla()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Confirmar Generar Planilla-->
    <!--Errores Planilla-->
    <div class="modal fade" id="modalErrorPlanillaDespacho" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4>Se presentaron los siguientes errores al generar la planilla</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="alert alert-danger" role="alert" ng-if="MensajesErrorGenerarPlanilla.length > 0">
                                    <ul>
                                        <li ng-repeat="errorGenera in MensajesErrorGenerarPlanilla">
                                            <span>{{errorGenera}}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" data-dismiss="modal" title="Aceptar">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Errores Planilla-->
    <!--Mapa Ruta Google-->
    <div class="modal fade" id="modalMostrarRutaMapa" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-content modal-xl">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            MAPA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid">
                            <div class="box-body">
                                <div class="row">
                                    <!--Div Mapa-->
                                    <div class="col-md-12 text-center">
                                        <div>
                                            <div style="height: 500px" id="gmaps"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="LimpiarMapa()">
                                Cerrar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--Mapa Ruta Google-->
</div>