﻿<div ng-controller="RecepcionRemesaOficinaCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>RECEPCIÓN REMESAS OFICINA</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <ul>
                    <li ng-repeat="error in MensajesError">
                        <span class="errorField">{{error}}</span>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Planilla Despacho</label>

                            <input name="lblNumeGuia" class="form-control" ng-model="ModeloPlanillaDespacho" placeholder="Ingrese la guía" maxlength="20" ng-change="MaskNumero()">



                        </div>
                    </div>


                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Planilla Recolección</label>
                            <input name="lblNumeGuia" class="form-control" ng-model="ModeloPlanillaRecogida" placeholder="Ingrese la guía" maxlength="20" ng-change="MaskNumero()">



                        </div>
                    </div>

                    <!--<div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Origen</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModeloOficinaOrigen" ng-options="i.Nombre for i in ListadoOficinasOrigen"></select>
                        </div>
                    </div>-->
                    <!--<div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Actual</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModeloOficinaActual" ng-options="i.Nombre for i in ListadoOficinasActual"></select>
                        </div>
                    </div>-->
                    <!--<div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Ciudad Origen</label>
                            <input type="text" class="form-control" name="Ciudad Cargue" maxlength="50" id="ModeloCiudadCargue" placeholder="Ingrese una Ciudad Cargue" ng-model="ModeloCiudadCargue"
                                   uib-typeahead="i as i.Nombre for i in AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloCiudadCargue=VerificarAutocomplete(ModeloCiudadCargue)">

                        </div>
                    </div>-->
                    <!--<div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Ciudad Destino</label>
                            <input type="text" class="form-control" name="Ciudad Descargue" maxlength="50" id="ModeloCiudadDescargue" placeholder="Ingrese una Ciudad Descargue" ng-model="ModeloCiudadDescargue"
                                   uib-typeahead="i as i.Nombre for i in AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloCiudadDescargue=VerificarAutocomplete(ModeloCiudadDescargue)">

                        </div>
                    </div>-->
                    <!--<div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblNumeGuia">No. Remesa</label>
                            <input name="lblNumeGuia" class="form-control" ng-model="ModeloGuia" placeholder="Ingrese la guía" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>-->
                    <!--<div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">No. Preimpreso</label>
                            <input name="NumeroInicial" class="form-control" ng-model="ModeloNumeracion" placeholder="Ingrese numeración" maxlength="20">
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Cliente</label>
                            <input type="text" class="form-control" name="ModeloCliente" maxlength="50" id="ModeloCliente" ng-model="ModeloCliente"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloCliente=VerificarAutocomplete(ModeloCliente)">

                        </div>
                    </div>-->


                </div>


            </div>

            <div class="box box-default box-solid collapsed-box ">
                <div class="box-header with-border" ng-disabled="Bloquear">
                    <h3 class="box-title">Filtrar remesas</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="alert alert-danger" role="alert" ng-if="MensajesErrorfil.length > 0">
                        <ul>
                            <li ng-repeat="error in MensajesErrorfil">
                                <span>{{error}}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaInicialFiltro">Fecha Inicial</label>
                                <input name="fechaInicialFiltro" type="date" class="form-control" ng-model="modelofiltrofechaInicial">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="fechaFinalFiltro">Fecha Final</label>
                                <input name="fechaFinalFiltro" type="date" class="form-control" ng-model="modelofiltrofechaFinal">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numeroInicial">Remesa Inicial</label>
                                <input name="numeroInicial" type="number" maxlength="10" id="guiaInicial" placeholder="Ingrese un número" ng-change="MaskNumero()" class="form-control" ng-model="ModeloFiltroNumeroInicial">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-12">
                            <div class="form-group">
                                <label for="numeroFinal">Remesa Final</label>
                                <input name="numeroFinal" type="text" maxlength="10" id="guiaFinal" placeholder="Ingrese un número" ng-change="MaskNumero()" class="form-control" ng-model="ModeloFiltroNumeroFinal">
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <br />
                                <button type="button" class="btn btn-primary" title="Filtrar los recorridos actualmente cargados" ng-click="Filtrar()">
                                    Filtrar
                                    <span class="glyphicon glyphicon-search"></span>
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6">
                            <div class="form-group">
                                <br />
                                <button type="button" class="btn btn-primary" title="Reinicia la filtración actual para mostrar todos los recorridos cargados" ng-click="LimpiarFiltro()">
                                    Limpiar
                                    <span class="glyphicon glyphicon-refresh"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar" ng-click="paginaActual=1;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
                <div class="pull-right">
                    <button class="btn btn-block btn-primary" title="Procesar" ng-click="paginaActual=1;modalConfirmacionRecepcionGuias()">
                        Procesar
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoGuias.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th>Planilla Despacho</th>
                                <th>Planilla Recolección</th>
                                <th>Remesa</th>
                                <th>No.Preimpreso</th>
                                <th>Fecha</th>
                                <th>Cliente</th>

                                <th>Ciudad Origen</th>
                                <th>Ciudad Destino</th>
                                <th>Tienda</th>
                                <th>Producto</th>
                                <th>Cantidad</th>
                                <th>Peso</th>
                                <th>
                                    <label>
                                        Marc./Desma. Todo
                                        <input type="checkbox" ng-click="MarcarRemesas(ChkRemesa)" ng-model="ChkRemesa" title="Marcar o Desmarcar todas las remesas" />
                                    </label>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in ListadoGuias| orderBy:'Remesa.NumeroDocumento'">
                                <td>{{item.NumeroPlanilla}}</td>
                                <td>{{item.NumeroPlanillaRecoleccion}}</td>

                                <td>{{item.Remesa.NumeroDocumento}}</td>
                                <td>{{item.Numeracion}}</td>
                                <td>{{item.Remesa.Fecha | date:'dd/MM/yyyy' }}</td>
                                <td>{{item.Remesa.Cliente.NombreCompleto}}</td>

                                <td>{{item.Remesa.CiudadRemitente.Nombre}}</td>
                                <td>{{item.Remesa.CiudadDestinatario.Nombre}}</td>
                                <td>{{item.SitioDescargue.Nombre}}</td>
                                <td>{{item.Remesa.ProductoTransportado.Nombre}}</td>
                                <td>{{item.Remesa.CantidadCliente}}</td>
                                <td>{{item.Remesa.PesoCliente}}</td>
                                <td><input type="checkbox" ng-model="item.Seleccionado" /></td>
                            </tr>
                        </tbody>
                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="4">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>



        </form>
        <!-- Modal Confirmación Guardar Cuenta -->
        <div class="modal fade" id="modalConfirmacionRecepcionGuias" tabindex="-1" role="dialog" data-backdrop="static">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form autocomplete="off">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title">
                                GESTRANS.NET CARGA
                            </h4>
                        </div>
                        <div class="modal-body">
                            <p>¿Está seguro de guardar la información?</p>
                        </div>
                        <div class="modal-footer">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
</div>