﻿<div ng-controller="GestionarListaChequeoCargueDescarguesCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <input type="text" name="txtCodiAlte" class="form-control" maxlength="20" ng-disabled="true" placeholder="Número" ng-model="Modelo.Numero" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input name="fecha" class="form-control" type="date" ng-model="Modelo.Fecha">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModalEstado" ng-options="i.Nombre for i in ListadoEstados"></select>
                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid ">
                    <div class="box-header with-border" ng-disabled="Bloquear">
                        <h3 class="box-title">DATOS CLIENTE</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Documento</label>
                                    <select name="cmbEstado" class="form-control" ng-model="Modelo.TipoDocumentoSoporte" ng-options="i.Nombre for i in ListadoTipoDocumentos"></select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Número Documento</label>
                                    <input type="text" name="numerodocument" class="form-control" maxlength="20" placeholder="Número Documento Soporte" ng-model="Modelo.NumeroDocumentoSoporte" ng-blur="ConsultarDocumento()" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Ident. Cliente</label>
                                    <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="15" placeholder="Nombre" ng-model="Modelo.Cliente.NumeroIdentificacion" ng-blur="ValidarCliente(Modelo.Cliente.NumeroIdentificacion)" />
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Cliente</label>
                                    <input type="text" name="txtNombre" ng-disabled="true" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Nombre" ng-model="Modelo.Cliente.NombreCompleto" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Solicitud</label>
                                    <input name="fechasolicitud" class="form-control" type="date" ng-model="Modelo.FechaSolicitudOperacion" />
                                </div>
                            </div>

                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Ciudad Cargue</label>
                                    <input type="text" class="form-control" name="txtCiudad" id="txtCiudad" maxlength="30" typeahead-no-results="myform.txtCiudad.$error.required" placeholder="Ingrese le ciudad" ng-model="Modelo.CiudadCargue" ng-required="true" uib-typeahead="Ciudad as Ciudad.Nombre for Ciudad in ListadoCiudades | filter:$viewValue | limitTo: 5" ng-blur="AsignarCiudad(Modelo.CiudadCargue)">
                                    <div ng-if="myform.txtCiudad.$error.required && LongitudCiudad > 0">
                                        <i class="glyphicon glyphicon-remove"></i><small class="errorField">La ciudad ingresada no existe</small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Programación</label>
                                    <input name="fechaprogramacioncarga" class="form-control" type="date" ng-model="Modelo.FechaProgramacionCargue">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Contacto</label>
                                    <input type="text" name="contacto" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Contacto" ng-model="Modelo.ContactoCliente" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid ">
                    <div class="box-header with-border" ng-disabled="Bloquear">
                        <h3 class="box-title">DATOS VEHÍCULO</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label for="placa">Placa</label>
                                    <input ng-change="MaskPlaca()" ng-disabled="Deshabilitar" type="text" class="form-control" maxlength="6" name="txtPlaca" id="txtPlaca" placeholder="Seleccione una Placa" ng-model="Modelo.Placa" typeahead-no-results="myform.txtPlaca.$error.required" uib-typeahead="vehiculo as vehiculo.Placa for vehiculo in ListadoVehiculos| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="AsignarDatos(Modelo.Placa)">
                                    <div ng-if="myform.txtPlaca.$error.required && LongitudPlaca > 0">
                                        <i class="glyphicon glyphicon-remove"></i><small class="errorField"> La placa ingresada no existe en el sistema</small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Trailer No </label>
                                    <input type="text" name="txtNombre" ng-disabled="true" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Trailer No." ng-model="Modelo.Vehiculo.Semirremolque.Placa" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Capacidad (Kg) </label>
                                    <input type="text" name="txtNombre" ng-disabled="true" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Toneladas" ng-model="Modelo.Vehiculo.Capacidad" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Ident. Conductor</label>
                                    <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Ident. Conductor" ng-model="Modelo.Vehiculo.Conductor.NumeroIdentificacion" ng-blur="ValidarConductor(Modelo.Vehiculo.Conductor.Identificacion)" />
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Conductor</label>
                                    <input type="text" name="txtNombre" ng-disabled="true" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Conductor" ng-model="Modelo.Vehiculo.Conductor.NombreCompleto" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid ">
                    <div class="box-header with-border" ng-disabled="Bloquear">
                        <h3 class="box-title">INFORMACIÓN CARGUE</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Llegada</label>
                                    <input name="fechaOrigen" class="form-control" type="date" ng-model="Modelo.FechaLlegadaCargue">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Hora Llegada</label>
                                    <input ng-change="MaskHora()" name="horallegada" class="form-control" type="text" placeholder="HH:mm" ng-model="Modelo.HoraLlegada" maxlength="5" ng-blur= " Modelo.HoraLlegada = ValidarFormatoHora(Modelo.HoraLlegada,'Llegada')">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Número Operarios</label>
                                    <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Número Operarios" ng-model="Modelo.NumeroOperarios" />
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-4 col-xs-12">
                                <div class="form-group">
                                    <label>Fecha Cargue</label>
                                    <input name="fechaOrigen" class="form-control" type="date" ng-model="Modelo.FechaInicioCargue">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Hora Cargue</label>
                                    <input ng-change="MaskHora()" name="horaOrigen" class="form-control" type="text" placeholder="HH:mm" ng-model="Modelo.HoraInicioCargue"  ng-blur= " Modelo.HoraInicioCargue = ValidarFormatoHora(Modelo.HoraInicioCargue,'Cargue')" >
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-12">
                                <div class="form-group">
                                    <label>Hora Fin Cargue</label>
                                    <input ng-change="MaskHora()" name="horaOrigen" class="form-control" type="text" placeholder="HH:mm" ng-model="Modelo.HoraFinCargue" ng-blur= "Modelo.HoraFinCargue = ValidarFormatoHora(Modelo.HoraFinCargue,' Fin Cargue'); CalcularDiferenciaHoras(Modelo.HoraInicioCargue,Modelo.HoraFinCargue)">
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Tiempo Cargue</label>
                                    <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="10" placeholder="Nombre" ng-model="Modelo.TiempoCargue" />
                                </div>
                            </div>
                            <div class="col-md-10 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label>Sitio Cargue</label>
                                    <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="50" placeholder=" Sitio Cargue" ng-model="Modelo.SitioCargueDescargue" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box box-default box-solid ">
                    <div class="box-header with-border" ng-disabled="Bloquear">
                        <h3 class="box-title">ELEMENTOS A INSPECCIONAR</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <!----<div id="resultadoConsulta" class="table-responsive">-->
                                <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                    <thead>
                                        <tr>
                                            <th>Item</th>
                                            <th>Valor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in ListadoItemCargueDescargue  | orderBy: 'OrdenFormulario'">
                                            <td>{{item.Nombre}}</td>
                                            <td>
                                                <input ng-if="item.TipoControl.Codigo == 8501" type="text" ng-model="item.Valor" maxlength="30" ng-change="EjecutarMask()" />
                                                <input ng-if="item.TipoControl.Codigo == 8502" type="number" ng-model="item.Valor" maxlength="15" />
                                                <input ng-if="item.TipoControl.Codigo == 8503" type="date" ng-model="item.Valor" maxlength="30" />
                                                <input ng-if="item.TipoControl.Codigo == 8504" type="text" ng-model="item.Valor" maxlength="5" ng-change="EjecutarMask()" />
                                                <input ng-if="item.TipoControl.Codigo == 8505" type="text" ng-model="item.Valor" maxlength="5" ng-change="EjecutarMask()" />
                                                <input ng-if="item.TipoControl.Codigo == 8506" type="text" ng-model="item.Valor" maxlength="5" ng-change="EjecutarMask()" />
                                                <input ng-if="item.TipoControl.Codigo == 8507" type="checkbox" ng-model="item.Valor" maxlength="5" ng-change="EjecutarMask()" />
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                                        <tr>
                                            <td colspan="4">
                                                <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                                <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                                    <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                                        <span class="item">&laquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Anterior()" title="Anterior">
                                                        <span class="item">&lsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                                        <span class="item">&rsaquo;</span>
                                                    </button>
                                                    <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                                        <span class="item">&raquo;</span>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tfoot>
                                    <tfoot ng-if="totalRegistros == 0 && Buscando == false">
                                        <tr>
                                            <td colspan="4" style="color:red; text-align:center">
                                                <small>{{ResultadoSinRegistros}}</small>
                                            </td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    <!--</div>-->
                </div>
                <div class="row">
                    <div class="col-md-9 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Observaciones</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Observaciones" ng-model="Modelo.Observaciones" />
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Funcionario</label>
                            <input type="text" name="txtNombre" ng-change="MaskMayus()" class="form-control" maxlength="40" placeholder="Funcionario" ng-model="Modelo.Responsable" />
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-right">
                    <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                        Cancelar
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardar()">
                        Aceptar
                        <span class="glyphicon glyphicon-ok-circle"></span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>

</div>