﻿<div ng-controller="ConsultarDespacharOrdenServiciosCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>CONSULTAR DESPACHOS ORDENES DE SERVICIOS</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="SeccionFiltros-Formulario">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">

                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechIni">Fecha Inicial</label>
                            <input name="txtFechIni" type="date" class="form-control" ng-model="FechaInicio">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFina">Fecha Final</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="FechaFin">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-12">
                        <div class="form-group">
                            <label for="NumeroInicial">Número</label>
                            <input name="NumeroInicial" class="form-control" ng-model="ModeloNumero" placeholder="Ingrese número inicial" maxlength="20" ng-change="MaskNumero()">
                        </div>
                    </div>

                    <!--Cliente-->
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblTenedor">Cliente</label>
                            <input maxlength="80" type="text" autocomplete="off" class="form-control" placeholder="Seleccione un Cliente" ng-model="ModeloCliente"
                                   uib-typeahead="Cliente as Cliente.NombreCompleto for Cliente in Sesion.FilterLst($viewValue,ListaClientes,'NombreCompleto') | filter:$viewValue | limitTo: 5" tabindex="1"
                                   ng-blur="ModeloCliente=VerificarAutocomplete(ModeloCliente)">
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Oficina Despacha</label>
                            <select name="cmbOficina" class="form-control" ng-model="ModeloOficina" ng-options="i.Nombre for i in ListaOficinas"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Estado Despacho</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstadoDespacho" ng-options="i.Nombre for i in ListaEstadosDespacho"></select>
                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionBotones">
                <div class="pull-left">
                    <button class="btn btn-block btn-primary" title="Buscar Despachos" ng-click="paginaActual=1;ConsultaInicial = 0;Buscar()">
                        Buscar
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </div>
            </div>
            <!--RESULTADO CONSULTA-->
            <div class="ResultadoConsulta">
                <div class="table-responsive" ng-if="ListadoOrdenesServiciosGrid.length > 0">
                    <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                        <thead>
                            <tr>
                                <th width="10px"></th>

                                <th>Número</th>
                                <th>Fecha</th>
                                <th>Cliente</th>
                                <th>Tipo Despacho</th>
                                <th>Cupo</th>
                                <th>Saldo</th>
                                <th></th>
                                <th>Observaciones</th>
                                <th>Estado</th>
                                <th>Usuario Crea</th>
                            </tr>
                        </thead>

                        <tbody ng-repeat="item in ListadoOrdenesServiciosGrid | orderBy:'Numero'">

                            <tr>

                                <td id="btnExpan" ng-click="ListItem(item)" width="15px" style="cursor:pointer" ng-show="item.ListaDetalleOrden[0].IDRegistroDetalle > 0"><span class={{item.ClassButton}}></span> </td>
                                <td ng-show="!item.ListaDetalleOrden[0].IDRegistroDetalle > 0"></td>
                                <!--<td><a href="#!GestionarDespacharOrdenServicios/{{item.Numero}}">{{item.NumeroDocumento}}</a></td>-->
                                <td>{{item.NumeroDocumento}}</td>
                                <td>{{item.Fecha | date:'dd/MM/yyyy' }}</td>
                                <td>{{item.NombreCliente}}</td>
                                <td>{{item.TipoDespacho.Nombre}}</td>
                                <td>{{item.ValorTipoDespacho | number:0}}</td>
                                <td>{{item.SaldoTipoDespacho | number:0}}</td>
                                <td>
                                    <button class="button mini-button btn btn-primary" data-toggle="tooltip" title="Adicionar Despacho" ng-click="DesplegarDespacharViaje(item.Numero,0)" ng-show="item.SaldoTipoDespacho > 0" ng-disabled="DeshabilitarImprimir">
                                        <span class="fa fa-plus"></span>
                                    </button>
                                </td>
                                <td>{{item.Observaciones}}</td>

                                <td>
                                    <span ng-if="item.CodigoEstadoSolicitud==9201" class="label label-danger">Pendiente</span>
                                    <span ng-if="item.CodigoEstadoSolicitud==9202" class="label label-warning">Incompleta</span>
                                    <span ng-if="item.CodigoEstadoSolicitud==9203" class="label label-success">Despachada</span>
                                </td>


                                <td>{{item.NombreUsuarioCrea}}</td>

                                <td>
                                    <button class="button mini-button primary" title="Imprimir Reporte" ng-click="DesplegarInformeOrdenServicio(item.Numero,1, 0)" ng-disabled="DeshabilitarImprimir">
                                        <span class="glyphicon glyphicon-print"></span>
                                    </button>
                                </td>

                            </tr>

                            <tr>
                                <td colspan="11" id={{item.TablaDetalle}}>
                                    <div class="col-md-12">
                                        <table class="table table-striped table-bordered table-hover table-condensed table table-sm" ng-show="item.MostrarDetalle && item.ListaDetalleOrden[0].IDRegistroDetalle > 0">
                                            <thead>
                                                <tr>
                                                    <th>Ruta</th>
                                                    <th>Línea</th>
                                                    <th>Tipo Línea</th>
                                                    <th>Tarifa</th>
                                                    <th>Tipo Tarifa</th>
                                                    <th>Producto</th>
                                                    <th>Cantidad</th>
                                                    <th>Peso (Kg)</th>
                                                    <th>Documento Cliente</th>
                                                    <th>Ciudad Cargue</th>
                                                    <th>Dirección</th>
                                                    <th>Destinatario</th>
                                                    <th></th> <!--Generar-->
                                                    <th>Orden Cargue</th>
                                                    <th></th> <!--Imprimir-->
                                                    <th>Remesa</th>
                                                    <th></th> <!--Imprimir-->
                                                    <th>Planilla Despacho</th>
                                                    <th></th> <!--Imprimir-->
                                                    <th ng-show="MostrarCampoManifiesto">No. Manifiesto</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="itemDetalle in item.ListaDetalleOrden">
                                                    <td>{{itemDetalle.Ruta.Nombre}}</td>
                                                    <td>{{itemDetalle.LineaNegocio.Nombre}}</td>
                                                    <td>{{itemDetalle.TipoLineaNegocio.Nombre}}</td>
                                                    <td>{{itemDetalle.TarifaVenta.Nombre}}</td>
                                                    <td>{{itemDetalle.TipoTarifaVenta.Nombre}}</td>
                                                    <td>{{itemDetalle.Producto.Nombre}}</td>
                                                    <td style="text-align:right">{{itemDetalle.Cantidad | number :0}}</td>
                                                    <td style="text-align:right">{{itemDetalle.Peso | number :0}}</td>
                                                    <td>{{itemDetalle.DocumentoCliente}}</td>
                                                    <td>{{itemDetalle.CiudadCargue.Nombre}}</td>
                                                    <td>{{itemDetalle.DireccionCargue}}</td>
                                                    <td>{{itemDetalle.Destinatario.NombreCompleto}}</td>
                                                    <td ng-if="itemDetalle.PlacaVehiculo=='0'">
                                                        <button class="button mini-button primary" title="Despachar Viaje" ng-click="DesplegarDespacharViaje(itemDetalle.Numero, itemDetalle.IDRegistroDetalle)">
                                                            <span class="fa fa-truck"></span>
                                                        </button>
                                                    </td>
                                                    <td ng-if="itemDetalle.PlacaVehiculo!='0'">
                                                        <button class="button mini-button primary" title="Despachado con el vehículo {{itemDetalle.PlacaVehiculo}}" ng-click="DesplegarDespacharViaje(itemDetalle.Numero, itemDetalle.IDRegistroDetalle)">
                                                            <span class="fa fa-truck"></span>
                                                            <span class="label label-primary" style="font-style: italic;font-weight: bold;font-family: monospace;">{{itemDetalle.PlacaVehiculo}}</span>
                                                        </button>
                                                    </td>

                                                    <!--Orden de Cargue-->
                                                    <td ng-if="itemDetalle.NumeroOrdenCargue==0">{{itemDetalle.NumeroDocumentoOrdenCargue}}</td>
                                                    <!--ng-click="MostrarOrdenCargue(itemDetalle.NumeroOrdenCargue)"-->
                                                    <td ng-if="itemDetalle.NumeroOrdenCargue>0"><a href="Main.html#!/GestionarOrdenCargue/{{itemDetalle.NumeroOrdenCargue}}" target="_blank" onclick="">{{itemDetalle.NumeroDocumentoOrdenCargue}}</a></td>
                                                    <td>
                                                        <button class="button mini-button primary" title="Imprimir Orden de Cargue" ng-click="DesplegarInformeOrdenCargue(itemDetalle.NumeroOrdenCargue,1, 0)" ng-disabled="DeshabilitarImprimir">
                                                            <span class="fa fa-print"></span>
                                                        </button>
                                                    </td>

                                                    <!--Remesa-->
                                                    <td ng-if="itemDetalle.NumeroRemesa==0">{{itemDetalle.NumeroDocumentoRemesa}}</td>
                                                    <!--ng-click="MostrarRemesa(itemDetalle.NumeroRemesa)"-->
                                                    <td ng-if="itemDetalle.NumeroRemesa>0"><a href="Main.html#!/GestionarRemesa/{{itemDetalle.NumeroRemesa}}" target="_blank" onclick="">{{itemDetalle.NumeroDocumentoRemesa}}</a></td>
                                                    <td>
                                                        <button class="button mini-button primary" title="Imprimir Remesa" ng-click="DesplegarInformeRemesa(itemDetalle.NumeroRemesa,1, 0)">
                                                            <span class="fa fa-print"></span>
                                                        </button>
                                                    </td>

                                                    <!--Planilla Despacho-->
                                                    <td ng-if="itemDetalle.NumeroPlanilla==0">{{itemDetalle.NumeroDocumentoPlanilla}}</td>
                                                    <!--ng-click="MostrarPlanillaDespacho(itemDetalle.NumeroPlanilla)"-->
                                                    <td ng-if="itemDetalle.NumeroPlanilla>0"><a href="Main.html#!/GestionarPlanillasDespachos/{{itemDetalle.NumeroPlanilla}}" target="_blank" onclick="">{{itemDetalle.NumeroDocumentoPlanilla}}</a></td>
                                                    <td>
                                                        <button class="button mini-button primary" title="Imprimir Planilla Despacho" ng-click="DesplegarInformePlanillaDespacho(itemDetalle.NumeroPlanilla,1, 0)">
                                                            <span class="fa fa-print"></span>
                                                        </button>
                                                    </td>

                                                    <!--Manifiesto-->
                                                    <td ng-show="MostrarCampoManifiesto" ng-if="itemDetalle.NumeroManifiesto==0">{{itemDetalle.NumeroDocumentoManifiesto}}</td>
                                                    <!--ng-click="MostrarManifiesto(itemDetalle.NumeroManifiesto)"-->
                                                    <td ng-show="MostrarCampoManifiesto" ng-if="itemDetalle.NumeroManifiesto>0"><a href="Main.html#!/GestionarManifiesto/{{itemDetalle.NumeroManifiesto}}" target="_blank" onclick="">{{itemDetalle.NumeroDocumentoManifiesto}}</a></td>
                                                    <td ng-show="MostrarCampoManifiesto" align="center">
                                                        <button class="button mini-button primary" title="Imprimir Manifiesto" ng-click="DesplegarInformeManifiesto(itemDetalle.NumeroManifiesto,1, 0,itemDetalle.NumeroDocumentoManifiesto)">
                                                            <span class="fa fa-print"></span>
                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>

                        </tbody>


                        <tfoot ng-if="totalRegistros > 0 || Buscando == true">
                            <tr>
                                <td colspan="10">
                                    <small ng-if="totalRegistros > 0">Página: {{paginaActual}} de {{totalPaginas}} ({{totalRegistros}} Registros)</small>
                                    <div class="pagination rightAling" ng-if="totalRegistros > 0">
                                        <button class="button primary" ng-click="PrimerPagina()" title="Primera">
                                            <span class="item">&laquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Anterior()" title="Anterior">
                                            <span class="item">&lsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="Siguiente()" title="Siguiente">
                                            <span class="item">&rsaquo;</span>
                                        </button>
                                        <button class="button primary" ng-click="UltimaPagina()" title="Última">
                                            <span class="item">&raquo;</span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div style="text-align:center" class="col-md-12" ng-if="totalRegistros == 0 && Buscando == false">
                    <span style="color:red">
                        <small>{{ResultadoSinRegistros}}</small>
                    </span>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!--Modal Mensaje Error-->
    <div class="modal fade" id="modalMensajeEliminarTarifarioVentas" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>{{ModalError}}</p>
                    </div>
                    <div class="modal-body">
                        <div class="box box-default box-solid ">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">Mensaje Completo</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-click="MostrarMensajeErrorModal()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="modal-body" ng-show="MostrarMensajeErrorCompleto">
                                        <p>{{ModalErrorCompleto}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" ng-click="MostrarMensajeErrorModal()">
                                Mensaje Completo
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" ng-click="CerrarModal()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--VENTANAS PARA ORDEN CARGUE-->
    <div class="modal fade" id="modalDocumentoDespacho" tabindex="-1" role="alert" data-backdrop="static">
        <div class="modal-body modal-lg" style="">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        GESTRANS.NET CARGA
                    </h4>
                </div>

                <div class="modal-body">
                    <div>
                        <iframe src="{{URL}}" style="width:100%;height:800px" ng-change="Cerrar()"></iframe>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>