﻿<div ng-controller="GestionarOrdenCargueCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>GESTIONAR ORDEN DE CARGUE</h1>
    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form name="myform">
            <!--SECCION FILTROS-FORMULARIO-->
            <div class="Form-Imput">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="nombre">Número</label>
                            <input name="nombre" type="text" class="form-control" ng-model="ModeloNumeroDocumento" maxlength="20" placeholder="Ingrese una Numeracion " ng-change="MaskNumero()" ng-disabled="true">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="lblFechFina">Fecha</label>
                            <input name="txtFechFina" type="date" class="form-control" ng-model="ModeloFecha" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Cliente</label>
                            <input type="text" class="form-control" autocomplete="off" name="Cliente" maxlength="50" id="ModeloCliente" placeholder="Ingrese un Cliente" ng-model="ModeloCliente"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteCliente($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloCliente=VerificarAutocomplete(ModeloCliente)" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Remitente</label>
                            <input type="text" class="form-control" autocomplete="off" name="Cliente" maxlength="50" id="ModeloRemite" placeholder="Ingrese un Remitente" ng-model="ModeloRemite"
                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteRemitente($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloRemite=VerificarAutocomplete(ModeloRemite)" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label for="Cuenta">Orden de Servicio</label>
                            <input type="text" class="form-control" autocomplete="off" name="Cliente" maxlength="50" id="ModeloOrdenServicio" placeholder="Orden de servicio" ng-model="ModeloOrdenServicio"
                                   uib-typeahead="i as i.NumeroDocumento for i in ListaOrdenServicio| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloOrdenServicio=VerificarAutocomplete(ModeloOrdenServicio)" ng-disabled="DeshabilitarActualizar">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border" ng-disabled="Bloquear">
                                <h3 class="box-title">
                                    Información Despacho
                                </h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" ng-disabled="Deshabilitar" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label for="Cuenta">Placa</label>
                                            <input type="text" autocomplete="off" class="form-control" name="Placa" maxlength="50" id="ModeloPlaca" placeholder="Ingrese una Placa" ng-model="ModeloPlaca"
                                                   uib-typeahead="i as i.Placa for i in AutocompleteVehiculos($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloPlaca=VerificarAutocomplete(ModeloPlaca); CargarSemirremolque(ModeloPlaca)" ng-disabled="DeshabilitarActualizar">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label for="Cuenta">Remolque</label>
                                            <input type="text" class="form-control" autocomplete="off" name="Ruta" maxlength="50" id="ModeloRemolque" placeholder="Ingrese un remolque" ng-model="ModeloRemolque"
                                                   uib-typeahead="i as i.Placa for i in ListaRemolque| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloRemolque=VerificarAutocomplete(ModeloRemolque)" ng-disabled="DeshabilitarActualizar">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Cuenta">Conductor</label>
                                            <input type="text" class="form-control" autocomplete="off" name="Conductor" maxlength="50" id="ModeloConductor" placeholder="Ingrese un Conductor" ng-model="ModeloConductor"
                                                   uib-typeahead="i as i.NombreCompleto for i in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloCuenta=VerificarAutocomplete(ModeloConductor)" ng-disabled="DeshabilitarActualizar">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label for="nombre">Teléfono Conductor</label>
                                            <input name="nombre" placeholder="Ingrese un teléfono" type="text" class="form-control" ng-model="ModeloConductor.Celular" maxlength="20" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-xs-12">
                                        <div class="form-group">
                                            <label for="Cuenta">Ruta</label>
                                            <input type="text" class="form-control" autocomplete="off" name="Ruta" maxlength="50" id="ModeloRuta" placeholder="Ingrese una ruta" ng-model="ModeloRuta"
                                                   uib-typeahead="i as i.Nombre for i in ListaRuta| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloRuta=VerificarAutocomplete(ModeloRuta)" ng-disabled="DeshabilitarActualizar">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-sm-4 col-xs-12">
                                        <div class="form-group">
                                            <label for="Cuenta">Producto Transportado</label>
                                            <input type="text" class="form-control" autocomplete="off" name="Producto Transportado" maxlength="50" id="ModeloProductoTransportado" placeholder="Ingrese un producto transportado" ng-model="ModeloProductoTransportado"
                                                   uib-typeahead="i as i.Nombre for i in ListaProductoTransportado| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloProductoTransportado=VerificarAutocomplete(ModeloProductoTransportado)" ng-disabled="DeshabilitarActualizar">

                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label for="Cantidad">Cantidad </label>
                                            <input style="text-align:right" name="Cantidad" autocomplete="off" type="text" class="form-control" ng-model="ModeloCantidad" maxlength="8" placeholder="Ingrese una cantidad" ng-change="MaskValores()" ng-disabled="DeshabilitarActualizar">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label for="Peso">Peso </label>
                                            <input style="text-align:right" name="Peso" autocomplete="off" type="text" class="form-control" ng-model="ModeloPeso" maxlength="8" placeholder="Ingrese un peso" ng-change="MaskValores()" ng-disabled="DeshabilitarActualizar">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label for="Despachos">Planilla Despachos</label>
                                            <input name="Despachos" type="text" class="form-control" autocomplete="off" ng-model="ModeloPlanillasDespachos" maxlength="20" placeholder="Planillas despachos" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-12">
                                        <div class="form-group">
                                            <label for="Manifiesto">Manifiesto</label>
                                            <input name="Manifiesto" type="text" class="form-control" autocomplete="off" ng-model="ModeloManifiestoCarga" maxlength="20" placeholder="Manifiesto carga" ng-disabled="true">
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-3 col-xs-12" ng-show="TEMPORALOCULTARanticipo">
                                        <div class="form-group">
                                            <label for="Anticipo">Valor Anticipo</label>
                                            <input name="Anticipo" style="text-align:right" autocomplete="off" type="text" class="form-control" ng-model="ModeloValorAnticipo" maxlength="10" placeholder="Ingrese un Valor Anticipo" ng-change="MaskValores()" ng-disabled="DeshabilitarActualizar">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="form-group">
                                            <label for="Observaciones">Observaciones</label>
                                            <textarea name="Observaciones" type="text" class="form-control" ng-model="ModeloObservaciones" maxlength="250" ng-disabled="DeshabilitarActualizar"></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-default box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Cargue/Descargue</h3>
                                <div class="box-tools pull-right">
                                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <fieldset class="px-3 py-2 mb-4">
                                            <legend>Cargue</legend>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Fecha</label>
                                                        <input tabindex="1" type="datetime-local" class="form-control" ng-model="ModeloFechaCargue" ng-disabled="DeshabilitarActualizar">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="Cuenta">Ciudad</label>
                                                        <input tabindex="1" type="text" class="form-control" autocomplete="off" name="Ciudad" placeholder="Ingrese una Ciudad Cargue" ng-model="ModeloCiudadCargue"
                                                               uib-typeahead="i as i.Nombre for i in AutocompleteCiudades($viewValue) | filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloCiudadCargue=VerificarAutocomplete(ModeloCiudadCargue)" ng-disabled="DeshabilitarActualizar">

                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="Cuenta">Sitio</label>
                                                        <input tabindex="1" type="text" class="form-control" placeholder="Ingrese un Sitio Cargue" ng-model="ModeloSitioCargue" ng-disabled="DeshabilitarActualizar" autocomplete="off"
                                                               uib-typeahead="i as i.SitioCliente.Nombre for i in AutocompleteSitiosClienteCargue($viewValue, ModeloCliente, ModeloCiudadCargue )| filter:$viewValue | limitTo: 5" ng-required="false"
                                                               ng-blur="ModeloSitioCargue=VerificarAutocomplete(ModeloSitioCargue); ModeloDireccionCargue = ModeloSitioCargue.DireccionSitio; ModeloTelefonoCargue = ModeloSitioCargue.Telefono; ModeloContactoCargue = ModeloSitioCargue.Contacto">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="nombre">Dirección</label>
                                                        <input tabindex="1" type="text" class="form-control" ng-model="ModeloDireccionCargue" placeholder="Ingrese una Dirección Cargue" ng-change="MaskDireccion()" ng-disabled="DeshabilitarActualizar">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="nombre">Teléfono</label>
                                                        <input tabindex="1" type="text" class="form-control" ng-model="ModeloTelefonoCargue" placeholder="Ingrese una Teléfono Cargue" ng-change="MaskTelefono()" ng-disabled="DeshabilitarActualizar">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="nombre">Contacto</label>
                                                        <input tabindex="1" type="text" class="form-control" ng-model="ModeloContactoCargue" placeholder="Ingrese una Contacto Cargue" ng-disabled="DeshabilitarActualizar">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <fieldset class="px-3 py-2 mb-4">
                                            <legend>Descargue</legend>
                                            <div class="row">
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Fecha</label>
                                                        <input tabindex="1" type="datetime-local" class="form-control" ng-model="ModeloFechaDescargue" ng-disabled="DeshabilitarActualizar">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="Cuenta">Ciudad</label>
                                                        <input tabindex="1" type="text" class="form-control" autocomplete="off" placeholder="Ingrese una Ciudad Descargue" ng-model="ModeloCiudadDescargue"
                                                               uib-typeahead="i as i.Nombre for i in AutocompleteCiudades($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="ModeloCiudadDescargue=VerificarAutocomplete(ModeloCiudadDescargue)" ng-disabled="DeshabilitarActualizar">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="Cuenta">Sitio</label>
                                                        <input tabindex="1" type="text" class="form-control" placeholder="Ingrese un Sitio descargue" ng-model="ModeloSitioDescargue" ng-disabled="DeshabilitarActualizar" autocomplete="off"
                                                               uib-typeahead="i as i.SitioCliente.Nombre for i in AutocompleteSitiosClienteCargue($viewValue, ModeloCliente, ModeloCiudadDescargue )| filter:$viewValue | limitTo: 5" ng-required="false"
                                                               ng-blur="ModeloSitioDescargue=VerificarAutocomplete(ModeloSitioDescargue); ModeloDireccionDescargue = ModeloSitioDescargue.DireccionSitio; ModeloTelefonoDescargue = ModeloSitioDescargue.Telefono; ModeloContactoDescargue = ModeloSitioDescargue.Contacto">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="nombre">Dirección</label>
                                                        <input tabindex="1" type="text" class="form-control" ng-model="ModeloDireccionDescargue" placeholder="Ingrese una Dirección Descargue" ng-change="MaskDireccion()" ng-disabled="DeshabilitarActualizar">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="nombre">Teléfono</label>
                                                        <input tabindex="1" type="text" class="form-control" ng-model="ModeloTelefonoDescargue" placeholder="Ingrese una Teléfono Descargue" ng-change="MaskTelefono()" ng-disabled="DeshabilitarActualizar">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 col-sm-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label for="nombre">Contacto</label>
                                                        <input tabindex="1" type="text" class="form-control" ng-model="ModeloContactoDescargue" placeholder="Ingrese una Contacto Descargue" ng-disabled="DeshabilitarActualizar">
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Oficina</label>
                            <input name="cmbOficina" class="form-control" uib-typeahead="i as i.Nombre for i in ListadoOficina| filter:$viewValue | limitTo: 5" ng-model="ModeloOficina" disabled>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="form-group">
                            <label>Estado</label>
                            <select name="cmbEstado" class="form-control" ng-model="ModeloEstado" ng-options="i.Nombre for i in ListadoEstados" ng-disabled="DeshabilitarActualizar"></select>
                        </div>
                    </div>
                </div>
                <!--SECCIÓN BOTONES-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="SeccionBotones">
                            <div class="pull-right">
                                <button type="button" class="btn btn-default" ng-click="VolverMaster()">
                                    Cancelar
                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                </button>
                                <button type="button" class="btn btn-primary" title="Aceptar" ng-click="ConfirmacionGuardarOrdenCargue()" ng-disabled="DeshabilitarActualizar">
                                    Aceptar
                                    <span class="glyphicon glyphicon-ok-circle"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <!-- Modal Confirmación Guardar Cuenta -->
    <div class="modal fade" id="modalConfirmacionGuardarOrdenCargue" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>