﻿<div ng-controller="DocumentosVehiculosCtrl">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Inicio</a></li>
        <li class="breadcrumb-item" ng-repeat="opcion in MapaSitio">
            {{opcion.Nombre}}
        </li>
    </ol>
    <!--ENCABEZADO A PARTIR DE ESTA LINEA-->
    <section class="content-header">
        <h1>
            {{Titulo}}
        </h1>

    </section>
    <!--CONTENIEDO A PARTIR DE ESTA LINEA-->
    <div class="content">
        <form>
            <div class="SeccionFiltros-Formulario" ng-show="Modelo.Codigo > 0">
                <div class="alert alert-danger" role="alert" ng-if="MensajesError.length > 0">
                    <ul>
                        <li ng-repeat="error in MensajesError">
                            <span>{{error}}</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Placa</label>
                            <br />
                            <input disabled ng-change="MaskPlaca()" name="txtplaca" type="text" placeholder="Digite una placa" class="form-control" ng-model="Modelo.Placa" maxlength="6" ng-required="true" ng-disabled="DesactivarPlaca" ng-blur="VerificarExistencia()" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-4 col-xs-12">
                        <div class="form-group">
                            <label>Número</label>
                            <input disabled ng-change="MaskNumero()" name="txtNumero" class="form-control" placeholder="Digite un numero" maxlength="10" ng-model="Modelo.CodigoAlterno">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Semirremolque</label>
                            <input disabled maxlength="30" type="text" class="form-control" name="marca" id="marca" placeholder="Seleccione el Semirremolque" ng-model="Modelo.Semirremolque" uib-typeahead="Semirremolque as Semirremolque.Placa for Semirremolque in ListadoSemirremolques| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Semirremolque=VerificarAutocomplete(Modelo.Semirremolque);VerificarAsociacionSemirremolque()">
                        </div>
                    </div>


                </div>

                <div>
                    <div class="box box-default box-solid collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Terceros</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Propietario</label>
                                        <input disabled maxlength="60" type="text" class="form-control" name="propietario" id="propietario" placeholder="Seleccione un propietario" ng-model="Modelo.Propietario"
                                               uib-typeahead="propietarios as propietarios.NombreCompleto for propietarios in AutocompletePropietario($viewValue)| filter:$viewValue | limitTo: 5"
                                               ng-required="false" ng-blur="Modelo.Propietario=VerificarAutocomplete(Modelo.Propietario)">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Tenedor</label>
                                        <input disabled maxlength="60"
                                               type="text"
                                               class="form-control"
                                               name="tenedor"
                                               id="tenedor"
                                               placeholder="Seleccione un tenedor"
                                               ng-model="Modelo.Tenedor"
                                               uib-typeahead="tenedores as tenedores.NombreCompleto for tenedores in AutocompleteTenedor($viewValue)| filter:$viewValue | limitTo: 5"
                                               ng-required="false" ng-blur="Modelo.Tenedor=VerificarAutocomplete(Modelo.Tenedor)">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Conductor</label>
                                        <input disabled maxlength="60" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un conductor" ng-model="Modelo.Conductor" uib-typeahead="conductores as conductores.NombreCompleto for conductores in AutocompleteConductor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Conductor=VerificarAutocomplete(Modelo.Conductor)">
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <div class="form-group">
                                        <label>Afiliador</label>
                                        <input disabled maxlength="60" type="text" class="form-control" name="afiliadora" id="afiliadora" placeholder="Seleccione una empresa afiliadora" ng-model="Modelo.Afiliador" uib-typeahead="Afiliadoras as Afiliadoras.NombreCompleto for Afiliadoras in AutocompleteAfilidor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.Afiliador=VerificarAutocomplete(Modelo.Afiliador)">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box box-default box-solid collapsed-box">
                        <div class="box-header with-border">
                            <h3 class="box-title">Características</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Tipo Dueño</label>
                                    <input disabled name="cmbTipoDueno" class="form-control" ng-model="Modelo.TipoDueno.Nombre" />
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="lblTipoVehi">Tipo Vehículo</label>
                                    <input disabled name="cmbTipoVehi" class="form-control" ng-model="Modelo.TipoVehiculo.Nombre" />
                                </div>
                                <!--<div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="lblLoca">Localización</label>
                                    <input name="cmbLoca" class="form-control" ng-model="Modelo.Localizacion" ng-options="i.Nombre for i in ListadoLocalizacion"></select>
                                </div>-->

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Tarjeta Propiedad</label>
                                    <input disabled ng-change="MaskNumero()" type="text" placeholder="Digite n° De T.Propiedad" class="form-control" Name="txtNumeTarjProp" maxlength="20" ng-model="Modelo.TarjetaPropiedad">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="lblTipoVehi">Tipo Carrocería</label>
                                    <input disabled name="cmbTipoVehi" class="form-control" ng-model="Modelo.TipoCarroceria.Nombre" />
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Número Motor</label>
                                    <input disabled ng-change="MaskMayus()" placeholder="Digite n° del motor" type="text" class="form-control" Name="txtNumeMotor" maxlength="20" ng-model="Modelo.NumeroMotor">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Modelo</label>
                                    <input disabled ng-change="MaskNumero()" type="text" placeholder="Digite el modelo" class="form-control" Name="txtMode" maxlength="4" ng-model="Modelo.Modelo">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Modelo Repotenciado</label>
                                    <input disabled ng-change="MaskNumero()" type="text" placeholder="Digite el modelo" class="form-control" Name="txtMode" maxlength="4" ng-model="Modelo.ModeloRepotenciado">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Número Serie/Chasís</label>
                                    <input disabled ng-change="MaskMayus()" placeholder="Digite el chasis" type="text" class="form-control" Name="txtChas" maxlength="20" ng-model="Modelo.Chasis">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="lblColor">Color</label>
                                    <input disabled maxlength="20" type="text" autocomplete="off" class="form-control" name="color" id="color" placeholder="Seleccione el color" ng-model="Modelo.Color" uib-typeahead="colores as colores.Nombre for colores in AutocompleteColores($viewValue)| filter:$viewValue | orderBy:'Nombre' | limitTo: 5" ng-blur="Modelo.Color=VerificarAutocomplete(Modelo.Color)">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Marca</label>
                                    <input disabled maxlength="30" type="text" autocomplete="off" class="form-control" name="marca" id="marca" placeholder="Seleccione la Marca" ng-model="Modelo.Marca" uib-typeahead="marcas as marcas.Nombre for marcas in ListadoMarcas| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Marca=VerificarAutocomplete(Modelo.Marca);AsignarLineaVehiculo(Modelo.Marca)">

                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label for="lblLine">Línea</label>
                                    <input disabled type="text" autocomplete="off" class="form-control" placeholder="Seleccione la línea" ng-model="Modelo.Linea" uib-typeahead="lineas as lineas.Nombre for lineas in ListadoLineas| filter:$viewValue | limitTo: 5" ng-blur="Modelo.Linea=VerificarAutocomplete(Modelo.Linea)">
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Peso Bruto Kg</label>
                                    <input disabled style="text-align:right" ng-change="MaskValores()" placeholder="Digite el peso Bruto" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.PesoBruto">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Capacidad (Kg)</label>
                                    <input disabled style="text-align:right" ng-change="MaskValores()" placeholder="Digite el peso Bruto" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.Capacidad">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Capacidad Galones</label>
                                    <input disabled style="text-align:right" ng-change="MaskValores()" placeholder="Digite el peso Bruto" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.CapacidadGalones">
                                </div>
                                <!--<div class="col-md-2 col-sm-4 col-xs-12" ng-show="ApagarTipoCapacidad == True">
                                    <label for="lblTipoVehi">Tipo Capacidad</label>
                                    <select name="cmbTipoVehi" class="form-control" ng-model="Modelo.CapacidadVehiculo" ng-options="i.Nombre for i in ListadoCapacidadVehiculo"></select>
                                </div>-->
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Peso Tara</label>
                                    <input disabled ng-change="MaskValores()" placeholder="Digite el peso Bruto" type="text" class="form-control" Name="txtPesoBrut" maxlength="7" ng-model="Modelo.PesoTara">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-6">
                                    <label>No. Ejes</label>
                                    <input disabled ng-change="MaskValores()" placeholder="N° de ejes 1-9" type="text" class="form-control" Name="txtNumeEjes" maxlength="2" ng-model="Modelo.NumeroEjes">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Cilindraje</label>
                                    <input disabled style="text-align:right" ng-change="MaskValores()" placeholder="Cilindraje" type="text" class="form-control" Name="txtNumeEjes" maxlength="5" ng-model="Modelo.Cilindraje">
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Kilometraje</label>
                                    <input disabled style="text-align:right" ng-change="MaskValores()" placeholder="Kilometraje" type="text" class="form-control" Name="txtCatePeaj" maxlength="10" ng-model="Modelo.Kilometraje">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Fecha kilometraje</label>
                                    <input disabled name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaActualizacionKilometraje">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12" ng-show=" DesabilitarFechaUltimoCargue ">
                                    <label>Ultima Fecha Cargue</label>
                                    <input disabled name="txtFechVinc" type="date" class="form-control" ng-model="Modelo.FechaUltimoCargue">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Documentos</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover table-condensed table table-sm">
                                <thead>
                                    <tr>
                                        <th>Documento</th>
                                        <th>Referencia</th>
                                        <th>Emisor</th>
                                        <th>Fecha Emisión</th>
                                        <th>Fecha Vencimiento</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in ListadoDocumentos">
                                        <td style="background-color: yellow" ng-show="item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence && item.FechaVence  != ''">
                                            {{item.Documento.Nombre}}
                                        </td>
                                        <td ng-show="!(item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence  && item.FechaVence  != '')">
                                            {{item.Documento.Nombre}}
                                        </td>
                                        <td style="background-color: yellow" ng-show="item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence && item.FechaVence  != ''">
                                            <input disabled ng-change="MaskMayus()" ng-if="item.AplicaReferencia > 0" type="text" class="form-control" ng-model="item.Referencia" maxlength="50" placeholder="Ingrese una referencia" />
                                        </td>
                                        <td ng-show="!(item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence  && item.FechaVence  != '')">
                                            <input disabled ng-change="MaskMayus()" ng-if="item.AplicaReferencia > 0" type="text" class="form-control" ng-model="item.Referencia" maxlength="50" placeholder="Ingrese una referencia" />
                                        </td>
                                        <td style="background-color: yellow" ng-show="item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence && item.FechaVence  != ''">
                                            <input disabled ng-change="MaskMayus()" ng-show="item.AplicaEmisor > 0 && item.Codigo !== 102" maxlength="60" type="text" class="form-control" name="propietario" id="propietario" placeholder="Seleccione un emisor" ng-model="item.Emisor">
                                            <input disabled ng-show="item.AplicaEmisor > 0 && item.Codigo == 102" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un Emisor" ng-model="item.Emisor" uib-typeahead="Emisor as Emisor.NombreCompleto for Emisor in AutocompleteAseguradora($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="item.Emisor=VerificarAutocomplete(item.Emisor)">
                                        </td>
                                        <td ng-show="!(item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence  && item.FechaVence  != '')">
                                            <input disabled ng-change="MaskMayus()" ng-show="item.AplicaEmisor > 0 && item.Codigo !== 102" maxlength="60" type="text" class="form-control" name="propietario" id="propietario" placeholder="Seleccione un emisor" ng-model="item.Emisor">
                                            <input disabled ng-show="item.AplicaEmisor > 0 && item.Codigo == 102" type="text" class="form-control" name="conductor" id="conductor" placeholder="Seleccione un Emisor" ng-model="item.Emisor" uib-typeahead="Emisor as Emisor.NombreCompleto for Emisor in AutocompleteAseguradora($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="item.Emisor=VerificarAutocomplete(item.Emisor)">
                                        </td>
                                        <td style="background-color: yellow" ng-show="item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence && item.FechaVence  != ''">
                                            <input disabled type="date" class="form-control" ng-if="item.AplicaFechaEmision > 0" ng-model="item.FechaEmision" id="FechaEmision" />
                                        </td>
                                        <td ng-show="!(item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence  && item.FechaVence  != '')">
                                            <input disabled type="date" class="form-control" ng-if="item.AplicaFechaEmision > 0" ng-model="item.FechaEmision" id="FechaEmision" />
                                        </td>
                                        <td style="background-color: yellow" ng-show="item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence && item.FechaVence  != ''">
                                            <input disabled type="date" class="form-control" ng-if="item.AplicaFechaVencimiento > 0" ng-model="item.FechaVence" id="FechaVence" />
                                        </td>
                                        <td ng-show="!(item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence  && item.FechaVence  != '')">
                                            <input disabled type="date" class="form-control" ng-if="item.AplicaFechaVencimiento > 0" ng-model="item.FechaVence" id="FechaVence" />
                                        </td>
                                        <td style="background-color: yellow" ng-show="item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence && item.FechaVence  != ''">
                                            <button ng-if="item.ValorDocumento == 1 && item.AplicaDescargar > 0" class="button mini-button btn-success" data-toggle="tooltip" title="Ver Archivo" ng-click="DesplegarArchivo(item)">
                                                <span class="fa fa-file"></span>
                                            </button>
                                            <button ng-if="(item.ValorDocumento == 0 || item.ValorDocumento == Undefined) && item.AplicaDescargar > 0" class="button mini-button primary" disabled>
                                                <span class="fa fa-file"></span>
                                            </button>
                                        </td>
                                        <td ng-show="!(item.FechaVence  >  MIN_DATE && ACT_DATE  > item.FechaVence  && item.FechaVence  != '')">
                                            <button ng-if="item.ValorDocumento == 1 && item.AplicaDescargar > 0" class="button mini-button btn-success" data-toggle="tooltip" title="Ver Archivo" ng-click="DesplegarArchivo(item)">
                                                <span class="fa fa-file"></span>
                                            </button>
                                            <button ng-if="(item.ValorDocumento == 0 || item.ValorDocumento == Undefined) && item.AplicaDescargar > 0" class="button mini-button primary" disabled>
                                                <span class="fa fa-file"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">GPS</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <input disabled type="checkbox" ng-model="GPS.Tiene" ng-change="CamposGPS()"> Tiene GPS
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <label>Proveedor</label>
                                    <input disabled ng-change="MaskMayus()" maxlength="60" type="text" class="form-control" name="proveedor" id="proveedor" placeholder="Seleccione un proveedor" ng-model="Modelo.ProveedorGPS" uib-typeahead="proveedores as proveedores.NombreCompleto for proveedores in AutocompleteProveedor($viewValue)| filter:$viewValue | limitTo: 5" ng-required="false" ng-blur="Modelo.ProveedorGPS=VerificarAutocomplete(Modelo.ProveedorGPS)">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Usuario</label>
                                    <input disabled type="text" class="form-control" placeholder="Ingrese el usuario" Name="txtUsua" maxlength="20" ng-model="Modelo.UsuarioGPS">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Clave</label>
                                    <input disabled type="text" class="form-control" placeholder="Ingrese la clave" Name="txtClav" maxlength="20" ng-model="Modelo.ClaveGPS">
                                </div>
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Teléfono</label>
                                    <input disabled ng-change="MaskNumero()" type="text" placeholder="Digite n° De telefono" class="form-control" Name="txtTele" maxlength="10" ng-model="Modelo.TelefonoGPS">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="box box-default box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Estado</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-2 col-sm-4 col-xs-12">
                                    <label>Estado</label>
                                    <input disabled name="cmbEstado" class="form-control" ng-model="Modelo.Estado.Nombre" ng-change="AsignarJustificacionBloqueo(Modelo.Estado.Codigo)" />
                                </div>
                                <div class="col-md-3 col-sm-4 col-xs-12" id="CausaInactividad">
                                    <label>Causa inactividad</label>
                                    <input disabled name="cmbCausa" class="form-control" ng-model="Modelo.CausaInactividad.Nombre" />
                                </div>
                                <div class="col-md-7 col-sm-4 col-xs-12" id="JustificacionBloqueo">
                                    <div class="form-group">
                                        <label>Justificación inactividad</label>
                                        <input disabled type="text" class="form-control" Name="txtJustBloq" maxlength="500" ng-model="Modelo.JustificacionBloqueo" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--SECCIÓN BOTONES-->
            <div class="SeccionFiltros-Formulario" ng-show="Modelo.Codigo == 0">
                <div class="alert alert-danger" role="alert">
                    <ul>
                        <li>
                            <span>No se encontro un vehículo asociado al conductor del usuario actual</span>
                        </li>
                    </ul>
                </div>

            </div>
        </form>
    </div>
    <!--VENTANAS MODAL A PARTIR DE ESTA LINEA-->
    <div class="modal fade" id="modalConfirmacionGuardar" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>

                    <div class="modal-body">
                        <p>¿Está seguro de guardar la información?</p>
                    </div>

                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="Guardar()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Documento  -->
    <div class="modal fade" id="modalConfirmacionEliminarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p id="mensajearchivo"></p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="BorrarDocumento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal remplazar Eliminar Documento  -->
    <div class="modal fade" id="modalConfirmacionRemplazarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p>Ya hay un documento asignado ¿Desea remplazarlo?</p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="RemplazarDocumento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal Confirmación Eliminar Documento  -->
    <div class="modal fade" id="modalConfirmacionEliminarDocumento" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <form autocomplete="off">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">
                            GESTRANS.NET CARGA
                        </h4>
                    </div>
                    <div class="modal-body">
                        <p id="mensajearchivo"></p>
                    </div>
                    <div class="modal-footer">
                        <div class="pull-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Cancelar
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                            <button type="button" class="btn btn-primary" title="Aceptar" ng-click="BorrarDocumento()">
                                Aceptar
                                <span class="glyphicon glyphicon-ok-circle"></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <canvas id="CanvasVertical" width="500" height="700" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
    <canvas id="CanvasHorizontal" width="700" height="500" style="display:none">
        Accede a este script con un navegador que acepte canvas del HTML 5
    </canvas>
</div>